.row
  .col
    %h1.page__title= "Bestellung vom #{@shop_order.created_at.localtime.to_fs(:custom_datetime)}"

= render 'shop/beta_header' #blup: beta

= render 'summary'

.row{style: 'margin-top: 1.5rem;'}
  .col.middle-align
    %h5= t('shop_orders.delivery_address')

.row
  .col
    %p
      - if @shop_order.organisation.present?
        = @shop_order.organisation
        %br
      - if @shop_order.name.present?
        = @shop_order.name
        %br
      - if @shop_order.address.present?
        = @shop_order.address
        %br
      - if @shop_order.address2.present?
        = @shop_order.address2
        %br
      - if @shop_order.zip_code.present? || @shop_order.city.present?
        = "#{@shop_order.zip_code} #{@shop_order.city}".strip
        %br
      - if @shop_order.phone_number.present?
        = @shop_order.phone_number

.row{style: 'margin-top: 1.5rem;'}
  .col.middle-align
    %h5= "Customer " + t('activerecord.attributes.shop_order.email') #blup: translate
    %p= mail_to @shop_order.email

.row{style: 'margin-top: 1.5rem;'}
  .col.middle-align
    %h5= t('activerecord.attributes.shop_order.status')
    %p= @shop_seller_order.status_text

.row{style: 'margin-top: 1.5rem;'}
  .col.middle-align
    %h5= t('activerecord.attributes.shop_order.was_order_sent')
    = form_for @shop_seller_order, url: shop_seller_order_path(@shop_seller_order), html: { "data-turbo": "false" }, data: { turbo_method: :patch } do |f|
      .hidden= f.check_box :was_order_sent, checked: !@shop_seller_order.was_order_sent
      = f.button type: 'submit', class:'small square', style:'color: black; background: transparent; color: black; border: 0;' do
        %i.material-icons.admin-actions__link__icon= @shop_seller_order.was_order_sent ? 'check_box' : 'check_box_outline_blank'

-# back button s
.row
  .col.text-center
    = link_to shop_seller_orders_path do
      %button.btn.btn-default.btn-with-icon
        %i.material-icons{style: 'font-size: 20px;'} keyboard_backspace
        %span= t('back')
