.toast.shadow-sm{style: "opacity: 1; margin-bottom: 1rem;"}
  .toast-header.font-weight-bold{style: "display: flex; flex-wrap: wrap;"}
    %span.mr-auto
      - if team.region.present? && File.file?("#{Rails.root}/app/assets/images/regions/#{team.country_code}/#{team.region}.svg")
        = image_tag "regions/#{team.country_code}/#{team.region}.svg", height: '20px', width: '20px', style: ''
    %span.mr-auto= team.name_long
    %span
      %small= team.name_short
  .toast-body
    .row.text-center{style: 'align-items: center;'}
      .col
        %span= image_tag team.image_link, width: team.image_width, height: team.image_height
    .row{style: 'text-align: right; margin-bottom: -10px; margin-right: -10px;'}
      .col
        %span.material-icons{style: 'font-size: 20px; position: relative; top: 4px;'}= 'people'
        %span{style: 'font-size: 16px;'}= team.players.count
  %a.stretched-link{:href => team_path(team)}
