.row
  .col
    %h2 2020
  = link_to asset_url('rankings/norden_s1_20.jpg') do
    = image_tag 'rankings/norden_s1_20.jpg', height: '100%', width: '100%'

.row
  .col
    %h2 2019
  = link_to asset_url('rankings/norden_s2_19.jpg') do
    = image_tag 'rankings/norden_s2_19.jpg', height: '100%', width: '100%'
  = link_to asset_url('rankings/norden_s1_19.jpg') do
    = image_tag 'rankings/norden_s1_19.jpg', height: '100%', width: '100%'
