- set_meta_tags description: meta_tag_description('Rankings')

.row
  .col
    %h1.page__title= t('rankings.title')

%ul#rankings-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a#power_ranking-tab.nav-link.active{'data-toggle'=>'tab', href: '#power_ranking', role: 'tab', 'aria-controls'=>'all'}
      = t('rankings.official_power_ranking')
  %li.nav-item
    %a#region-tab.nav-link{'data-toggle'=>'tab', href: '#region', role: 'tab', 'aria-controls'=>'all'}
      = t('rankings.region_specific')

.tab-content#rankings-tabs-content
  -# Power Rankings ------------------------------------------------------------
  .tab-pane.fade.show.active#power_ranking{role: 'tabpanel', 'aria-labelledby'=>'power_ranking-tab'}
    %ul#power_rankings-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
      %li.nav-item
        %a#power_ranking_s2_19-tab.nav-link{'data-toggle'=>'tab', href: '#power_ranking_s2_19', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s2_19.title')
      %li.nav-item
        %a#power_ranking_s1_22-tab.nav-link.active{'data-toggle'=>'tab', href: '#power_ranking_s1_22', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s1_22.title')

    .tab-content#power_rankings-tabs-content
      -# Power Ranking S2 2019 -------------------------------------------------
      .tab-pane.fade#power_ranking_s2_19{role: 'tabpanel', 'aria-labelledby'=>'power_ranking_s2_19-tab'}
        = render 'rankings/uk/s2_19'
      -# Power Ranking S1 2022 ----------------------------------------------
      .tab-pane.fade.show.active#power_ranking_s1_22{role: 'tabpanel', 'aria-labelledby'=>'power_ranking_s1_22-tab'}
        = render 'rankings/uk/s1_22'

  -# Regions -------------------------------------------------------------------
  .tab-pane.fade#region{role: 'tabpanel', 'aria-labelledby'=>'region-tab'}
    %ul#region-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
      %li.nav-item
        %a#region_east_of_england-tab.nav-link{'data-toggle'=>'tab', href: '#region_east_of_england', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_east_of_england.title')
      %li.nav-item
        %a#region_ireland-tab.nav-link{'data-toggle'=>'tab', href: '#region_ireland', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_ireland.title')
      %li.nav-item
        %a#region_london-tab.nav-link{'data-toggle'=>'tab', href: '#region_london', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_london.title')
      %li.nav-item
        %a#region_midlands-tab.nav-link{'data-toggle'=>'tab', href: '#region_midlands', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_midlands.title')
      %li.nav-item
        %a#region_north_east-tab.nav-link{'data-toggle'=>'tab', href: '#region_north_east', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_north_east.title')
      %li.nav-item
        %a#region_north_west-tab.nav-link{'data-toggle'=>'tab', href: '#region_north_west', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_north_west.title')
      %li.nav-item
        %a#region_northern_ireland-tab.nav-link{'data-toggle'=>'tab', href: '#region_northern_ireland', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_northern_ireland.title')
      %li.nav-item
        %a#region_scotland-tab.nav-link{'data-toggle'=>'tab', href: '#region_scotland', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_scotland.title')
      %li.nav-item
        %a#region_south_east-tab.nav-link{'data-toggle'=>'tab', href: '#region_south_east', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_south_east.title')
      %li.nav-item
        %a#region_south_west-tab.nav-link{'data-toggle'=>'tab', href: '#region_south_west', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_south_west.title')
      %li.nav-item
        %a#region_wales-tab.nav-link{'data-toggle'=>'tab', href: '#region_wales', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.region_wales.title')
      -# %li.nav-item
      -#   %a#region_yorkshire_and_the_humber-tab.nav-link{'data-toggle'=>'tab', href: '#region_yorkshire_and_the_humber', role: 'tab', 'aria-controls'=>'all'}
      -#     = t('rankings.region_yorkshire_and_the_humber.title')

    .tab-content#region-tabs-content
      .tab-pane.fade#region_east_of_england{role: 'tabpanel', 'aria-labelledby'=>'region_east_of_england-tab'}
        = render 'rankings/uk/region_east_of_england'
      .tab-pane.fade#region_ireland{role: 'tabpanel', 'aria-labelledby'=>'region_ireland-tab'}
        = render 'rankings/uk/region_ireland'
      .tab-pane.fade#region_london{role: 'tabpanel', 'aria-labelledby'=>'region_london-tab'}
        = render 'rankings/uk/region_london'
      .tab-pane.fade#region_midlands{role: 'tabpanel', 'aria-labelledby'=>'region_midlands-tab'}
        = render 'rankings/uk/region_midlands'
      .tab-pane.fade#region_north_east{role: 'tabpanel', 'aria-labelledby'=>'region_north_east-tab'}
        = render 'rankings/uk/region_north_east'
      .tab-pane.fade#region_north_west{role: 'tabpanel', 'aria-labelledby'=>'region_north_west-tab'}
        = render 'rankings/uk/region_north_west'
      .tab-pane.fade#region_northern_ireland{role: 'tabpanel', 'aria-labelledby'=>'region_northern_ireland-tab'}
        = render 'rankings/uk/region_northern_ireland'
      .tab-pane.fade#region_scotland{role: 'tabpanel', 'aria-labelledby'=>'region_scotland-tab'}
        = render 'rankings/uk/region_scotland'
      .tab-pane.fade#region_south_east{role: 'tabpanel', 'aria-labelledby'=>'region_south_east-tab'}
        = render 'rankings/uk/region_south_east'
      .tab-pane.fade#region_south_west{role: 'tabpanel', 'aria-labelledby'=>'region_south_west-tab'}
        = render 'rankings/uk/region_south_west'
      .tab-pane.fade#region_wales{role: 'tabpanel', 'aria-labelledby'=>'region_wales-tab'}
        = render 'rankings/uk/region_wales'
      -# .tab-pane.fade#region_yorkshire_and_the_humber{role: 'tabpanel', 'aria-labelledby'=>'region_yorkshire_and_the_humber-tab'}
      -#   = render 'rankings/uk/region_yorkshire_and_the_humber'

:javascript
  document.addEventListener('turbolinks:load', function() {
    // show region anchor tag if provided
    var anchors = document.location.toString().split("#")
    if (anchors.length >= 2) {
      var anchor = anchors[1].toString();
      if (anchor != undefined) {
        if (anchor.startsWith('region')) {
          $('#power_ranking-tab').removeClass('active');
          $('#power_ranking').removeClass('show active');
          $('#region-tab').addClass('active');
          $('#region').addClass('show active');
          var region = anchor.split("_")[1].toString();
          $('#region_' + region + '-tab').addClass('show active');
        } else {
          $('#power_ranking-tab').addClass('active');
          $('#power_ranking').addClass('show active');
          $('#region-tab').removeClass('active');
          $('#region').removeClass('show active');
        }
      }
    }
  });
