- set_meta_tags description: meta_tag_description('Rankings')

.row
  .col
    %h1.page__title= t('rankings.title')

%ul#rankings-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a#power_ranking-tab.nav-link.active{'data-toggle'=>'tab', href: '#power_ranking', role: 'tab', 'aria-controls'=>'all'}
      = t('rankings.official_power_ranking')
  %li.nav-item
    %a#points-tab.nav-link{'data-toggle'=>'tab', href: '#points', role: 'tab', 'aria-controls'=>'all'}
      = t('rankings.tournament_specific')

.tab-content#rankings-tabs-content
  -# Power Rankings ------------------------------------------------------------
  .tab-pane.fade.show.active#power_ranking{role: 'tabpanel', 'aria-labelledby'=>'power_ranking-tab'}
    %ul#power_rankings-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
      %li.nav-item
        %a#s1_19-tab.nav-link{'data-toggle'=>'tab', href: '#s1_19', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s1_19.title')
      %li.nav-item
        %a#s2_19-tab.nav-link{'data-toggle'=>'tab', href: '#s2_19', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s2_19.title')
      %li.nav-item
        %a#s1_20-tab.nav-link{'data-toggle'=>'tab', href: '#s1_20', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s12_20.title')
      %li.nav-item
        %a#s1_21-tab.nav-link{'data-toggle'=>'tab', href: '#s1_21', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s12_21.title')
      %li.nav-item
        %a#s1_22-tab.nav-link{'data-toggle'=>'tab', href: '#s1_22', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s1_22.title')
      %li.nav-item
        %a#s2_22-tab.nav-link{'data-toggle'=>'tab', href: '#s2_22', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s2_22.title')
      %li.nav-item
        %a#s1_23-tab.nav-link{'data-toggle'=>'tab', href: '#s1_23', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s1_23.title')
      %li.nav-item
        %a#s2_23-tab.nav-link{'data-toggle'=>'tab', href: '#s2_23', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s2_23.title')
      %li.nav-item
        %a#s1_24-tab.nav-link{'data-toggle'=>'tab', href: '#s1_24', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s1_24.title')
      %li.nav-item
        %a#s2_24-tab.nav-link.active{'data-toggle'=>'tab', href: '#s2_24', role: 'tab', 'aria-controls'=>'all'}
          = t('rankings.s2_24.title')

    .tab-content#power_rankings-tabs-content
      -# Power Ranking S1 2019 -------------------------------------------------
      .tab-pane.fade#s1_19{role: 'tabpanel', 'aria-labelledby'=>'s1_19-tab'}
        = render 'rankings/ch/s1_19'

      -# Power Ranking S2 2019 -------------------------------------------------
      .tab-pane.fade#s2_19{role: 'tabpanel', 'aria-labelledby'=>'s2_19-tab'}
        = render 'rankings/ch/s2_19'

      -# Power Ranking S1&2 2020 -----------------------------------------------
      .tab-pane.fade#s1_20{role: 'tabpanel', 'aria-labelledby'=>'s1_20-tab'}
        = render 'rankings/ch/s1_20'

      -# Power Ranking S1 2021 -------------------------------------------------
      .tab-pane.fade#s1_21{role: 'tabpanel', 'aria-labelledby'=>'s1_21-tab'}
        = render 'rankings/ch/s1_21'

      -# Power Ranking S1 2022 -------------------------------------------------
      .tab-pane.fade#s1_22{role: 'tabpanel', 'aria-labelledby'=>'s1_22-tab'}
        = render 'rankings/ch/s1_22'

      -# Power Ranking S2 2022 -------------------------------------------------
      .tab-pane.fade#s2_22{role: 'tabpanel', 'aria-labelledby'=>'s2_22-tab'}
        = render 'rankings/ch/s2_22'

      -# Power Ranking S1 2023 -------------------------------------------------
      .tab-pane.fade#s1_23{role: 'tabpanel', 'aria-labelledby'=>'s1_23-tab'}
        = render 'rankings/ch/s1_23'

      -# Power Ranking S2 2023 -------------------------------------------------
      .tab-pane.fade#s2_23{role: 'tabpanel', 'aria-labelledby'=>'s2_23-tab'}
        = render 'rankings/ch/s2_23'

      -# Power Ranking S1 2024 -------------------------------------------------
      .tab-pane.fade#s1_24{role: 'tabpanel', 'aria-labelledby'=>'s1_24-tab'}
        = render 'rankings/ch/s1_24'

      -# Power Ranking S2 2024 -------------------------------------------------
      .tab-pane.fade.show.active#s2_24{role: 'tabpanel', 'aria-labelledby'=>'s2_24-tab'}
        = render 'rankings/ch/s2_24'

  -# Points --------------------------------------------------------------------
  .tab-pane.fade#points{role: 'tabpanel', 'aria-labelledby'=>'points-tab'}
    = render 'rankings/ch/points', players: @players
    -# %ul#power_rankings-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
    -#   %li.nav-item
    -#     %a#points_2021-tab.nav-link.active{'data-toggle'=>'tab', href: '#points_2021', role: 'tab', 'aria-controls'=>'all'}
    -#       2021
    -#   %li.nav-item
    -#     %a#points_2020-tab.nav-link{'data-toggle'=>'tab', href: '#points_2020', role: 'tab', 'aria-controls'=>'all'}
    -#       2020
    -#   %li.nav-item
    -#     %a#points_2019-tab.nav-link{'data-toggle'=>'tab', href: '#points_2019', role: 'tab', 'aria-controls'=>'all'}
    -#       2019
    -#
    -# .tab-content#power_rankings-tabs-content
    -#   -# Power Ranking S2 2019 -------------------------------------------------
    -#   .tab-pane.fade.show.active#points_2020{role: 'tabpanel', 'aria-labelledby'=>'s2_19-tab'}
    -#     = render 'rankings/ch/points', players: @players, year: '2020'
    -#
    -#   -# Power Ranking S1 2019 -------------------------------------------------
    -#   .tab-pane.fade#points_2019{role: 'tabpanel', 'aria-labelledby'=>'s1_19-tab'}
    -#     = render 'rankings/ch/points', players: @players_2019, year: '2019'

:javascript
  document.addEventListener('turbolinks:load', function() {
    // show points anchor tag if provided
    var anchors = document.location.toString().split("#")
    if (anchors.length >= 2) {
      var anchor = anchors[1].toString();
      if (anchor != undefined) {
        if (anchor.startsWith('points')) {
          $('#power_ranking-tab').removeClass('active');
          $('#power_ranking').removeClass('show active');
          $('#points-tab').addClass('active');
          $('#points').addClass('show active');
        } else {
          $('#power_ranking-tab').addClass('active');
          $('#power_ranking').addClass('show active');
          $('#points-tab').removeClass('active');
          $('#points').removeClass('show active');
        }
      }
    }
  });
