.row
  .col
    %h1.page__title= "Rankings"

-# %ul#rankings-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
-#   %li.nav-item
-#     %a#A-tab.nav-link.active{'data-toggle'=>'tab', href: '#A', role: 'tab', 'aria-controls'=>'all'}
-#       = 'A'
-#   %li.nav-item
-#     %a#B-tab.nav-link{'data-toggle'=>'tab', href: '#B', role: 'tab', 'aria-controls'=>'all'}
-#       = 'B'

.tab-content#rankings-tabs-content
  .tab-pane.fade.show.active#a{role: 'tabpanel', 'aria-labelledby'=>'a-tab'}
    .rankings__filter
      .row
        .rankings__filter__button= link_to 'Overall', rankings_path(filter: 'all'), class: "btn #{(params[:filter].nil? or params[:filter] == 'all') ? 'btn-sstm' : 'btn-ghost'}"
        .rankings__filter__button= link_to 'Seed points', rankings_path(filter: 'seed_points'), class: "btn #{(params[:filter] == 'seed_points') ? 'btn-sstm' : 'btn-ghost'}"
        - tournament_majors.each do |major|
          .rankings__filter__button= link_to major, rankings_path(filter: 'major', major: major), class: "btn #{(params[:filter] == 'major' and params[:major] == major) ? 'btn-sstm' : 'btn-ghost'}"
      .row
        - tournament_cities.each do |city|
          .rankings__filter__button= link_to "Weekly #{city}", rankings_path(filter: city.downcase), class: "btn #{params[:filter] == city.downcase ? 'btn-sstm' : 'btn-ghost'}"
      .row
        .col{style: 'font-size: 12px;'}
          (Note: Only on SwissSmash registered players will appear in these rankings)

    %table.table.table-hover.table-borderless
      %thead.table-header
        %tr
          %th.text-center #
          %th.text-center Points
          %th Gamer tag
          %th.text-center Mains
          %th.text-center.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell Participations
          %th.text-center.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell W/L

      %tbody.table-content.with-show
        - if @players.any?
          - last_player_points = nil
          - @players.each_with_index do |player, i|
            - if (params[:filter].nil? or params[:filter] == 'all' or params[:filter] == 'seed_points')
              - if params[:filter] == 'seed_points'
                - points = player.seed_points.round(2)
              - else
                - points = player.points
              - participations = player.participations
              - if player.wins == 0 and player.losses == 0
                - win_loss_ratio = nil
              - else
                - win_loss_ratio = player.win_loss_ratio
            - else
              - results_sum = player.results_sum(params[:major] || params[:filter])
              - points = results_sum[0]
              - participations = results_sum[1]
              - win_loss_ratio = results_sum[2]
            - if participations > 0
              %tr{'data-id': player.id, 'data-component'=>'player'}
                %td.text-center= (last_player_points == points) ? '' : "#{i+1}."
                %td.text-center= points
                - last_player_points = points
                %td= player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
                %td.text-center
                  - if player.main_characters.any?
                    %div
                      - player.main_characters[0...3].each do |char|
                        - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                          = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                %td.text-center.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell= participations
                %td.text-center.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell
                  = win_loss_ratio.nil? ? '-' : "#{win_loss_ratio} %"

                - if current_user.present? and current_user.super_admin?
                  %td.admin-list-actions
                    .admin-list-actions__link
                      = link_to edit_player_path(player), class:'btn btn-ghost btn-square' do
                        %span.material-icons.admin-actions__link__icon= 'edit'

                    .admin-list-actions__link
                      = link_to player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
                        %span.material-icons.admin-actions__link__icon= 'delete'

    - if !@players.any?
      %p{style: 'text-align: center;'}
        No players found yet
