.calendar
  #fullcalendar{data: {events: @full_calendar_events}}

  .calendar__footer
    .row
      .col
        .calendar__footer__legend
          = render 'color_legend'
      .col
        .calendar__footer__actions.mb-3
          %strong= 'ICS-Link: '
          - ics_link_path = (request.base_url + calendar_path + '.ics')
          %span.copy-gamer-tag{style: 'font-size: 12px;', 'data-value': ics_link_path}= link_to ics_link_path.gsub('http://', '').gsub('https://', ''), ics_link_path, onclick:"event.preventDefault();"
        - unless session['country_code'] == 'ch'
          .calendar__footer__actions.mb-3
            %strong= t('calendar.switzerland') + ': '
            %span{style: 'font-size: 12px;'}= link_to "www.swisssmash.ch/calendar", "https://www.swisssmash.ch/calendar", target: '_blank'
        - unless session['country_code'] == 'de'
          .calendar__footer__actions.mb-3
            %strong= t('calendar.germany') + ': '
            %span{style: 'font-size: 12px;'}= link_to "www.germanysmash.de/calendar", "https://www.germanysmash.de/calendar", target: '_blank'
        - unless session['country_code'] == 'fr'
          .calendar__footer__actions.mb-3
            %strong= t('calendar.france') + ': '
            %span{style: 'font-size: 12px;'}= link_to "www.smashultimate.fr/calendar", "https://www.smashultimate.fr/calendar", target: '_blank'
        - unless session['country_code'] == 'it'
          .calendar__footer__actions.mb-3
            %strong= t('calendar.italy') + ': '
            %span{style: 'font-size: 12px;'}= link_to "www.italysmash.it/calendar", "https://www.italysmash.it/calendar", target: '_blank'
        .calendar__footer__actions
          %strong= t('calendar.austria') + ': '
          %span{style: 'font-size: 12px;'}= link_to "https://smashbrothers.at", " https://smashbrothers.at", target: '_blank'


:coffeescript
  document.addEventListener 'turbolinks:load', ->
    calendar = $('#fullcalendar')
    calendar.fullCalendar
      header:
        left: 'title'
        center: ''
        right: 'today month,agendaWeek,agendaDay prev,next'
      allDayText: I18n.t('calendar.allDayText')
      buttonText:
        today: I18n.t('calendar.buttonText.today')
        month: I18n.t('calendar.buttonText.month')
        agendaWeek: I18n.t('calendar.buttonText.agendaWeek')
        agendaDay: I18n.t('calendar.buttonText.agendaDay')
      contentHeight: 600
      monthNames: I18n.t('calendar.monthNames')
      monthNamesShort: I18n.t('calendar.monthNamesShort')
      dayNames: I18n.t('calendar.dayNames')
      dayNamesShort: I18n.t('calendar.dayNamesShort')
      views:
        month:
          titleFormat: 'MMMM YYYY'
        agendaWeek:
          titleFormat: 'DD. MMMM YYYY'
          columnFormat: 'ddd, DD.MM.'
        agendaDay:
          titleFormat: 'DD. MMMM YYYY'
      defaultView: 'month'
      timeFormat: 'h(:mm)a'
      events: calendar.data('events')
      firstDay: 1
      eventClick: (event) ->
        if event.url and event.url[0] != '/'
          if typeof gtag == 'function'
            gtag('event', 'click', { 'event_category': 'external_url', 'event_label': event.url });
          window.open event.url, '_blank'
          return false

    eventCalendar = ->
      $('#fullcalendar').fullCalendar {calendar}

    clearCalendar = ->
      $('#fullcalendar').fullCalendar 'delete'
      $('#fullcalendar').html ''
      return

    $(document).on 'turbolinks:load', eventCalendar
    $(document).on 'turbolinks:before-cache', clearCalendar
