- set_meta_tags description: meta_tag_description('Calendar')

.row
  .col
    %h1.page__title= t('calendar.title')

-# Advertisement image
- if current_user.present? && current_user.has_role?('tournament_organizer')
  .row.text-center{style: 'margin-bottom: 10px;'}
    .col
      = link_to '/informations#contact' do
        = image_tag('no-image.svg', height: '100px', width: '100px', alt: 'no_image logo', style: "background: white;")
        %span{style: 'position: absolute; bottom: 18px; left: 0; right: 0; font-size: 8px;'} Your next major?
        %span{style: 'position: absolute; bottom: 6px; left: 0; right: 0; font-size: 8px;'} (only visible for TOs)

-# Region filters
- if session['country_code'] == 'is'
  .hidden
    - regions_raw_from(session['country_code']).each do |region|
      = link_to calendar_path(filter: region) do
        = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '30px', width: '30px', alt: "#{region} image", id: region, style: "margin: 0px 5px; padding: 2.5px; border-bottom: #{params[:filter] == region ? 'solid 1px black' : ''};"
    = image_tag "regions/is/iceland.svg", height: '30px', width: '30px', alt: "iceland image", id: 'iceland', style: "margin: 0px 5px; padding: 2.5px;"
- else
  .row
    .col.tournaments__filter{style: 'justify-content: center; margin-bottom: 0;'}
      .tournaments__filter__button= link_to t('tournaments.all'), calendar_path(filter: 'all'), class: "btn #{(params[:filter].nil? or params[:filter].empty? or params[:filter] == 'all') ? 'btn-default' : 'btn-ghost'}"
      - regions_raw_from(session['country_code']).each do |region|
        = link_to calendar_path(filter: region) do
          .tooltip.tooltip_region{style: 'position: relative;'}
            = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '30px', width: '30px', alt: "#{region} image", id: region, style: "margin: 0px 5px; padding: 2.5px; border-bottom: #{params[:filter] == region ? 'solid 1px black' : ''};"
            %span.tooltiptext{style: 'left: calc(50% - 12px); bottom: calc(150% - 8px);'}
              = t("defines.regions.#{region}")

= render 'calendar'

.calendar
  .calendar__footer
    .row
      .col
        .calendar__footer__legend
          = render 'color_legend'
      .col{style: 'margin-top: -10px;'}
        = render 'partials/partners', width: '30px', height: '30px'

    .row
      .col
        .calendar__footer__actions
          %strong= 'ICS-Link: '
          - ics_link_path = (request.base_url + calendar_path + '.ics' + (params[:filter].present? ? "?filter=#{params[:filter]}" : ""))
          %span.copy-gamer-tag{style: 'font-size: 12px;', 'data-value': ics_link_path}= link_to ics_link_path.gsub('http://', '').gsub('https://', ''), ics_link_path, onclick:"event.preventDefault();"
        .calendar__footer__actions
          %strong= 'iFrame: '
          - iframe_link_path = (request.base_url + calendar_for_iframe_path + (params[:filter].present? ? "?filter=#{params[:filter]}" : ""))
          %span{style: 'font-size: 12px;'}= link_to iframe_link_path.gsub('http://', '').gsub('https://', ''), iframe_link_path

- if current_user.present?
  .admin-actions
    - if current_user.admin? || current_user.has_role?('tournament_organizer')
      - if current_user.challonge_username.present? && current_user.challonge_api_key.present?
        .admin-actions__link
          = link_to new_tournament_path, class:'btn btn-default btn-square' do
            %span.material-icons.admin-actions__link__icon= 'add'
      - else
        .admin-actions__link
          = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
            %span.material-icons.admin-actions__link__icon= 'info'
        = render '/partials/info', info_body: t('tournaments.info_body_challonge') #infoModal
    - else
      .admin-actions__link
        = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
          %span.material-icons.admin-actions__link__icon= 'info'
      = render '/partials/info', info_body: t('tournaments.info_body') #infoModal
