<!DOCTYPE html>
<html>
  <head>
    <title>Thredded | <%= yield :thredded_page_title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%- if session['country_code'] == 'ch' %>
      <%= stylesheet_link_tag 'thredded_ch', 'data-turbolinks-track': 'reload' %>
    <%- elsif session['country_code'] == 'de' %>
      <%= stylesheet_link_tag 'thredded_de', 'data-turbolinks-track': 'reload' %>
    <%- elsif session['country_code'] == 'fr' %>
      <%= stylesheet_link_tag 'thredded_fr', 'data-turbolinks-track': 'reload' %>
    <%- elsif session['country_code'] == 'it' %>
      <%= stylesheet_link_tag 'thredded_it', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbolinks-track': 'reload' %>
    <%-# <%= RailsGravatar.prefetch_dns_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
