.row
  .col
    %h1.page__title= t('shop_orders.title_single')

= render 'summary'

.row{style: 'margin-top: 1.5rem;'}
  .col.middle-align
    %h5= t('shop_orders.delivery_address')

.new-shop_order
  = render 'form'

- back_path = @shop_order.new_record? ? shop_shopping_cart_path : shop_orders_path
.row
  -# back button m & l
  .d-none.d-md-block.col-md-6.d-lg-none.d-xl-block.text-left
    = link_to back_path do
      %button.btn.btn-default.btn-with-icon
        %i.material-icons{style: 'font-size: 20px;'} keyboard_backspace
        %span= t('back')
  -# update button
  .d-none.d-md-block.col-md-6.d-lg-none.d-xl-block.text-right
    = link_to 'javascript:;', onclick: "document.getElementById('edit_shop_order_#{@shop_order.id}').submit();", class: 'btn btn-default btn-with-icon', style:'margin: 0;', disabled: @shop_order.was_order_sent do
      %i.material-icons{style: 'font-size: 20px;'} save
      %span= t('save')

.row
  -# update button
  .col-12.d-block.d-md-none.d-lg-block.d-xl-none.text-center
    = link_to 'javascript:;', onclick: "document.getElementById('edit_shop_order_#{@shop_order.id}').submit();", class: 'btn btn-default btn-with-icon', style:'margin: 0;', disabled: @shop_order.was_order_sent do
      %i.material-icons{style: 'font-size: 20px;'} save
      %span= t('save')
  -# back button s
  .col-12.d-block.d-md-none.d-lg-block.d-xl-none.text-center.mt-2
    = link_to back_path do
      %button.btn.btn-default.btn-with-icon
        %i.material-icons{style: 'font-size: 20px;'} keyboard_backspace
        %span= t('back')
