- set_meta_tags description: meta_tag_description('Orders')
.row
  .col
    %h1.page__title= t('shop.orders.title_short')

= render 'shop/beta_header' #blup: beta

.row
  .col.middle-align
    %p= t('shop.orders.total_count') + " = #{@shop_orders.count}"

- if @shop_orders.any?
  .shopping_order-list{data: { controller: "tables copy" }, style: 'overflow: auto;'}
    %table.table.table-hover.border
      %thead.table-header
        %tr
          %th.text-center= t('activerecord.attributes.shopping_cart.created_at')
          -# %th.text-left= t('shop.products.title')
          %th.text-center= t('shop.shopping_cart.total')
          %th.m.l.text-center= t('activerecord.attributes.shop_order.email')
          %th.text-center= t('activerecord.attributes.shopping_cart.user_id')
          %th.m.l.text-center= t('activerecord.attributes.shopping_cart.client_ip')
          %th.text-center= t('activerecord.attributes.shop_order.was_order_paid')
          -# %th.text-center= 'payment'#t('activerecord.attributes.shop_order.payment_method')
          %th.text-center= t('activerecord.attributes.shop_order.status')
          %th.m.l.text-right= t('actions')
      %tbody.table-content.with-show.shopping_order-list-body#shop_orders
        - turnover = 0
        - @shop_orders.each do |shop_order|
          - shopping_cart = shop_order.shopping_cart
          %tr{data: { id: shop_order.id, component: 'shop/order', action: "click->tables#show" }, style: "cursor: context-menu; background-color: #{shop_order.recently_updated? ? 'aliceblue' : ''}; color: #{shop_order.recently_updated? ? 'black' : ''};"}
            %td.text-center= shop_order.created_at.localtime.to_fs(:custom_datetime)
            -# %td.text-left{style: 'overflow: hidden;'}
            -#   - shopping_cart.purchases.each do |purchase|
            -#     = "#{purchase.quantity}x #{purchase.product_name}"
            -#     %br
            %td.text-center
              - total_price = shopping_cart.total_price
              = shopping_cart.total_price_text(total_price)
              - turnover = turnover + total_price
            - if current_user.super_admin?
              %td.m.l.text-center{style: 'overflow: hidden;'}= shop_order.email
              %td.text-center= shopping_cart.username if shopping_cart.user.present?
              %td.m.l.text-center= shopping_cart.client_ip
              %td.min.text-center
                = form_for shop_order, url: shop_order_path(shop_order), html: { "data-turbo": "false" }, data: { turbo_method: :patch } do |f|
                  .hidden= f.check_box :was_order_paid, checked: !shop_order.was_order_paid
                  = f.button type: 'submit', class:'small square', style:'background: transparent; color: black; border: 0;' do
                    %i.material-icons.admin-actions__link__icon= shop_order.was_order_paid ? 'check_box' : 'check_box_outline_blank'
            %td.text-center= shop_order.status_text
            %td.m.l.text-center
              .admin-list-actions.text-right
                .admin-list-actions__link
                  = button_to shop_order_path(shop_order), method: :delete, form: { data: { turbo_method: :delete, turbo_confirm: t('confirm') } }, class: 'small square', style:'margin: 0 0 0 5px; background: transparent; border: 0;' do
                    %i.material-icons.admin-actions__link__icon= 'delete'
        -# Turnover row
        %tr.total-row{style: 'cursor: initial;'}
          %td
          -# %td
          %td.text-center= turnover.round(1)
          %td.text-center= t('shop.orders.turnover') + ' (5%)'
          %td.text-center
            %strong= (turnover*0.05).round(1)
          %td
          %td
          %td
          %td

- else
  .row
    .col.text-center
      = t('shop.orders.no_orders_yet')
  .row
    -# shop button
    .col.text-center
      = link_to shop_path do
        %button.btn.btn-default.btn-with-icon
          %i.material-icons{style: 'font-size: 20px;'} store
          %span= t('shop.title')


-# Shopping carts
- sc_ids = @shop_orders.map(&:shopping_cart_id)
- shopping_carts = Shop::ShoppingCart.where.not(id: sc_ids).includes(:user, :purchases, purchases: :product).order(created_at: :desc)
.row{style: 'margin-top: 2rem;'}
  .col.middle-align
    %p= t('shop.shopping_cart.total_count') + " = #{shopping_carts.count}"
.shopping_cart-list{data: { controller: "tables" }, style: 'overflow: auto;'}
  %table.table.border
    %thead.table-header
      %tr
        %th.text-center= t('activerecord.attributes.shopping_cart.created_at')
        %th.text-center= 'Country'
        -# %th.text-left= t('shop.products.title')
        %th.text-left= t('shop.shopping_cart.total')
        %th.text-center= t('activerecord.attributes.shopping_cart.user_id')
        %th.m.l.text-center= t('activerecord.attributes.shopping_cart.client_ip')
        %th.text-center= t('activerecord.attributes.shopping_cart.has_checked_out')
        %th.m.l.text-right= t('actions')
    %tbody.shopping_cart-list-body#shopping_carts
      - turnover = 0
      - shopping_carts.each do |shopping_cart|
        %tr
          %td.text-center= shopping_cart.created_at.localtime.to_fs(:custom_datetime)
          %td.text-center= shopping_cart.country_code
          -# %td.text-left
          -#   - shopping_cart.purchases.each do |purchase|
          -#     = "#{purchase.quantity}x #{purchase.product_name}"
          -#     %br
          %td.text-left
            - total_price = shopping_cart.total_price
            = shopping_cart.total_price_text(total_price)
            - turnover = turnover + total_price
          %td.text-center= shopping_cart.username if shopping_cart.user.present?
          %td.m.l.text-center= shopping_cart.client_ip
          %td.min.text-center
            = button_tag class:'small square', style:'background: transparent; color: black; border: 0;', disabled: true do
              %i.material-icons.admin-actions__link__icon= shopping_cart.has_checked_out ? 'check_box' : 'check_box_outline_blank'
          %td.m.l.text-center
            .admin-list-actions.text-right
              .admin-list-actions__link
                = button_to shop_shopping_cart_path(id: shopping_cart.id), method: :delete, form: { data: { turbo_method: :delete, turbo_confirm: t('confirm') } }, class: 'small square', style:'margin: 0 0 0 5px; background: transparent; border: 0;' do
                  %i.material-icons.admin-actions__link__icon= 'delete'
