.row
  .col
    %h2 2023
.row.center
  = link_to asset_url('rankings/uk/midlands_s2_23.jpg') do
    = image_tag 'rankings/uk/midlands_s2_23.jpg', height: '100%', width: '100%', alt: 'midlands s2 23 image'

.row.mt-3
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/uk/midlands_s1_22.jpg') do
    = image_tag 'rankings/uk/midlands_s1_22.jpg', height: '100%', width: '100%', alt: 'midlands s1 22 image'

.row.mt-3
  .col
    %h2 2021
.row.center
  = link_to asset_url('rankings/uk/midlands_s2_21.jpg') do
    = image_tag 'rankings/uk/midlands_s2_21.jpg', height: '100%', width: '100%', alt: 'midlands s2 21 image'

.row.mt-3
  .col
    %h2 2020
.row.center
  = link_to asset_url('rankings/uk/midlands_s1_20.jpg') do
    = image_tag 'rankings/uk/midlands_s1_20.jpg', height: '100%', width: '100%', alt: 'midlands s1 20 image'
