.row
  .col
    %h2 2023
.row.center
  = link_to asset_url('rankings/uk/ireland_s2_23.jpg') do
    = image_tag 'rankings/uk/ireland_s2_23.jpg', height: '100%', width: '100%', alt: 'ireland s2 23 image'

.row.mt-3
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/uk/ireland_s1_22.jpg') do
    = image_tag 'rankings/uk/ireland_s1_22.jpg', height: '100%', width: '100%', alt: 'ireland s1 22 image'

.row.mt-3
  .col
    %h2 2021
.row.center
  = link_to asset_url('rankings/uk/ireland_s2_21.jpg') do
    = image_tag 'rankings/uk/ireland_s2_21.jpg', height: '100%', width: '100%', alt: 'ireland s2 21 image'
