- set_meta_tags description: meta_tag_description('Statistics')

.statistic
  .row
    .col
      %h1.page__title= t('statistics.title2')

  .statistic__stats
    .row
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong.font_large
            = @player_count_total
          %span
            = t("statistics.count_total")
  - if session['country_code'] == 'ch'
    .statistic__stats
      .row
        .col
          .statistic__stats__single
            %strong
              = @player_count_2019
            %span
              = t('statistics.in_2019')
        .col
          .statistic__stats__single
            %strong
              = @player_count_2020
            %span
              = t('statistics.in_2020')
        .col
          .statistic__stats__single
            %strong
              = @player_count_2021
            %span
              = t('statistics.in_2021')
        .col
          .statistic__stats__single
            %strong
              = @player_count_2022
            %span
              = t('statistics.in_2022')
        .col
          .statistic__stats__single
            %strong
              = @player_count_2023
            %span
              = t('statistics.in_2023')
        .col
          .statistic__stats__single.statistic__stats__single--last
            %strong
              = @player_count_2024
            %span
              = t('statistics.in_2024')

  .statistic__stats
    .row
      - males_count = @players.where(gender: "male").count
      - females_count = @players.where(gender: "female").count
      - others_count = @players.where(gender: "other").count
      .col
        .statistic__stats__single
          %strong
            = "#{@player_count_total > 0 ? (males_count.to_f * 100 / @player_count_total).round(2) : 0} %"
          %span
            = t('statistics.male')
      .col
        .statistic__stats__single
          %strong
            = "#{@player_count_total > 0 ? (females_count.to_f * 100 / @player_count_total).round(2) : 0} %"
          %span
            = t('statistics.female')
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong
            = "#{@player_count_total > 0 ? (others_count.to_f * 100 / @player_count_total).round(2) : 0} %"
          %span
            = t('statistics.other')


  .statistic__stats
    - current_year = Time.zone.now.year
    .row
      .col
        .statistic__stats__single
          %strong
            = current_year - @players.maximum(:birth_year).to_i
          %span
            = t('statistics.youngest')
      .col
        .statistic__stats__single
          %strong
            - by_array = @players.map{ |p| p.birth_year}.compact
            = by_array.size > 0 ? (current_year - by_array.sum.to_f / by_array.size).round(2) : 0
          %span
            = t('statistics.mean-age')
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong
            = current_year - @players.minimum(:birth_year).to_i
          %span
            = t('statistics.oldest')

  .statistic__stats
    .row
      - roles_raw = roles_raw_from(session['country_code']).prepend('admin')
      -# mobile view (small and below)
      .col.d-md-none
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t("players.role")
              %th.text-center= t('statistics.number_of_players')
          %tbody.table-content.with-show
            - roles_raw.each do |role|
              %tr{'data-internal_url': players_path(filter: 'role', 'filter-data': role, anchor: 'roles')}
                %td.text-center
                  %span.badge.badge-pill.badge-primary{style: "background-color: #{role_color(role)}"}= t(role, scope: 'defines.roles')
                %td.text-center= @players.tagged_with(role).count
      -# stanard view (medium and above)
      .col.d-none.d-md-block
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t("players.role")
              %th.text-center= t('statistics.number_of_players')
          %tbody.table-content.with-show
            - roles_raw[0... (roles_raw.length.to_f/2).ceil].each do |role|
              %tr{'data-internal_url': players_path(filter: 'role', 'filter-data': role, anchor: 'roles')}
                %td.text-center
                  %span.badge.badge-pill.badge-primary{style: "background-color: #{role_color(role)}"}= t(role, scope: 'defines.roles')
                %td.text-center= @players.tagged_with(role).count
      .col.d-none.d-md-block
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t("players.role")
              %th.text-center= t('statistics.number_of_players')
          %tbody.table-content.with-show
            - roles_raw[(roles_raw.length.to_f/2).ceil.. -1].each do |role|
              %tr{'data-internal_url': players_path(filter: 'role', 'filter-data': role, anchor: 'roles')}
                %td.text-center
                  %span.badge.badge-pill.badge-primary{style: "background-color: #{role_color(role)}"}= t(role, scope: 'defines.roles')
                %td.text-center= @players.tagged_with(role).count

  .statistic__stats
    .row
      - regions_raw = regions_raw_from(session['country_code'])
      -# mobile view (small and below)
      .col.d-md-none
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t("statistics.region_#{session['country_code']}")
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            - regions_raw.each do |region|
              - region_players = @players.where(region: region)
              %tr{'data-internal_url': players_path(filter: 'region', 'filter-data': region, anchor: 'data')}
                %td.text-center
                  .tooltip.tooltip_region
                    = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '25px', width: '25px', alt: "#{region} image", style: 'position: absolute; top: 10px;'
                    %span.tooltiptext
                      = t("defines.regions.#{region}")
                %td.text-center
                  = region_players.count
                %td.text-center
                  - wl_array = region_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                  = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
      -# stanard view (medium and above)
      .col.d-none.d-md-block
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t("statistics.region_#{session['country_code']}")
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            - regions_raw[0... (regions_raw.length.to_f/2).ceil].each do |region|
              - region_players = @players.where(region: region)
              %tr{'data-internal_url': players_path(filter: 'region', 'filter-data': region, anchor: 'data')}
                %td.text-center
                  .tooltip.tooltip_region
                    = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '25px', width: '25px', alt: "#{region} image", style: 'position: absolute; top: 10px;'
                    %span.tooltiptext
                      = t("defines.regions.#{region}")
                %td.text-center
                  = region_players.count
                %td.text-center
                  - wl_array = region_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                  = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
      .col.d-none.d-md-block
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t("statistics.region_#{session['country_code']}")
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            - regions_raw[(regions_raw.length.to_f/2).ceil.. -1].each do |region|
              - region_players = @players.where(region: region)
              %tr{'data-internal_url': players_path(filter: 'region', 'filter-data': region, anchor: 'data')}
                %td.text-center
                  .tooltip.tooltip_region
                    = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '25px', width: '25px', alt: "#{region} image", style: 'position: absolute; top: 10px;'
                    %span.tooltiptext
                      = t("defines.regions.#{region}")
                %td.text-center
                  = region_players.count
                %td.text-center
                  - wl_array = region_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                  = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"

  .statistic__stats{style: "margin-top: 0;"}
    .row
      - all_char_files = Dir.entries("#{Rails.root}/app/assets/images/characters").map{|f| f if !f.include?("200x200") and f[0] != '.'}.compact.sort
      -# mobile view (small and below)
      .col.d-md-none
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.character')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            .main_chars
              - all_char_files.each do |file|
                - character = file.sub('.png', '')
                - character_players = @players.where("? = ANY (main_characters)", character)
                %tr{'data-internal_url': players_path(filter: 'character', 'filter-data': character)}
                  %td.text-center
                    .main_char
                      .tooltip.tooltip_character
                        = image_tag "characters/#{file}", height: '25px', width: '25px', alt: "#{file} icon"
                        %span.tooltiptext.tooltiptext_character
                          = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
                  %td.text-center
                    = character_players.count
                  %td.text-center
                    - wl_array = character_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                    = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
      -# stanard view (medium and above)
      .col.d-none.d-md-block
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.character')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            .main_chars
              - all_char_files[0... (all_char_files.length.to_f/2).ceil].each do |file|
                - character = file.sub('.png', '')
                - character_players = @players.where("? = ANY (main_characters)", character)
                %tr{'data-internal_url': players_path(filter: 'character', 'filter-data': character)}
                  %td.text-center
                    .main_char
                      .tooltip.tooltip_character
                        = image_tag "characters/#{file}", height: '25px', width: '25px', alt: "#{file} icon"
                        %span.tooltiptext.tooltiptext_character
                          = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
                  %td.text-center
                    = character_players.count
                  %td.text-center
                    - wl_array = character_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                    = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
      .col.d-none.d-md-block
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.character')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            .main_chars
              - all_char_files[(all_char_files.length.to_f/2).ceil.. -1].each do |file|
                - character = file.sub('.png', '')
                - character_players = @players.where("? = ANY (main_characters)", character)
                %tr{'data-internal_url': players_path(filter: 'character', 'filter-data': character)}
                  %td.text-center
                    .main_char
                      .tooltip.tooltip_character
                        = image_tag "characters/#{file}", height: '25px', width: '25px', alt: "#{file} icon"
                        %span.tooltiptext.tooltiptext_character
                          = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
                  %td.text-center
                    = character_players.count
                  %td.text-center
                    - wl_array = character_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                    = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"

  - if session['country_code'] == 'ch'
    .statistic__stats
      .row
        .col
          %table.table.table-hover.table-borderless
            %thead.table-header
              %tr
                %th.text-center= t("statistics.player_activity")
                %th.text-center= t("statistics.active")
                %th.text-center= t('statistics.inactive')
            %tbody.table-content.with-show
              %tr{'data-internal_url': players_path(filter: 'activity', 'filter-data': 365)}
                %td.text-center= "365 #{t('statistics.days')}"
                %td.text-center= @player_count_active_365
                %td.text-center= @player_count_total - @player_count_active_365
              %tr{'data-internal_url': players_path(filter: 'activity', 'filter-data': 90)}
                %td.text-center= "90 #{t('statistics.days')}"
                %td.text-center= @player_count_active_90
                %td.text-center= @player_count_total - @player_count_active_90
              %tr{'data-internal_url': players_path(filter: 'activity', 'filter-data': 30)}
                %td.text-center= "30 #{t('statistics.days')}"
                %td.text-center= @player_count_active_30
                %td.text-center= @player_count_total - @player_count_active_30
              %tr{'data-internal_url': players_path(filter: 'activity', 'filter-data': 7)}
                %td.text-center= "7 #{t('statistics.days')}"
                %td.text-center= @player_count_active_7
                %td.text-center= @player_count_total - @player_count_active_7
      .row.text-center{style: 'font-size: .75rem;'}
        .col
          %p= t("statistics.when_active")
