- set_meta_tags description: 'Swiss Smash Statistics'

.statistic
  .row
    .col
      %h1.page__title= t('statistics.title2')

  .statistic__stats
    .row
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong.font_large
            = @player_count_total
          %span
            = t('statistics.count_total')
  .statistic__stats
    .row
      .col
        .statistic__stats__single
          %strong
            = @player_count_2019
          %span
            = t('statistics.in_2019')
      .col
        .statistic__stats__single
          %strong
            = @player_count_2020
          %span
            = t('statistics.in_2020')
      .col
        .statistic__stats__single
          %strong
            = @player_count_2021
          %span
            = t('statistics.in_2021')
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong
            = @player_count_2022
          %span
            = t('statistics.in_2022')

  .statistic__stats
    .row
      - males_count = @players.where(gender: "male").count
      - females_count = @players.where(gender: "female").count
      - undefined_count = @players.count - males_count - females_count
      .col
        .statistic__stats__single
          %strong
            = "#{@player_count_total > 0 ? (males_count.to_f * 100 / @player_count_total).round(2) : 0} %"
          %span
            = t('statistics.male')
      .col
        .statistic__stats__single
          %strong
            = "#{@player_count_total > 0 ? (females_count.to_f * 100 / @player_count_total).round(2) : 0} %"
          %span
            = t('statistics.female')
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong
            = "#{@player_count_total > 0 ? (undefined_count.to_f * 100 / @player_count_total).round(2) : 0} %"
          %span
            = t('statistics.undefined')


  .statistic__stats
    - current_year = Time.now.year
    .row
      .col
        .statistic__stats__single
          %strong
            = current_year - @players.maximum(:birth_year)
          %span
            = t('statistics.youngest')
      .col
        .statistic__stats__single
          %strong
            - by_array = @players.map{ |p| p.birth_year}.compact
            = by_array.size > 0 ? (current_year - by_array.sum.to_f / by_array.size).round(2) : 0
          %span
            = t('statistics.mean-age')
      .col
        .statistic__stats__single.statistic__stats__single--last
          %strong
            = current_year - @players.minimum(:birth_year)
          %span
            = t('statistics.oldest')

  .statistic__stats
    .row
      .col
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.canton')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            - cantons_raw[0... cantons_raw.length/2].each do |canton|
              - canton_players = @players.where(canton: canton)
              %tr{'data-internal_url': players_path(filter: 'canton', 'filter-data': canton)}
                %td.text-center
                  .tooltip.tooltip_canton
                    = image_tag "cantons/#{canton}.svg", height: '25px', width: '25px', style: 'position: absolute; top: 10px;'
                    %span.tooltiptext
                      = t("defines.cantons.#{canton}")
                %td.text-center
                  = canton_players.count
                %td.text-center
                  - wl_array = canton_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                  = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
      .col
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.canton')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            - cantons_raw[cantons_raw.length/2.. -1].each do |canton|
              - canton_players = @players.where(canton: canton)
              %tr{'data-internal_url': players_path(filter: 'canton', 'filter-data': canton)}
                %td.text-center
                  .tooltip.tooltip_canton
                    = image_tag "cantons/#{canton}.svg", height: '25px', width: '25px', style: 'position: absolute; top: 10px;'
                    %span.tooltiptext
                      = t("defines.cantons.#{canton}")
                %td.text-center
                  = canton_players.count
                %td.text-center
                  - wl_array = canton_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                  = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"

  .statistic__stats{style: "margin-top: 0;"}
    .row
      - all_char_files = Dir.entries("#{Rails.root}/app/assets/images/characters").map{|f| f if !f.include?("200x200") and f[0] != '.'}.compact.sort
      .col
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.character')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            .main_chars
              - all_char_files[0... all_char_files.length/2].each do |file|
                - character = file.sub('.png', '')
                - character_players = @players.where("? = ANY (main_characters)", character)
                %tr{'data-internal_url': players_path(filter: 'character', 'filter-data': character)}
                  %td.text-center
                    .main_char
                      .tooltip.tooltip_character
                        = image_tag "characters/#{file}", height: '25px', width: '25px'
                        %span.tooltiptext.tooltiptext_character
                          = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
                  %td.text-center
                    = character_players.count
                  %td.text-center
                    - wl_array = character_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                    = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
      .col
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th.text-center= t('statistics.character')
              %th.text-center= t('statistics.number_of_players')
              %th.text-center= "Ø-#{t('w_l')}"
          %tbody.table-content.with-show
            .main_chars
              - all_char_files[all_char_files.length/2.. -1].each do |file|
                - character = file.sub('.png', '')
                - character_players = @players.where("? = ANY (main_characters)", character)
                %tr{'data-internal_url': players_path(filter: 'character', 'filter-data': character)}
                  %td.text-center
                    .main_char
                      .tooltip.tooltip_character
                        = image_tag "characters/#{file}", height: '25px', width: '25px'
                        %span.tooltiptext.tooltiptext_character
                          = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
                  %td.text-center
                    = character_players.count
                  %td.text-center
                    - wl_array = character_players.map{ |p| p.win_loss_ratio if p.wins > 0 || p.losses > 0}.compact
                    = "#{wl_array.size > 0 ? (wl_array.sum.to_f / wl_array.size).round(2) : 0} %"
