%h2.sidebar__title
  = t('partials.events')

%table.table.table-hover.table-borderless

  %tbody.table-content.with-show
    - if !next_tournaments.nil? and next_tournaments.any?
      - next_tournaments.each_with_index do |tournament, i|
        %tr{'data-id': tournament.id, 'data-component': 'tournament', 'data-external_url': tournament.external_registration_link}
          %td.text-center= l(tournament.date, format: :custom_datetime_date_and_no_time)
          %td= tournament.name
          %td.text-center
            - if session['country_code'] == 'ch'
              - canton = tournament.canton
              - if canton.present?
                = image_tag "cantons/#{canton}.svg", height: '25px', width: '25px'
            - elsif session['country_code'] == 'de'
              - federal_state = tournament.federal_state
              - if federal_state.present?
                = image_tag "federal_states/#{federal_state}.svg", height: '25px', width: '25px'
            - elsif session['country_code'] == 'fr'
              - region = tournament.region
              - if region.present?
                = image_tag "regions/#{region}.svg", height: '25px', width: '25px'
