.row.footer-nav
  .col-5
    .row
      = link_to "https://linktr.ee/locuscrew", target: '_blank' do
        = image_tag('pt_locus_crew.png', class: 'pt_locus_crew_logo', width: '60px', height: '75px', alt: 'Locus Crew logo')
      .col
        %p.small
          = link_to t('navigation.footer.contact'), informations_path(anchor: 'contact')

  .col-2
    = button_tag '', title: 'Go to top', style: 'background-color: transparent; border: none;', class: 'scroll-top' do
      = image_tag('pt_logo.jpg', class: 'ptsmash_logo', height: '50px', width: '50px', alt: 'SmashBrosPortugal logo')
  .col-5
    .row
      .col
        %p.small
          = link_to t('navigation.footer.imprint'), :imprint
      .col
        %p.small
          = link_to t('navigation.footer.privacy_policy').html_safe, :privacy_policy
      .col
        %p#donate-btn
          = link_to("https://ko-fi.com/portugalsmash", target: '_blank', class: "btn btn-default") do
            = image_tag('ko-fi-cup.webp', alt: 'ko-fi cup icon for donations')
            %span= t('please_donate')
