.modal.fade#loginModal{tabindex: '-1', role: 'dialog', 'aria-hidden'=>'true'}
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      = form_tag session_path(:user), class: "form" do
        = hidden_field_tag "noReCaptcha", true
        -# = recaptcha_v3(action: 'login')  # TODO
        .modal-header
          .modal-title
            %h3= t('partials.login.title')
          %button.close{type: 'button', 'data-dismiss'=>'modal', 'aria-label'=>'close'}
            %span{'aria-hidden'=>'true'}
              &times;
        .modal-body
          .form-group
            = text_field_tag "user[login]", "", class: "form-control", placeholder: t('partials.login.username')
          .form-group
            = password_field_tag "user[password]", "", class: "form-control", placeholder: t('partials.login.password')
        .modal-footer
          = submit_tag t('partials.login.log_in'), class: "btn btn-sstm"
          = link_to t('partials.login.sign_up'), new_user_registration_path,  class: "btn btn-ghost"
