%h2.sidebar__title
  = t('news.title2')

- if news.any?
  .news
    - news.each_with_index do |n, i|
      = link_to n, class: "thumbnail #{(i == 0 && @highlight_first_news) ? 'highlighted' : ''}" do
        .row
          .col-2.text-center{style: "padding-top: 10px; font-size: 10px; border-right: 1px lightgray solid;"}
            .rotated= n.created_at.to_fs(:custom_datetime_date)
          .col-10{style: "padding-left: 10px;"}
            %strong= n.title
            %br
            = n.teaser
- else
  .text-center
    = t('news.no_news_found')
