%h2.sidebar__title
  Top Players

%table.table.table-hover.table-borderless
  %thead.table-header
    %tr
      %th{colspan: '2'} Player
      %th{style: 'text-align: center;'} W/L

  %tbody.table-content.with-show
    - if @topPlayers.any?
      - @topPlayers.each_with_index do |player, i|
        %tr{'data-id': player.id, 'data-component'=>'player'}
          %td
            - if player.main_characters.any?
              - player.main_characters[0...1].each do |char|
                - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                  = image_tag "characters/#{char}.png", height: '25px', width: '25px'
            - else
              .div{style: 'display: inline;'}
                %span.material-icons{style: 'vertical-align: middle; height: 25px; width: 25px;'}
                  = 'help'
          %td= player.gamer_tag
          %td{style: 'text-align: center;'}= "#{player.win_loss_ratio}%"
