%h2.sidebar__title
  = t('partials.players.title')

%table.table.table-hover.table-borderless
  %thead.table-header
    %tr
      %th{colspan: '2'}= t('partials.players.player')
      %th{style: 'text-align: center;'}= t('w_l')

  %tbody.table-content.with-show
    - if !@topPlayers.nil? and @topPlayers.any?
      - @topPlayers.each_with_index do |player, i|
        %tr{'data-id': player.id, 'data-component'=>'player'}
          %td
            - if player.main_characters.any?
              - char = player.main_characters[0]
              = render partial: 'players/character_image', locals: {character: char, skin_nr: player.main_character_skins[i]}
            - else
              .div{style: 'display: inline;'}
                %span.material-icons{style: 'vertical-align: middle; height: 25px; width: 25px;'}= 'help'
          %td= player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
          %td{style: 'text-align: center;'}= "#{player.win_loss_ratio}%"
