.row
  .col
    %h1.page__title= "User list"

.row
  .col
    %p= "Total users count = #{User.all.count}"

.user-list
  %table.table.table-hover.table-borderless
    %thead
      %tr
        %th Username
        %th Last Log in at
        %th.text-center Log in counter
        %th.text-center Club member
        %th.text-center Admin
        %th.text-center Super Admin

    %tbody.user-list-body
      - @users.each do |user|
        %tr{'data-id': user.id, 'data-component'=>'user'}
          %td= user.username
          %td= user.current_sign_in_at.to_s(:custom_datetime)
          %td.text-center= user.sign_in_count
          %td.text-center
            - if user.is_club_member
              .material-icons
                done
          %td.text-center
            - if user.admin?
              .material-icons
                done
          %td.text-center
            - if user.super_admin?
              .material-icons
                done

          - if current_user.present? and current_user.super_admin?
            %td.admin-actions
              .admin-actions__link
                = form_for user, role: 'form', method: :patch do |f|
                  = f.check_box :is_club_member, checked: true, class: 'd-none'
                  = f.button type: 'submit', data: { confirm: 'Are you sure?' }, class:'btn btn-ghost btn-square' do
                    %span.material-icons.admin-actions__link__icon
                      group_add

              .admin-actions__link
                = form_for user, role: 'form', method: :patch do |f|
                  = f.check_box :is_admin, checked: true, class: 'd-none'
                  = f.button type: 'submit', data: { confirm: 'Are you sure?' }, class:'btn btn-ghost btn-square' do
                    %span.material-icons.admin-actions__link__icon
                      verified_user

              .admin-actions__link
                = link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
                  %span.material-icons.admin-actions__link__icon
                    delete