.row.title-div
  .col-md-6
    %h1= "User list"

  .col-md-6{style: "positon: relative"}
    %p{style: "position: absolute; top: 50%; transform: translate(0, 150%);"}= "Total users count = #{User.all.count}"

-# user list
.row.user-list
  .col-md-12
    %table.table.table-striped
      %thead.user-list-header
        %tr
          %th Username
          - if current_user.present? and current_user.admin?
            %th Email
            %th Mobile Number
          %th Last Log in at
          %th Created at
          %th.text-center Log in counter
          %th.text-center Admin
          %th.text-center Super Admin
          %th.text-center.action Edit

      %tbody.user-list-body
        - @users.each do |user|
          %tr
            %td= user.username
            - if current_user.present? and current_user.admin?
              %td= user.email
              %td= user.mobile_number
            %td= user.current_sign_in_at.to_s(:custom_datetime)
            %td= user.created_at.to_s(:custom_datetime)
            %td.text-center= user.sign_in_count
            %td.text-center
              - if user.admin?
                .glyphicon.glyphicon-ok
              - elsif current_user.present? and current_user.super_admin?
                = form_for user, role: 'form', method: :patch do |f|
                  .field
                    = f.check_box :is_admin, checked: true, class: 'hidden'
                    = f.submit 'New Admin', data: { confirm: 'Are you sure?' }, class:'btn btn-primary btn-xs'
            %td.text-center
              - if user.super_admin?
                .glyphicon.glyphicon-ok
            %td.text-center.actions
              - if user == current_user
                = link_to edit_user_registration_path, class:'btn btn-default btn-xs' do
                  %span.glyphicon.glyphicon-pencil
              - if current_user.present? and (current_user.super_admin? or user == current_user)
                = link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do
                  %span.glyphicon.glyphicon-trash
