.row
  .col
    %h1.page__title= t('devise.passwords.title')

.password__change
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    .form-group
      = f.label :password, t('devise.passwords.new_pw')
      - if @minimum_password_length
        %em
          = @minimum_password_length
          = t('devise.passwords.chars_min')

      = f.password_field :password, autofocus: true, autocomplete: "off"

    .form-group
      = f.label :password_confirmation, t('devise.passwords.confirm')
      = f.password_field :password_confirmation, autocomplete: "off"

    .form-group
      = f.submit t('devise.passwords.change_my_pw'), class:'btn btn-ghost'
