- set_meta_tags description: meta_tag_description('Shop')
.row
  .col
    %h1.page__title= t('shop.title')

= render 'beta_header' #blup: beta

- if @shop_products.any?
  .row.shop_products
    - @shop_products.each do |product|
      - is_seller_product = current_user.present? && (current_user.super_admin? || current_user.id == product.user_id)
      - next if product.is_hidden && !is_seller_product
      .col-sm-12.col-lg-6
        = render 'product', product: product, is_seller_product: is_seller_product
    -# .shop_products__pagination
    -#   = render 'paginator'
- else
  .text-center
    = t('shop.products.no_products_found')

- if current_user.present? || @shopping_cart.present?
  .admin-actions
    - if @shopping_cart.present?
      .admin-actions__link
        = link_to shop_shopping_cart_path, class:'btn btn-default btn-square' do
          %span
            .material-icons.admin-actions__link__icon= 'shopping_cart'
            .badge{style: 'color: black; position: absolute; top: 4px; left: 8.5px;'}= @shopping_cart.purchases.sum(&:quantity)
    - if current_user.present?
      - if current_user.super_admin? || (current_user.has_role?('seller') && current_user.stripe_account_is_ready)
        .admin-actions__link
          = link_to new_shop_product_path, class:'btn btn-default btn-square' do
            %span.material-icons.admin-actions__link__icon= 'add'
      - else
        .admin-actions__link
          = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
            %span.material-icons.admin-actions__link__icon= 'info'
        = render '/partials/info', info_body: t('shop.products.info_body')

- if @shopping_cart.present?
  .row
    .col.text-center
      = link_to shop_shopping_cart_path do
        .shop_products
          %button.btn.btn-default.cart-button
            %span{style: 'position: relative;'}
              %i.material-icons{style: 'font-size: 20px; margin-top: 5px;'} shopping_cart
              .badge= @shopping_cart.purchases.sum(&:quantity)
            %span= t('shop.shopping_cart.title')
