- set_meta_tags description: meta_tag_description('Shop')
.row
  .col
    %h1.page__title= t('shop.title')

- if @shop_products.any?
  .shop_products
    - @shop_products.each do |product|
      - is_seller_product = current_user.present? && (current_user.super_admin? || current_user.id == product.user_id)
      - next if product.is_hidden && !is_seller_product
      .col.text-center
        %article.no-padding
          %div.hidden-indicator= "Product is hidden" if product.is_hidden
          %div.position-indicator= product.position if is_seller_product
          .row.no-space{style: product.is_hidden ? 'opacity: 0.5;' : ''}
            .col.product-image-col
              - if product.image_link.present? && Request.url_valid?(product.image_link)
                = image_tag product.image_link, height: product.image_height.present? ? product.image_height : '100%', width: product.image_width.present? ? product.image_width : '100%', alt: "#{product.name} image", style: 'max-width: 12rem;'
              - else
                = image_tag 'no-image.svg', height: '100%', width: '100%', alt: "no image logo", style: 'max-width: 12rem;'
            .col
              .padding
                .text-left
                  %h5.shop-product-title= product.name
                  %p.shop-product-description= product.description.html_safe
              .padding.text-center.shop-product-footer
                .text-right
                  %p{style: 'margin: 0.5rem 0;'}
                    %strong{style: 'color: red; font-size: 1rem;'}= "CHF #{product.price_short}"
                    %span.shop-product-stock{style: "display: block; color: #{product.stock_text_color};"}= product.stock_text
                %nav.text-center{style: 'margin-top: 0;'}
                  -# = form_for(ShopPurchase.new, url: shop_purchases_path, html: { style: 'width: 100%;' }) do |f|
                  = form_for('', url: '#', html: { style: 'width: 100%;' }) do |f| #blup
                    = f.hidden_field :shop_product_id, value: product.id
                    %button.border.round.cart-button{disabled: product.stock <= 0}
                      %span{style: 'position: relative;'}
                        %i.material-icons{style: 'font-size: 20px; margin-top: 5px;'} add_shopping_cart
                        -# product_purchase quantity badge
                        - product_purchase = @shopping_cart.shop_purchases.find_by(shop_product_id: product.id) if @shopping_cart.present?
                        - if product_purchase.present?
                          .badge= product_purchase.quantity
                      %span.d-none.d-sm-block.d-lg-none.d-xl-block= t('shop.add_to_cart')
                      %span.d-sm-none.d-lg-block.d-xl-none= t('shop.add_to_cart_short')
          - if is_seller_product
            -# Move down product button
            - unless product.position == 0
              .div{style: "position: absolute; right: 50px; top: 5px;"}
                = button_to shop_product_move_down_path(product), method: :patch, form: { data: { turbo_method: :patch } }, class: 'small square', style:'margin: 0 0 0 5px; background: transparent; color: black; border: 0;', disabled: (product.position == 0) do
                  %i.material-icons.material-icons.admin-actions__link__icon= 'keyboard_arrow_up'
            -# Edit product button
            .div{style: "position: absolute; right: 10px; top: 5px;"}
              = link_to edit_shop_product_path(product), data: { turbo_method: :get } do
                = button_tag class: 'small square', style:'background: transparent; color: black; border: 0;' do
                  %i.material-icons.material-icons.admin-actions__link__icon= 'edit'
                  -# .tooltip.left= t('shop_products.edit')

    -# .shop_products__pagination
    -#   = render 'paginator'
- else
  .text-center
    = t('shop_products.no_products_found')

- if current_user.present?
  .admin-actions
    - if current_user.admin? || current_user.has_role?('seller')
      .admin-actions__link
        = link_to new_shop_product_path, class:'btn btn-default btn-square' do
          %span.material-icons.admin-actions__link__icon= 'add'
    - else
      .admin-actions__link
        = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
          %span.material-icons.admin-actions__link__icon= 'info'
      = render '/partials/info', info_body: t('shop_products.info_body') #infoModal

-# blup
- if @shopping_cart.present?
  .row
    .col.text-center
      = link_to shop_shopping_cart_path do
        %button.small-round.small-elevate
          %span
            %i.material-icons shopping_cart
            .badge= @shopping_cart.shop_purchases.sum(&:quantity)
          %span= t('shopping_cart.title')
