#tournament-form.sub-form.external-tournament
  = form_for @tournament, role: 'form' do |f|

    - if @tournament.errors.any?
      #error_explanation
        %h2= pluralize(@tournament.errors.count, "error") + " prohibited this tournament from being saved:"
        %ul
          - @tournament.errors.full_messages.each do |message|
            %li= message

    %br
    .tournament-subform
      .field.form-group.hidden
        = f.text_field :subtype, class: 'form-control', value: 'external'
      .field.form-group
        = f.label :date, 'Tournament start date'
        %br= f.datetime_select :date, class: 'form-control', start_year: Time.now.year
      .field.form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', value: (@tournament.new_record? ? 'Ultimon Stadion x' : @tournament.name)
      .field.form-group
        = f.label :city
        = f.text_field :city, class: 'form-control', value: (@tournament.new_record? ? 'Bern' : @tournament.city)
      .field.form-group
        = f.label :external_registration_link
        = f.text_field :external_registration_link, class: 'form-control'
      - if @tournament.new_record?
        .field.form-group.hide
          = f.label :active
          = f.check_box :active, checked: true, style: 'margin-left: 5px;'
      - else
        .field.form-group
          = f.label :active
          = f.check_box :active, style: 'margin-left: 5px;'

    .actions.form-group
      = f.submit 'Create External Tournament', class:'btn btn-primary form-control'
