.tournament-edit__form
  = form_for @tournament, role: 'form' do |f|

    - if @tournament.errors.any?
      #error_explanation
        %h2= pluralize(@tournament.errors.count, "error") + " " + t('tournaments.prohibited')
        %ul
          - @tournament.errors.full_messages.each do |message|
            %li= message
    .form-group.d-none
      = f.text_field :subtype, class: 'form-control', value: 'external'
    .form-group
      = f.label :date, t('tournaments.start_date')
      .form-group-inline
        = f.datetime_select :date, { start_year: Time.now.year }, class: 'form-control'
    .form-group
      = f.label :name, t('tournaments.name')
      = f.text_field :name, class: 'form-control', placeholder: t('tournaments.name_placeholder')
    .form-group
      = f.label :city, t('tournaments.city')
      = f.text_field :city, class: 'form-control'
    .form-group
      = f.label :registration_fee, t('tournaments.registration_fee')
      = f.number_field :registration_fee, class: 'form-control'
    .form-group
      = f.label :total_seats, t('tournaments.total_seats')
      = f.number_field :total_seats, class: 'form-control'
    .form-group
      = f.label :external_registration_link, t('tournaments.external_registration_link')
      = f.text_field :external_registration_link, class: 'form-control'
    - if @tournament.new_record?
      .form-group.d-none
        = f.label :active, t('tournaments.active')
        = f.check_box :active, checked: true
      .form-group.d-none
        = f.label :is_registration_allowed, t('tournaments.is_registration_allowed')
        = f.check_box :is_registration_allowed, checked: false
      -# .form-group
      -#   = check_box_tag :send_mails, true, false, style: 'margin-left: 5px; margin-right: 10px;'
      -#   = label_tag :send_mails, t('tournaments.send_all_players_an_email')
    - else
      - if @tournament.finished?
        .form-group
          = f.label :ranking_string, t('tournaments.ranking_string')
          = f.text_area :ranking_string, class: 'form-control', rows: '2'
      .form-group
        = f.label :setup, t('tournaments.setup')
        = f.check_box :setup, style: 'margin-left: 5px;'
      .form-group
        = f.label :started, t('tournaments.started')
        = f.check_box :started, style: 'margin-left: 5px;'
      .form-group
        = f.label :finished, t('tournaments.finished')
        = f.check_box :finished, style: 'margin-left: 5px;'
      .form-group
        = f.label :active, t('tournaments.active')
        = f.check_box :active, style: 'margin-left: 5px;'

    .form-group
      = hidden_field_tag(:subtype, 'external')
      = f.submit "#{@tournament.new_record? ? t('create') : t('update')} #{t('tournaments.external_tournament')}", class:'btn btn-ghost'
