#tournament-form.sub-form.internal-tournament
  = form_for @tournament, role: 'form' do |f|

    - if @tournament.errors.any?
      #error_explanation
        %h2= pluralize(@tournament.errors.count, "error") + " prohibited this tournament from being saved:"
        %ul
          - @tournament.errors.full_messages.each do |message|
            %li= message

    %br
    .col-md-12

      .field.form-group
        = f.label :subtype
        %br
        .row.tournament-subtype
          .col-md-4
            = f.radio_button :subtype, 'internal', checked: (@tournament.subtype == 'internal' or @tournament.subtype == NIL ? true : false)
            = 'Internal registration'
          .col-md-4
            = f.radio_button :subtype, 'external', checked: (@tournament.subtype == 'external' ? true : false)
            = 'External registration'
          .col-md-4
            = f.radio_button :subtype, 'weekly', checked: (@tournament.subtype == 'weekly' ? true : false)
            = 'Weekly'

      %br
      -# use some js magic to detach or render the correct subform
      = render 'subform_internal', f: f
      = render 'subform_external', f: f
      = render 'subform_weekly', f: f

      .actions.form-group
        = f.submit class:'btn btn-primary form-control'

  .outside-of-tournament.form
