-if tournament.present?
  %tr{'data-id': tournament.id, 'data-component': 'tournament', 'data-external_url': tournament.external_registration_link}
    %td.text-center.d-none.d-md-table-cell
      - if current_user.present? and tournament.players.include?(current_user.player)
        %span.material-icons= 'check_circle'
      - elsif tournament.external_registration_link.present?
        %span.material-icons= 'open_in_new'
      - elsif tournament.registration_deadline.nil? || tournament.registration_deadline < Time.now
        %span.material-icons= 'lock'
      - elsif !tournament.is_registration_allowed
        %span.material-icons= 'info'
      - else
        %span.material-icons= 'radio_button_unchecked'

    %td
      = tournament.date.to_s(:custom_datetime_date_and_no_time)

    %td
      = tournament.name

    %td.d-none.d-md-table-cell
      - if tournament.location.present?
        = tournament.location.split(',')[0]
      - else
        = tournament.city || '-'

    %td.text-center.d-none.d-md-table-cell
      - if tournament.registration_fee.present?
        - if tournament.registration_fee%1 != 0  # check if it's a float
          = tournament.registration_fee
        - else
          = tournament.registration_fee.to_i
        = 'CHF'
      - else
        = '-'

    %td.text-center.d-none.d-md-table-cell
      - if tournament.total_seats.nil?
        = '-'
      - else
        - if (tournament.players.count == 0 and tournament.subtype == 'external') or !tournament.is_registration_allowed
          = tournament.total_seats
        - else
          = "#{tournament.players.count}/#{tournament.total_seats}"

    - if current_user.present? and current_user.admin?
      %td.admin-list-actions
        - if tournament.external_registration_link.present?
          .admin-list-actions__link
            = link_to tournament_path(tournament), class:'btn btn-ghost btn-square' do
              %span.material-icons.admin-actions__link__icon= 'visibility'

        .admin-list-actions__link
          = link_to edit_tournament_path(tournament), class:'btn btn-ghost btn-square' do
            %span.material-icons.admin-actions__link__icon= 'edit'

        .admin-list-actions__link
          = link_to tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
            %span.material-icons.admin-actions__link__icon= 'delete'
