%tr{id: "#{tournament.id == params[:id].to_i ? 'highlighted' : ''}", style: "background-color: #{tournament.id == params[:id].to_i ? 'cyan' : ''}"}
  %td.hide
    = tournament.id # used for some js-magic

  %td
    = tournament.name

  %td.text-center
    = tournament.date.to_s(:custom_datetime_with_weekday)

  %td
    = tournament.location

  %td.hidden-md.hidden-sm.hidden-xs
    = truncate(tournament.comment, length: 50)

  %td.text-center.hidden-xs
    - if tournament.registration_fee.present?
      - if tournament.registration_fee%1 != 0  # check if it's a float
        = tournament.registration_fee
      - else
        = tournament.registration_fee.to_i

  %td.text-center
    = tournament.occupied_seats

  %td.text-center
    = tournament.total_seats

  %td.text-center.hidden-xs
    = check_box_tag '', '', tournament.active?, disabled: true

  %td.text-center.hidden-xs
    = tournament.updated_at.strftime('%d.%m.%y (%H:%M)')

  - if current_user.admin?
    %td.text-center.actions
      = link_to edit_tournament_path(tournament), class:'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-pencil
      = link_to tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-trash
