-if tournament.present?
  %tr{'data-id': tournament.id, 'data-component': 'tournament', 'data-external_url': tournament.external_registration_link}
    %td.text-center.d-none.d-md-table-cell
      - if current_user.present? and tournament.players.include?(current_user.player)
        %span.material-icons= 'check_circle'
      - elsif tournament.external_registration_link.present?
        %span.material-icons= 'open_in_new'
      - elsif tournament.registration_deadline.nil? || tournament.registration_deadline < Time.now
        %span.material-icons= 'lock'
      - elsif !tournament.is_registration_allowed
        %span.material-icons= 'info'
      - else
        %span.material-icons= 'radio_button_unchecked'

    %td
      = l(tournament.date, format: :custom_datetime_date_and_no_time)

    %td
      = tournament.name

    %td.text-center.d-sm-none
      = tournament.city || '-'

    %td.d-none.d-sm-table-cell
      = tournament.location.gsub(', CH', '').gsub(', Schweiz', '').gsub(', Suisse', '').gsub(', Switzerland', '') if tournament.location.present?

    %td.text-center.d-none.d-md-table-cell
      - if tournament.total_seats.nil?
        = '-'
      - else
        - if (tournament.players.count == 0 and tournament.subtype == 'external') or !tournament.is_registration_allowed
          = tournament.total_seats
        - else
          = "#{tournament.players.count}/#{tournament.total_seats}"

    - if current_user.present? and current_user.admin?
      %td.admin-list-actions
        - if tournament.external_registration_link.present?
          .admin-list-actions__link
            = link_to tournament_path(tournament), class:'btn btn-ghost btn-square' do
              %span.material-icons.admin-actions__link__icon= 'visibility'

        .admin-list-actions__link
          = link_to edit_tournament_path(tournament), class:'btn btn-ghost btn-square' do
            %span.material-icons.admin-actions__link__icon= 'edit'

        .admin-list-actions__link
          = link_to new_tournament_path(id: tournament.id), class:'btn btn-ghost btn-square' do
            %span.material-icons.admin-actions__link__icon= 'add_to_photos'

        .admin-list-actions__link
          = link_to tournament, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sstm btn-square' do
            %span.material-icons.admin-actions__link__icon= 'delete'
