.tournament-edit__form
  = form_for @tournament, role: 'form' do |f|

    - if @tournament.errors.any?
      #error_explanation
        %h2= pluralize(@tournament.errors.count, "error") + " prohibited this tournament from being saved:"
        %ul
          - @tournament.errors.full_messages.each do |message|
            %li= message

    .form-group.d-none
      = f.text_field :subtype, class: 'form-control', value: 'weekly'
    .form-group
      = f.label :registration_deadline, 'Online registration deadline'
      .form-group-inline
        = f.datetime_select :registration_deadline, {start_year: Time.now.year}, class: 'form-control'
    .form-group
      = f.label :date, 'Weekly start date'
      .form-group-inline
        = f.datetime_select :date, {start_year: Time.now.year}, class: 'form-control'
    .form-group{class: (@tournament.new_record? ? '' : 'd-none')}
      = f.label :end_date, 'Weekly end date (e.g. the end of the year)'
      .form-group-inline
        = f.datetime_select :end_date,{ start_year: Time.now.year}, class: 'form-control'
    .form-group{class: (@tournament.new_record? ? 'd-none' : '')}
      = f.label :name
      = f.text_field :name, class: 'form-control', value: (@tournament.new_record? ? Time.now.to_s : @tournament.name) # hack to make a valid name
    .form-group
      = f.label :city
      = f.text_field :city, class: 'form-control', value: (@tournament.new_record? ? '' : @tournament.city)
    .form-group
      = f.label :location
      %em
        = '(separate new lines with commas)'
      = f.text_field :location, class: 'form-control', value: (@tournament.new_record? ? 'locality, address, postcode, floor' : @tournament.location)
    .form-group
      = f.label :registration_fee, 'Registration fee [CHF]'
      = f.number_field :registration_fee, class: 'form-control', value: (@tournament.new_record? ? 5 : @tournament.registration_fee)
    .form-group
      = f.label :total_seats
      = f.number_field :total_seats, class: 'form-control', value: (@tournament.new_record? ? 40 : @tournament.total_seats)
    .form-group
      = f.label :total_needed_game_stations
      = f.number_field :total_needed_game_stations, class: 'form-control', value: (@tournament.new_record? ? 10 : @tournament.total_needed_game_stations)
    .form-group
      = f.label :min_needed_registrations, 'Minimal required registrations'
      = f.number_field :min_needed_registrations, class: 'form-control', value: (@tournament.new_record? ? 16 : @tournament.min_needed_registrations)
    .form-group
      = f.label :host_username, 'Hostname'
      = f.text_field :host_username, class: 'form-control', value: (@tournament.new_record? ? current_user.username : @tournament.host_username)
    .form-group
      = f.label :description, 'Description (HTML)'
      = f.text_area :description, class: 'form-control', rows: '15'
    - if @tournament.new_record?
      .form-group.d-none
        = f.label :active
        = f.check_box :active, checked: true, style: 'margin-left: 5px;'
      .form-group
        = f.check_box :is_registration_allowed, checked: true, style: 'margin-left: 5px; margin-right: 10px;'
        = f.label :is_registration_allowed, 'Are registrations allowed?'
      .form-group{style: 'margin-top: -10px;'}
        = check_box_tag :send_mails, true, false, style: 'margin-left: 5px; margin-right: 10px;'
        = label_tag :send_mails, 'Send all players an email'
    - else
      - if @tournament.finished?
        .form-group
          = f.label :ranking_string
          = f.text_area :ranking_string, class: 'form-control', rows: '2'
      .form-group
        = f.label :setup
        = f.check_box :setup, style: 'margin-left: 5px;'
      .form-group
        = f.label :started
        = f.check_box :started, style: 'margin-left: 5px;'
      .form-group
        = f.label :finished
        = f.check_box :finished, style: 'margin-left: 5px;'
      .form-group
        = f.label :active
        = f.check_box :active, style: 'margin-left: 5px;'
      .form-group
        = f.label :is_registration_allowed, 'Registrations allowed?'
        = f.check_box :is_registration_allowed, style: 'margin-left: 5px;'

    .form-group
      = hidden_field_tag(:subtype, 'weekly')
      = f.submit "#{@tournament.new_record? ? 'Create' : 'Update'} Weekly Tournament", class:'btn btn-ghost'
