.tournament-edit__form
  = form_for @tournament, role: 'form' do |f|

    - if @tournament.errors.any?
      #error_explanation
        %h2= pluralize(@tournament.errors.count, "error") + " " + t('tournaments.prohibited')
        %ul
          - @tournament.errors.full_messages.each do |message|
            %li= message

    .form-group.d-none
      = f.text_field :subtype, class: 'form-control', value: 'weekly'
    .form-group
      = f.label :registration_deadline, t('tournaments.registration_deadline')
      .form-group-inline
        = f.datetime_select :registration_deadline, {start_year: Time.now.year}, class: 'form-control'
    .form-group
      = f.label :date, t('tournaments.weekly_start_date')
      .form-group-inline
        = f.datetime_select :date, {start_year: Time.now.year}, class: 'form-control'
    .form-group{class: (@tournament.new_record? ? '' : 'd-none')}
      = f.label :end_date, t('tournaments.weekly_end_date')
      .form-group-inline
        = f.datetime_select :end_date,{ start_year: Time.now.year}, class: 'form-control'
    .form-group{class: (@tournament.new_record? ? 'd-none' : '')}
      = f.label :name, t('tournaments.name')
      %em= t('tournaments.readonly')
      = f.text_field :name, class: 'form-control', readonly: true, value: (@tournament.new_record? ? Time.now.to_s : @tournament.name) # hack to make a valid name
    .form-group
      = f.label :city, t('tournaments.city')
      = f.text_field :city, class: 'form-control'
    .form-group
      = f.label :location, t('tournaments.location')
      %em= '(separate new lines with commas)'
      = f.text_field :location, class: 'form-control', placeholder: t('tournaments.location_placeholder')
    - if params[:tournament].present?
      .form-group
        = f.label :registration_fee, t('tournaments.registration_fee')
        = f.number_field :registration_fee, class: 'form-control', value: params[:tournament][:registration_fee]
      .form-group
        = f.label :total_seats, t('tournaments.total_seats')
        = f.number_field :total_seats, class: 'form-control', value: params[:tournament][:total_seats]
      .form-group
        = f.label :min_needed_registrations, t('tournaments.min_needed_registrations')
        = f.number_field :min_needed_registrations, class: 'form-control', value: params[:tournament][:min_needed_registrations]
      .form-group
        = f.label :total_needed_game_stations, t('tournaments.total_needed_game_stations')
        = f.number_field :total_needed_game_stations, class: 'form-control', value: params[:tournament][:total_needed_game_stations]
      .form-group
        = f.label :host_username, t('tournaments.hostname')
        = f.text_field :host_username, class: 'form-control', value: params[:tournament][:host_username]
    - else
      .form-group
        = f.label :registration_fee, t('tournaments.registration_fee')
        = f.number_field :registration_fee, class: 'form-control', value: (@tournament.new_record? ? 5 : @tournament.registration_fee)
      .form-group
        = f.label :total_seats, t('tournaments.total_seats')
        = f.number_field :total_seats, class: 'form-control', value: (@tournament.new_record? ? 40 : @tournament.total_seats)
      .form-group
        = f.label :min_needed_registrations, t('tournaments.min_needed_registrations')
        = f.number_field :min_needed_registrations, class: 'form-control', value: (@tournament.new_record? ? 16 : @tournament.min_needed_registrations)
      .form-group
        = f.label :total_needed_game_stations, t('tournaments.total_needed_game_stations')
        = f.number_field :total_needed_game_stations, class: 'form-control', value: (@tournament.new_record? ? 10 : @tournament.total_needed_game_stations)
      .form-group
        = f.label :host_username, t('tournaments.hostname')
        = f.text_field :host_username, class: 'form-control', value: (@tournament.new_record? ? current_user.username : @tournament.host_username)
    .form-group
      = f.label :description, t('tournaments.description_html')
      = f.text_area :description, class: 'form-control', rows: '15'
    - if @tournament.new_record?
      .form-group.d-none
        = f.label :active, t('tournaments.active')
        = f.check_box :active, checked: true, style: 'margin-left: 5px;'
      .form-group
        = f.check_box :is_registration_allowed, checked: (params[:tournament].present? ? (params[:tournament][:is_registration_allowed] == "1") : true), style: 'margin-left: 5px; margin-right: 10px;'
        = f.label :is_registration_allowed, t('tournaments.is_registration_allowed')
      -# .form-group{style: 'margin-top: -10px;'}
      -#   = check_box_tag :send_mails, true, false, style: 'margin-left: 5px; margin-right: 10px;'
      -#   = label_tag :send_mails, t('tournaments.send_all_players_an_email')
    - else
      - if !@tournament.is_registration_allowed
        .form-group
          = f.label :external_registration_link, t('tournaments.external_registration_link')
          = f.text_field :external_registration_link, class: 'form-control'
      - if @tournament.finished?
        .form-group
          = f.label :ranking_string, t('tournaments.ranking_string')
          = f.text_area :ranking_string, class: 'form-control', rows: '2'
      .form-group
        = f.label :setup, t('tournaments.setup')
        = f.check_box :setup, style: 'margin-left: 5px;'
      .form-group
        = f.label :started, t('tournaments.started')
        = f.check_box :started, style: 'margin-left: 5px;'
      .form-group
        = f.label :finished, t('tournaments.finished')
        = f.check_box :finished, style: 'margin-left: 5px;'
      .form-group
        = f.label :active, t('tournaments.active')
        = f.check_box :active, style: 'margin-left: 5px;'
      .form-group
        = f.label :is_registration_allowed, t('tournaments.is_registration_allowed')
        = f.check_box :is_registration_allowed, style: 'margin-left: 5px;'

    .form-group
      = hidden_field_tag(:subtype, 'weekly')
      = f.submit "#{@tournament.new_record? ? t('create') : t('update')} #{t('tournaments.this_weekly')}", class:'btn btn-ghost'

    - if !@tournament.new_record?
      .form-group
        = f.submit "#{t('update')} #{t('tournaments.all_upcoming_weeklies')}", class:'btn btn-ghost'
