.row
  .col
    %h1.page__title= t('tournaments.edit')

.tournament-edit
  - if @tournament.subtype.nil? or @tournament.subtype == 'internal'
    = render 'internal-form', tournament: @tournament
  - elsif @tournament.subtype == 'external'
    = render 'external-form', tournament: @tournament
  - elsif @tournament.weekly?
    = render 'weekly-form', tournament: @tournament

  .tournament-edit__actions
    - if current_user.admin?
      - if @tournament.weekly?
        %p= link_to "#{t('delete')} #{t('tournaments.this_weekly')}", @tournament, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sstm'
        %p= link_to "#{t('delete')} #{t('tournaments.all_upcoming_weeklies')}", tournament_path(id: @tournament.id, all: true), method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sstm'
      - else
        %p= link_to t('delete'), @tournament, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sstm'
