.row
  .col
    %h1.page__title= t('tournaments.edit')

.tournament-edit
  - if @tournament.subtype.nil? or @tournament.subtype == 'internal'
    = render 'internal-form', tournament: @tournament
  - elsif @tournament.subtype == 'external'
    = render 'external-form', tournament: @tournament
  - elsif @tournament.subtype == 'weekly'
    = render 'weekly-form', tournament: @tournament

  .tournament-edit__actions
    - if current_user.admin?
      - if @tournament.subtype == 'weekly'
        %p= link_to 'Delete this weekly', @tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm'
        %p= link_to 'Delete all upcoming weeklies of this kind', tournament_path(id: @tournament.id, all: true), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm'
      - else
        %p= link_to 'Delete', @tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm'
