- set_meta_tags description: meta_tag_description('Tournaments')

.row
  .col
    %h1.page__title= t('tournaments.title')

%ul#tournaments-tabs.nav.nav-pills.nav-fill{role: 'tablist', style: 'margin-bottom: 2rem;'}
  %li.nav-item
    %a#upcoming-tab.nav-link.active{'data-toggle'=>'tab', href: '#upcoming', role: 'tab', 'aria-controls'=>'all'}
      = t('tournaments.upcoming')
  - if @ongoing_tournaments.any?
    %li.nav-item
      %a#ongoing-tab.nav-link{'data-toggle'=>'tab', href: '#ongoing', role: 'tab', 'aria-controls'=>'all'}
        = t('tournaments.ongoing')
  %li.nav-item
    %a#past-tab.nav-link{'data-toggle'=>'tab', href: '#past', role: 'tab', 'aria-controls'=>'all'}
      = t('tournaments.past')
  - if @inactive_tournaments.present? and @inactive_tournaments.any?
    %li.nav-item
      %a#inactive-tab.nav-link{'data-toggle'=>'tab', href: '#inactive', role: 'tab', 'aria-controls'=>'all'}
        = 'Deleted'
        %i{style: 'font-size: 10px;'}= '(admin)'

-# search form
.row{style: 'margin-top: -15px;'}
  .col
    .search-form.form-group
      = form_tag tournaments_path, method: 'get', class: 'form-inline' do
        = hidden_field_tag :filter, params[:filter]
        = search_field_tag :search, params[:search], class: 'form-control', placeholder: t('tournaments.search_placeholder')
        = button_tag type: 'submit', class: 'btn btn-default', name: nil do
          %span.material-icons= 'search'

.tab-content#tournaments-tabs-content
  .tab-pane.fade#ongoing{role: 'tabpanel', 'aria-labelledby'=>'ongoing-tab'}
    %table.table.table-hover.table-tournaments
      %thead.table-header
        = render "tournament_list_header"

      %tbody.with-show.tournament-list-body
        = render @ongoing_tournaments

  .tab-pane.fade.show.active#upcoming{role: 'tabpanel', 'aria-labelledby'=>'upcoming-tab'}
    .tournaments__filter
      .row.without_col
        .tournaments__filter__button= link_to t('tournaments.all'), tournaments_path(search: params[:search], filter: 'all', anchor: 'upcoming'), class: "btn #{(params[:filter].nil? or params[:filter].empty? or params[:filter] == 'all') ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('s12_2022'), tournaments_path(search: params[:search], filter: 's12_2022', anchor: 'upcoming'), class: "btn #{params[:filter] == 's12_2022' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('external'), tournaments_path(search: params[:search], filter: 'external', anchor: 'upcoming'), class: "btn #{params[:filter] == 'external' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('internal'), tournaments_path(search: params[:search], filter: 'internal', anchor: 'upcoming'), class: "btn #{params[:filter] == 'internal' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('weekly'), tournaments_path(search: params[:search], filter: 'weekly', anchor: 'upcoming'), class: "btn #{params[:filter] == 'weekly' ? 'btn-default' : 'btn-ghost'}"
      .row.without_col
        - regions_raw_from(session['country_code']).each do |region|
          = link_to tournaments_path(search: params[:search], filter: region, anchor: 'upcoming') do
            = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '30px', width: '30px', alt: "#{region} image", id: region, style: "margin: 0px 5px; padding: 2.5px; border-bottom: #{params[:filter] == region ? 'solid 1px black' : ''};"

    %table.table.table-hover.table-tournaments
      %thead.table-header
        = render "tournament_list_header"

      %tbody.with-show.tournament-list-body
        = render @tournaments

    - if !@tournaments.any?
      %p{style: 'text-align: center;'}= t('tournaments.no_upcoming')

    .tournament-list-footer
      = render 'paginator', tournaments: @tournaments, anchor: 'upcoming'

  .tab-pane.fade#past{role: 'tabpanel', 'aria-labelledby'=>'past-tab'}
    .tournaments__filter
      .row.without_col
        .tournaments__filter__button= link_to t('tournaments.all'), tournaments_path(search: params[:search], filter: 'all', anchor: 'past'), class: "btn #{(params[:filter].nil? or params[:filter].empty? or params[:filter] == 'all') ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('s12_2022'), tournaments_path(search: params[:search], filter: 's12_2022', anchor: 'past'), class: "btn #{params[:filter] == 's12_2022' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('s12_2021'), tournaments_path(search: params[:search], filter: 's12_2021', anchor: 'past'), class: "btn #{params[:filter] == 's12_2021' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('s12_2020'), tournaments_path(search: params[:search], filter: 's12_2020', anchor: 'past'), class: "btn #{params[:filter] == 's12_2020' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('s2_2019'), tournaments_path(search: params[:search], filter: 's2_2019', anchor: 'past'), class: "btn #{params[:filter] == 's2_2019' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('s1_2019'), tournaments_path(search: params[:search], filter: 's1_2019', anchor: 'past'), class: "btn #{params[:filter] == 's1_2019' ? 'btn-default' : 'btn-ghost'}"
      .row.without_col
        .tournaments__filter__button= link_to t('external'), tournaments_path(search: params[:search], filter: 'external', anchor: 'past'), class: "btn #{params[:filter] == 'external' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('internal'), tournaments_path(search: params[:search], filter: 'internal', anchor: 'past'), class: "btn #{params[:filter] == 'internal' ? 'btn-default' : 'btn-ghost'}"
        .tournaments__filter__button= link_to t('weekly'), tournaments_path(search: params[:search], filter: 'weekly', anchor: 'past'), class: "btn #{params[:filter] == 'weekly' ? 'btn-default' : 'btn-ghost'}"
      .row.without_col
        - regions_raw_from(session['country_code']).each do |region|
          = link_to tournaments_path(search: params[:search], filter: region, anchor: 'past') do
            = image_tag "regions/#{session['country_code']}/#{region}.svg", height: '30px', width: '30px', alt: "#{region} image", id: region, style: "margin: 0px 5px; padding: 2.5px; border-bottom: #{params[:filter] == region ? 'solid 1px black' : ''};"

    %table.table.table-hover.table-tournaments
      %thead.table-header
        = render "tournament_list_header"

      %tbody.with-show.tournament-list-body
        = render @past_tournaments

    - if !@past_tournaments.any?
      %p{style: 'text-align: center;'}= t('tournaments.no_past')

    .tournament-list-footer
      = render 'paginator', tournaments: @past_tournaments, anchor: 'past'

  - if @inactive_tournaments.present? and @inactive_tournaments.any?
    .tab-pane.fade#inactive{role: 'tabpanel', 'aria-labelledby'=>'inactive-tab'}
      %table.table.table-hover.table-tournaments
        %thead.table-header
          = render "tournament_list_header"

        %tbody.with-show.tournament-list-body
          = render @inactive_tournaments

      .tournament-list-footer
        = render 'paginator', tournaments: @inactive_tournaments, anchor: 'inactive'

- if current_user.present?
  .admin-actions
    - if current_user.admin? || current_user.has_role?('tournament_organizer')
      - if current_user.challonge_username.present? && current_user.challonge_api_key.present?
        .admin-actions__link
          = link_to new_tournament_path, class:'btn btn-default btn-square' do
            %span.material-icons.admin-actions__link__icon= 'add'
      - else
        .admin-actions__link
          = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
            %span.material-icons.admin-actions__link__icon= 'info'
        = render '/partials/info', info_body: t('tournaments.info_body_challonge') #infoModal
    - else
      .admin-actions__link
        = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
          %span.material-icons.admin-actions__link__icon= 'info'
      = render '/partials/info', info_body: t('tournaments.info_body') #infoModal
