%ul#tournaments-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a#upcoming-tab.nav-link.active{'data-toggle'=>'tab', href: '#upcoming', role: 'tab', 'aria-controls'=>'all'}
      = 'Upcoming'
  - if @ongoing_tournaments.any?
    %li.nav-item
      %a#ongoing-tab.nav-link{'data-toggle'=>'tab', href: '#ongoing', role: 'tab', 'aria-controls'=>'all'}
        = 'Ongoing'
  %li.nav-item
    %a#past-tab.nav-link{'data-toggle'=>'tab', href: '#past', role: 'tab', 'aria-controls'=>'all'}
      = 'Past'

.tab-content#tourmanets-tabs-content
  .tab-pane.fade#ongoing{role: 'tabpanel', 'aria-labelledby'=>'ongoing-tab'}
    %table.table.table-hover.table-tournaments
      %thead.table-header
        = render "tournament_list_header"

      %tbody.with-show.tournament-list-body
        = render @ongoing_tournaments
  .tab-pane.fade.show.active#upcoming{role: 'tabpanel', 'aria-labelledby'=>'upcoming-tab'}
    .tournaments-filter
      %p.tournament-filter-text= link_to 'All',       tournaments_path(filter: 'all'),       class: "#{(params[:filter].nil? or params[:filter] == 'all') ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'External',  tournaments_path(filter: 'external'),  class: "#{params[:filter] == 'external' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Internal',  tournaments_path(filter: 'internal'),  class: "#{params[:filter] == 'internal' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Weekly',    tournaments_path(filter: 'weekly'),    class: "#{params[:filter] == 'weekly' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Baden',     tournaments_path(filter: 'baden'),     class: "#{params[:filter] == 'baden' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Bern',      tournaments_path(filter: 'bern'),      class: "#{params[:filter] == 'bern' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Geneva',    tournaments_path(filter: 'geneva'),    class: "#{params[:filter] == 'geneva' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Solothurn', tournaments_path(filter: 'solothurn'), class: "#{params[:filter] == 'solothurn' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Zurich',    tournaments_path(filter: 'zurich'),    class: "#{params[:filter] == 'zurich' ? 'active' : ''}"

    %table.table.table-hover.table-tournaments
      %thead.table-header
        = render "tournament_list_header"

      %tbody.with-show.tournament-list-body
        = render @tournaments

    .tournament-list-footer
      = render 'paginator'

  .tab-pane.fade#past{role: 'tabpanel', 'aria-labelledby'=>'past-tab'}
    .tournaments-filter
      %p.tournament-filter-text= link_to 'All',       tournaments_path(anchor: 'past-tournaments', filter: 'all'),       class: "#{(params[:filter].nil? or params[:filter] == 'all') ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'External',  tournaments_path(anchor: 'past-tournaments', filter: 'external'),  class: "#{params[:filter] == 'external' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Internal',  tournaments_path(anchor: 'past-tournaments', filter: 'internal'),  class: "#{params[:filter] == 'internal' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Weekly',    tournaments_path(anchor: 'past-tournaments', filter: 'weekly'),    class: "#{params[:filter] == 'weekly' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Baden',     tournaments_path(anchor: 'past-tournaments', filter: 'baden'),     class: "#{params[:filter] == 'baden' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Bern',      tournaments_path(anchor: 'past-tournaments', filter: 'bern'),      class: "#{params[:filter] == 'bern' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Geneva',    tournaments_path(anchor: 'past-tournaments', filter: 'geneva'),    class: "#{params[:filter] == 'geneva' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Solothurn', tournaments_path(anchor: 'past-tournaments', filter: 'solothurn'), class: "#{params[:filter] == 'solothurn' ? 'active' : ''}"
      %p.tournament-filter-text= link_to 'Zurich',    tournaments_path(anchor: 'past-tournaments', filter: 'zurich'),    class: "#{params[:filter] == 'zurich' ? 'active' : ''}"

    %table.table.table-hover.table-tournaments
      %thead.table-header
        = render "tournament_list_header"

      %tbody.with-show.tournament-list-body
        = render @past_tournaments

    .tournament-list-footer
      = render 'paginator'
