.row
  .col
    %h1.page__title= t('tournaments.new.title')

.new-tournament
  %p
    = t('tournaments.new.body')
    %ul
      %li= t('tournaments.new.li1')
      %li= t('tournaments.new.li2')
      %li= t('tournaments.new.li3')

  %ul#tournaments-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
    %li.nav-item
      %a#internal-tab.nav-link.active{'data-toggle'=>'tab', href: '#internal', role: 'tab', 'aria-controls'=>'all'}
        = t('internal')
    %li.nav-item
      %a#external-tab.nav-link{'data-toggle'=>'tab', href: '#external', role: 'tab', 'aria-controls'=>'all'}
        = t('external')
    %li.nav-item
      %a#weekly-tab.nav-link{'data-toggle'=>'tab', href: '#weekly', role: 'tab', 'aria-controls'=>'all'}
        = t('weekly')

  .tab-content#tournaments-tabs-content
    .tab-pane.fade.show.active#internal{role: 'tabpanel', 'aria-labelledby'=>'internal-tab'}
      = render 'internal-form'
    .tab-pane.fade#external{role: 'tabpanel', 'aria-labelledby'=>'external-tab'}
      = render 'external-form'
    .tab-pane.fade#weekly{role: 'tabpanel', 'aria-labelledby'=>'weekly-tab'}
      = render 'weekly-form'
