.row.title-div
  .col-md-12
    %h1= @tournament.name

.row.show-tournament
  .col-md-4
    %p
      %strong Date:
      = @tournament.date.to_s(:custom_datetime_with_weekday)

    %p
      %strong Location:
      = @tournament.location

    %p
      %strong Registration fee [CHF]:
      = @tournament.registration_fee

    %p
      %strong Active:
      - if @tournament.active
        %input{type: 'checkbox', checked: 'true', disabled: 'true'}
      - else
        %input{type: 'checkbox', disabled: 'true'}

  .col-md-4

    %p
      %strong Occupied seats:
      = @tournament.occupied_seats

    %p
      %strong Total seats:
      = @tournament.total_seats

    %p
      %strong Updated at:
      = @tournament.updated_at.to_s(:custom_datetime)

    %p
      %strong Created at:
      = @tournament.created_at.to_s(:custom_datetime)

  .col-md-4
    - if current_user.admin?
      %p= link_to 'Edit', edit_tournament_path(@tournament)
      %p= link_to 'Delete', @tournament, method: :delete, data: { confirm: 'Are you sure?' }
    %p= link_to 'Back', :back

.row.tournament-description
  .col-md-12
    %p
      %strong Descripton:
      = @tournament.comment

.row.join-tournament
  .col-md-12
    %br
    - if current_user.player.tournaments.includes(@tournament)
      %p= button_tag ">>> Leave this tournament <<<", class:'btn btn-warning', id:'join-tournament-button'
    - else
      %p= button_tag ">>> Join this tournament <<<", class:'btn btn-success', id:'join-tournament-button'

.row.title-registered-players-div
  .col-md-12
    %h2 Registered players

.row.show-registered-players
  .col-md-2
    - @tournament.players.each_with_index do |p, i|
      %p
        = "##{i+1}"
        %strong= link_to "#{p.gamer_tag}", p

  .col-md-10
