.row.title-div
  .col-md-12
    %h1= @tournament.name

.row.show-tournament
  .col-md-4
    %p
      %strong Date:
      = @tournament.date.to_s(:custom_datetime_with_weekday)

    %p
      %strong Location:
      %br
      - @tournament.location.split(',').each do |str|
        &emsp;
        = str.strip
        %br

    %p
      %strong Set up:
      %input{type: 'checkbox', checked: @tournament.setup, disabled: 'true'}

      &emsp;
      %strong Started:
      %input{type: 'checkbox', checked: @tournament.started, disabled: 'true'}

      &emsp;
      %strong Finished:
      %input{type: 'checkbox', checked: @tournament.finished, disabled: 'true'}

  .col-md-4
    %p
      %strong Registration deadline:
      = registration_deadline(@tournament.date).to_s(:custom_datetime_with_weekday)

    %p
      %strong Registration fee:
      = @tournament.registration_fee
      = 'CHF'

    %p
      %strong Occupied seats:
      = @tournament.occupied_seats

    %p
      %strong Total seats:
      = @tournament.total_seats

    - if current_user.admin?
      %p
        %strong Updated at:
        = @tournament.updated_at.to_s(:custom_datetime)

      %p
        %strong Created at:
        = @tournament.created_at.to_s(:custom_datetime)

  .col-md-4
    - if current_user.admin?
      %p= link_to 'Edit', edit_tournament_path(@tournament)
      %p= link_to 'Delete', @tournament, method: :delete, data: { confirm: 'Are you sure?' }
    %p= link_to 'Back', :back

.row.tournament-description
  .col-md-12
    %p
      %strong Descripton:
      %br
      = @tournament.description

- if !@tournament.setup and !@tournament.started and !@tournament.finished
  .row.join-tournament
    %br
    .col-md-4
      - if Time.now > registration_deadline(@tournament.date)
        %p= button_to "Registration deadline exceeded", tournament_path(@tournament.id), params:{add_player:true}, method:'patch', class:'btn btn-primary', id:'join-tournament-button', disabled:true
      -else
        - if @tournament.players.include?(current_user.player)
          %p= button_to ">>> Leave this tournament <<<", tournament_path(@tournament.id), params:{remove_player:true}, method:'patch', class:'btn btn-warning', id:'leave-tournament-button'
        - else
          %p= button_to ">>> Join this tournament <<<", tournament_path(@tournament.id), params:{add_player:true}, method:'patch', class:'btn btn-success', id:'join-tournament-button'

    - if current_user.admin?
      .col-md-4
        %p
          = form_tag tournament_path(@tournament.id), method:'patch', class: 'form-inline' do
            .hidden= text_field_tag :add_player, true, class: 'form-control'
            = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
            = submit_tag 'Add player', name:nil, class: 'form-control btn btn-default'

      .col-md-4
        %p
          = form_tag tournament_path(@tournament.id), method:'patch', class: 'form-inline' do
            .hidden= text_field_tag :remove_player, true, class: 'form-control'
            = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
            = submit_tag 'Remove player', name:nil, class: 'form-control btn btn-default'

- if @tournament.players.include?(current_user.player) and @game_stations_needed > 0 and !@tournament.setup and !@tournament.started and !@tournament.finished
  %br
  .row.game-stations-text
    .col-md-12
      %h2 Please bring a game station with you
      %p
        = 'If you bring the following hard- and software to the tournament, you do not have to pay the registration fee.'
        = 'But after agreeing to bring a game station, you will be obligated to also do so.'
      .row.add-game-stations
        .col-md-6
          %ul
            %li Nintendo Switch console and a docking station with its power supply
            %li 2 Joy-Cons (right & left) and a Joy-Con-Grip
            %li HDMI cable
            %li Super Smash Bros. Ultimate Game (with the most current version)

        .col-md-6
          = form_for @tournament, role: 'form', method: :patch do |f|
            .field
              = f.number_field :game_stations, value: 1, style: 'width:35px', min: 0, max: @game_stations_needed
              = f.submit 'I\'ll bring one or more game stations with me', class:'btn btn-success', id:'bring-game-stations-button', style: 'display:inline'
              %br
              = "(max. #{@game_stations_needed} more game #{@game_stations_needed > 1 ? 'stations are' : 'station is'} needed)"
      %br

.row.title-registered-players-tournament-ranking
  .col-md-6
    .row.title-registered-players
      .col-md-12
        %h2 Registered players
        .row.show-registered-players
          .col-md-12
            - @tournament.players.each_with_index do |p, i|
              %p
                = "##{i+1}"
                %strong= link_to "#{p.gamer_tag}", p
                - gs = p.registrations.where(tournament_id: @tournament.id).first.game_stations
                - if !gs.nil? and gs > 0
                  = "(Brings #{gs} game #{gs > 1 ? 'stations' : 'station'})"

  .col-md-6
    - if @tournament.started and @tournament.finished
      .row.title-tournament-ranking
        .col-md-12
          %h2 Tournament ranking
          .row.show-tournament-ranking
            .col-md-12
              - unless @tournament.ranking_string.nil?
                - @tournament.ranking_string.split(';').sort.each do |r|
                  %p
                    - ranking = r.split(',')
                    %strong= "#{ranking[0]}. #{ranking[1]} (#{points_repartition_table(ranking[0].to_i)}p)"

%br
- if @tournament.setup
  .row.show-on-challonge
    .col-md-4
      %p= link_to 'Show tournament on Challonge', "https://challonge.com/de/#{@tournament.name.gsub(/( )/, '_').downcase}", target: '_blank', class:'btn btn-primary'

- if current_user.admin? and !@tournament.finished
  .row.admin-tournament
    .col-md-4
      - if !@tournament.setup and !@tournament.started
        %p= button_to "Set up tournament", "/tournaments/setup/#{@tournament.id}", class:'btn btn-success', id:'setup-tournament-button', :data => {:confirm => 'Are you sure? A tournament on challonge.com will be created.'}
      - elsif @tournament.setup and !@tournament.started
        %p= button_to "Start tournament", "/tournaments/start/#{@tournament.id}", class:'btn btn-warning', id:'start-tournament-button', :data => {:confirm => 'Are you sure? The tournament on challonge.com will be started.'}

    .col-md-4

    .col-md-4
      - if @tournament.started
        = button_to "Finish tournament", "/tournaments/finish/#{@tournament.id}", class:'btn btn-warning', id:'finish-tournament-button', :data => {:confirm => 'Are you sure?'}
      - else
        -# cancel tournament form
        = form_for @tournament, role: 'form', method: :patch do |f|
          .field
            = f.text_field :name, value: "(canceled) #{@tournament.name}", class: 'hidden'
            = f.check_box :finished, checked: true, class: 'hidden'
            = f.check_box :cancel, checked: true, class: 'hidden'
            = f.submit 'Cancel tournament', class:'btn btn-danger', id:'cancel-tournament-button', data: { confirm: 'Are you sure?' }

- if @tournament.started
  .row.challonge_tournament_tree
    .col-md-12
      %br
      %img{:src => "https://challonge.com/#{@tournament.name.gsub(/( )/, '_').downcase}.svg"}
