.row.title-div
  .col-md-12
    %h1= @tournament.name

.row.show-tournament
  .col-md-5
    %p
      %strong Registration deadline:
      - if @tournament.registration_deadline.nil?
        = '-'
      - else
        = @tournament.registration_deadline.to_s(:custom_datetime_with_weekday)

    %p
      %strong Tournament start date:
      = @tournament.date.to_s(:custom_datetime_with_weekday)

    - if @tournament.location.present?
      %p
        %strong= link_to 'Location:', "/tournaments/location/#{@tournament.id}"
        %br
        - @tournament.location.split(',').each do |str|
          &emsp;
          = str.strip
          %br
    - elsif @tournament.city.present?
      %p
        %strong City:
        = @tournament.city

    %p
      %strong Set up:
      %input{type: 'checkbox', checked: @tournament.setup, disabled: 'true'}

      &emsp;
      %strong Started:
      %input{type: 'checkbox', checked: @tournament.started, disabled: 'true'}

      &emsp;
      %strong Finished:
      %input{type: 'checkbox', checked: @tournament.finished, disabled: 'true'}

  .col-md-3
    %p
      %strong Registration fee:
      - if @tournament.registration_fee.to_i%1 != 0  # check if it's a float
        = @tournament.registration_fee
      - else
        = @tournament.registration_fee.to_i
      = 'CHF'

    %p
      %strong Occupied seats:
      - if @tournament.total_seats.present?
        = "#{@tournament.players.count} / #{@tournament.total_seats}"
      - else
        = @tournament.players.count

    - if @tournament.min_needed_registrations.present?
      %p
        %strong Min. required registrations:
        = @tournament.min_needed_registrations.to_i

    - if @tournament.total_needed_game_stations.present?
      %p
        %strong Game stations:
        - if @tournament.total_needed_game_stations.to_i > 0
          = "#{@min_needed_game_stations}..#{@tournament.total_needed_game_stations}"
        - else
          = @tournament.total_needed_game_stations.to_i

    - if @tournament.host_username.present?
      %p
        %strong Host:
        - if @host_player.present?
          = link_to @host_player.gamer_tag, @host_player
        - else
          = @tournament.host_username

    - if current_user.present? and current_user.admin?
      %p
        %strong Updated at:
        = @tournament.updated_at.to_s(:custom_datetime)

      %p
        %strong Created at:
        = @tournament.created_at.to_s(:custom_datetime)

  .col-md-4
    %strong
      - if current_user.present? and current_user.admin?
        %p= link_to 'Edit', edit_tournament_path(@tournament)
        %p= link_to 'Delete', @tournament, method: :delete, data: { confirm: 'Are you sure?' }
      %p= link_to 'Back', :back

%br

.row.tournament-description
  .col-md-12
    %p
      %strong Descripton:
      %br
      = @tournament.description

- if !@tournament.setup and !@tournament.started and !@tournament.finished
  .row.join-tournament
    %br
    .col-md-4
      - if @tournament.registration_deadline.present? and Time.now > @tournament.registration_deadline
        %p= button_to "Registration deadline exceeded", nil, class:'btn btn-primary', id:'join-tournament-button', disabled:true
      -else
        - if current_user.present?
          - if @tournament.players.include?(current_user.player)
            %p= button_to ">>> Leave this tournament <<<", "/tournaments/remove_player/#{@tournament.id}", method:'post', class:'btn btn-warning', id:'leave-tournament-button', data: { confirm: "Are you sure? You may not be able to join the tournament again if there's a player in the waiting list."}
          - elsif @tournament.total_seats.present? and @tournament.players.count >= @tournament.total_seats
            - if @tournament.waiting_list.include?(current_user.player.gamer_tag)
              %p= button_to ">>> Leave the waiting list <<<", "/tournaments/remove_player/#{@tournament.id}", params:{waiting_list: true}, method:'post', class:'btn btn-warning', id:'leave-waiting-list-button', data: { confirm: "Are you sure? You may loose your position in the waiting list if there's another player in it."}
            - else
              %p= button_to "Tournament is full >>> Join the waiting list <<<", "/tournaments/add_player/#{@tournament.id}", params:{waiting_list: true}, method:'post', class:'btn btn-info', id:'join-waiting-list-button'
          - else
            %p= button_to ">>> Join this tournament <<<", "/tournaments/add_player/#{@tournament.id}", method:'post', class:'btn btn-success', id:'join-tournament-button'
        - else
          %p= button_to ">>> Log in to join this tournament <<<", '', disabled:true, class:'btn btn-success', id:'join-tournament-button'

    - if current_user.present? and current_user.admin?
      .col-md-4
        %p
          = form_tag "/tournaments/add_player/#{@tournament.id}", method:'post', class: 'form-inline' do
            = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
            = submit_tag 'Add player', name:nil, class: 'form-control btn btn-default'

      .col-md-4
        %p
          = form_tag "/tournaments/remove_player/#{@tournament.id}", method:'post', class: 'form-inline' do
            = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
            = submit_tag 'Remove player', name:nil, class: 'form-control btn btn-default'

- if current_user.present? and @tournament.players.include?(current_user.player) and @currently_needed_game_stations.to_i > 0 and !@tournament.setup and !@tournament.started and !@tournament.finished
  %br
  .row.game-stations-text
    .col-md-12
      %h2 Please bring a game station with you
      %p
        = 'If you bring the following hard- and software to the tournament, you will get off 5 CHF of your registration fee.'
        = 'But after agreeing to bring a game station, you will be obligated to also do so.'
      .row.add-game-stations
        .col-md-6
          %ul
            %li Nintendo Switch console and a docking station with its power supply
            %li 2 Joy-Cons (right & left) and a Joy-Con-Grip
            %li HDMI cable
            %li Super Smash Bros. Ultimate Game (with the most current version)

        .col-md-6
          = form_for @registration, role: 'form', method: :patch do |f|
            .field
              = f.number_field :game_stations, value: 1, style: 'width:35px', min: 0, max: @currently_needed_game_stations
              = f.submit 'I\'ll bring one or more game stations with me', class:'btn btn-success', id:'bring-game-stations-button', style: 'display:inline'
              %br
              = "(max. #{@currently_needed_game_stations} more game #{@currently_needed_game_stations > 1 ? 'stations are' : 'station is'} needed at the moment)"
      %br

.row.title-registered-players-tournament-ranking
  .col-md-5
    .row.title-registered-players
      .col-md-12
        %h2 Registered players
        .row.show-registered-players
          .col-md-12
            - mail_string = ''
            - @tournament.players.each do |p|
              - if p.main_characters.any?
                - p.main_characters[0...1].each do |char|
                  - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                    = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                  - else
                    .glyphicon.glyphicon-question-sign{style: 'margin-left: 6px; margin-right: 6px;'}
              - else
                .glyphicon.glyphicon-question-sign{style: 'margin-left: 6px; margin-right: 6px;'}
              %strong= link_to "#{p.gamer_tag}", p
              - player_registration = p.registrations.where(tournament_id: @tournament.id).first
              - gs = player_registration.game_stations
              - if !gs.nil? and gs > 0
                = "( #{!@tournament.finished ? 'Brings' : 'Brought'} #{gs} game #{gs > 1 ? 'stations' : 'station'} )"
              - if current_user.present? and current_user.admin? and !@tournament.started and @tournament.registration_fee.to_i > 0
                = '( Registration fee paid:'
                .inline-div{style:'display:inline-block'}
                  = form_for player_registration, role: 'form', method: :patch do |f|
                    .field
                      = f.check_box :paid_fee, {class: 'paid-fee-checkbox'}, @tournament.registration_fee
                      = f.submit 'Submit', class:'btn btn-primary btn-xs paid-fee-button'
                = ')'
              %p
              - mail_string = mail_string + p.user.email + ', '
            - if @tournament.players.any? and current_user.present? and current_user.admin?
              = mail_to mail_string, 'Send all registerd players an email', subject: "Concerning the tournament: #{@tournament.name}", class: 'btn btn-primary'

  .col-md-3
    - if @tournament.waiting_list.length > 0
      .row.title-waiting-list
        .col-md-12
          %h2 Waiting list
          .row.show-waiting-list
            .col-md-12
              - @tournament.waiting_list.each_with_index do |gt, i|
                = "##{i+1}"
                = gt
                %p

  .col-md-4
    - if @tournament.started and @tournament.finished
      .row.title-tournament-ranking
        .col-md-12
          %h2 Tournament ranking
          .row.show-tournament-ranking
            .col-md-12
              - unless @tournament.ranking_string.nil?
                - @tournament.ranking_string.split(';').sort.each do |r|
                  %p
                    - ranking = r.split(',')
                    %strong= "#{ranking[0]}. #{ranking[1]} (+#{points_repartition_table(ranking[0].to_i)}p)"

%br
- if @tournament.setup
  .row.show-on-challonge
    .col-md-4
      %p= link_to 'Show tournament on Challonge', "https://challonge.com/de/#{@tournament.name.gsub(/( )/, '_').downcase}", target: '_blank', class:'btn btn-primary'

- if current_user.present? and current_user.admin? and !@tournament.finished
  .row.admin-tournament
    .col-md-4
      - if !@tournament.setup and !@tournament.started
        %p= button_to "Set up tournament", "/tournaments/setup/#{@tournament.id}", class:'btn btn-success', id:'setup-tournament-button', :data => {:confirm => 'Are you sure? A tournament on challonge.com will be created.'}
      - elsif @tournament.setup and !@tournament.started
        %p= button_to "Start tournament", "/tournaments/start/#{@tournament.id}", class:'btn btn-warning', id:'start-tournament-button', :data => {:confirm => 'Are you sure? The tournament on challonge.com will be started.'}

    .col-md-4

    .col-md-4
      - if @tournament.started
        = button_to "Finish tournament", "/tournaments/finish/#{@tournament.id}", class:'btn btn-warning', id:'finish-tournament-button', :data => {:confirm => 'Are you sure?'}
      - else
        -# cancel tournament form
        = form_for @tournament, role: 'form', as: :tournament, url: "/tournaments/cancel/#{@tournament.id}", method: :post, html: { class: "form-inline" } do |f|
          .field
            = f.text_field :name, value: "(canceled) #{@tournament.name}", class: 'hidden'
            = f.check_box :finished, checked: true, class: 'hidden'
            = f.submit 'Cancel tournament', class:'btn btn-danger', id:'cancel-tournament-button', data: { confirm: 'Are you sure?' }

- if @tournament.started
  .row.challonge_tournament_tree
    .col-md-12
      %br
      %img{:src => "https://challonge.com/#{@tournament.name.gsub(/( )/, '_').downcase}.svg"}
