.row
  .col
    %h1.page__title= @tournament.name

- if @tournament.name.include?('PK Bern')
  = image_tag 'pk_bern.png', height: '100%', width: '100%'

.tournament
  %ul#tournament-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
    %li.nav-item
      %a#details-tab.nav-link.active{'data-toggle'=>'tab', href: '#details', role: 'tab', 'aria-controls'=>'all'}
        = t('tournaments.details')
    -if @tournament.description.present?
      %li.nav-item
        %a#description-tab.nav-link{'data-toggle'=>'tab', href: '#description', role: 'tab', 'aria-controls'=>'all'}
          = t('tournaments.description')
    - if @tournament.location.present?
      %li.nav-item
        %a#location-tab.nav-link{'data-toggle'=>'tab', href: '#location', role: 'tab', 'aria-controls'=>'all'}
          = t('tournaments.location')
    - if @tournament.is_registration_allowed
      %li.nav-item
        %a#players-tab.nav-link{'data-toggle'=>'tab', href: '#players', role: 'tab', 'aria-controls'=>'all'}
          = t('players.title')
    - if @tournament.waiting_list.length > 0
      %li.nav-item
        %a#waiting-tab.nav-link{'data-toggle'=>'tab', href: '#waiting', role: 'tab', 'aria-controls'=>'all'}
          = t('tournaments.waiting_list')
    - if @tournament.started and @tournament.finished
      %li.nav-item
        %a#ranking-tab.nav-link{'data-toggle'=>'tab', href: '#ranking', role: 'tab', 'aria-controls'=>'all'}
          = t('tournaments.ranking')

  .tab-content#tournaments-tabs-content
    .tab-pane.fade.show.active#details{role: 'tabpanel', 'aria-labelledby'=>'details-tab'}
      .tournament__details
        .row
          - if @tournament.registration_deadline.nil?
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  - if @tournament.date.hour == 0 && @tournament.date.min == 0
                    = @tournament.date.to_s(:custom_datetime_weekday_date_and_year)
                  - else
                    = @tournament.date.to_s(:custom_datetime_with_weekday)
                %span= t('tournaments.start_date_short')
          - else
            .col
              .tournament__details__single
                %strong
                  - if @tournament.date.hour == 0 && @tournament.date.min == 0
                    = @tournament.date.to_s(:custom_datetime_weekday_date_and_year)
                  - else
                    = @tournament.date.to_s(:custom_datetime_with_weekday)
                %span= t('tournaments.start_date_short')
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = @tournament.registration_deadline.to_s(:custom_datetime_with_weekday)
                %span
                  - if @tournament.is_registration_allowed
                    = t('tournaments.registration_deadline')
                  - else
                    = t('tournaments.registration_deadline_short')
      - if @tournament.location.present? or @tournament.city.present?
        .tournament__details
          .row
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  - if @tournament.location.present?
                    = @tournament.location
                  - else
                    = @tournament.city
                %span= t('tournaments.location')
      - if @tournament.external_registration_link.present?
        .tournament__details
          .row
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = link_to ">>> #{t('tournaments.external_registration_link')} <<<", @tournament.external_registration_link, target: '_blank'

      .tournament__details
        .row
          .col
            .tournament__details__single
              %strong
                - if @tournament.registration_fee.nil?
                  = '?'
                - else
                  - if @tournament.registration_fee.to_i%1 != 0  # check if it's a float
                    = @tournament.registration_fee
                  - else
                    = @tournament.registration_fee.to_i
                  = 'CHF'
              %span= t('tournaments.registration_fee_short')
          .col
            .tournament__details__single
              %strong
                - if @tournament.total_seats.nil?
                  = '?'
                - elsif (@tournament.players.count == 0 and @tournament.subtype == 'external') or !@tournament.is_registration_allowed
                  = @tournament.total_seats
                - else
                  = "#{@tournament.players.count} / #{@tournament.total_seats}"
              %span= t('tournaments.seats')

          - if @tournament.min_needed_registrations.present? && @tournament.min_needed_registrations > 0
            .col
              .tournament__details__single
                %strong
                  = @tournament.min_needed_registrations.to_i
                %span= t('tournaments.required_players')

          - if @tournament.total_needed_game_stations.present?
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  - if @min_needed_game_stations.to_i > 0 && @tournament.total_needed_game_stations.to_i > 0 && @min_needed_game_stations < @tournament.total_needed_game_stations.to_i
                    = "#{@min_needed_game_stations}..#{@tournament.total_needed_game_stations}"
                  - else
                    = @tournament.total_needed_game_stations.to_i
                %span= t('tournaments.setups')

      - host_user = @tournament.host
      - if host_user.present? and host_user.player.present?
        .tournament__details
          .row
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = link_to host_user.player.gamer_tag, host_user.player
                %span= t('tournaments.host')

      - if @tournament.is_registration_allowed
        - if !@tournament.setup and !@tournament.started and !@tournament.finished
          .tournament__details
            .row
              .col
                .tournament__details__single.tournament__details__single--last
                  - if @tournament.registration_deadline.present? and Time.now > @tournament.registration_deadline
                    = button_to t('tournaments.deadline_exceeded'), nil, class:'btn btn-primary', style:'background-color: #007bff;', disabled:true
                  -else
                    - if current_user.present?
                      - if @tournament.players.include?(current_user.player)
                        = button_to t('tournaments.leave_tournament'), "/tournaments/remove_player/#{@tournament.id}#details", method:'post', class:'btn btn-sstm', data: { confirm: "Are you sure? You may not be able to join the tournament again if there's a player in the waiting list."}
                      - elsif @tournament.total_seats.present? and @tournament.players.count >= @tournament.total_seats
                        - if @tournament.waiting_list.include?(current_user.player.gamer_tag)
                          = button_to t('tournaments.leave_waiting_list'), "/tournaments/remove_player/#{@tournament.id}#details", params:{waiting_list: true}, method:'post', class:'btn btn-sstm', data: { confirm: "Are you sure? You may loose your position in the waiting list if there's another player in it."}
                        - else
                          = button_to t('tournaments.tournament_full'), "/tournaments/add_player/#{@tournament.id}#details", params:{waiting_list: true}, method:'post', class:'btn btn-info', style:'background-color: #17a2b8;'
                      - else
                        = button_to t('tournaments.join_tournament'), "/tournaments/add_player/#{@tournament.id}#details", method:'post', class:'btn btn-ghost'
                    - else
                      = button_to t('tournaments.log_in_to_join'), '', disabled:true, class:'btn btn-ghost'

      - if @tournament.setup
        .tournament__details
          .row
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = link_to 'Challonge', "https://challonge.com/de/#{valid_challonge_url(@tournament.name)}", target: '_blank', class:'btn btn-sstm'
                %span= t('tournaments.bracket')

      - if current_user.present? and current_user.super_admin?
        .tournament__details
          .row
            .col
              .tournament__details__single
                %strong
                  = @tournament.created_at.to_s(:custom_datetime)
                %span= "Created at"
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = @tournament.updated_at.to_s(:custom_datetime)
                %span= "Updated at"

    - if @tournament.description.present?
      .tab-pane.fade#description{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__description
          = @tournament.description.html_safe

    - if @tournament.location.present?
      .tab-pane.fade#location{role: 'tabpanel', 'aria-labelledby'=>'location-tab'}
        .tournament__location
          - address_array = @tournament.location.split(',')
          - address = (address_array[1].to_s.strip + ',' + address_array[2].to_s).gsub(' ', '+')
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed/v1/search?q=#{address}&key=#{ENV['GOOGLE_MAPS_API_KEY']}", :style => "border:0", :width => "100%"}

    - if @tournament.is_registration_allowed
      .tab-pane.fade#players{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        - if not @tournament.players.any?
          %p{style: 'text-align: center;'}= t('tournaments.no_players_joined')
        - else
          - mail_string = ''
          .tournament__players
            %table.table.table-hover.table-borderless
              %thead
                %tr
                  %th{style: 'text-align: center;'}
                    %h3= "Seed"
                  %th
                    %h3= t('tournaments.name')
                  %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                    %h3= t('tournaments.canton')
                  %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                    %h3= t('players.mains')
                  - if @tournament.is_registration_allowed
                    %th
                      %h3= t('tournaments.setups')
                  - if @tournament.is_registration_allowed and !@tournament.registration_fee.nil? and @tournament.registration_fee > 0
                    %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                      %h3= t('tournaments.fee_paid')
              %tbody.table-content{class: ((current_user.present? and current_user.admin?) ? "sortable" : "with-show"), 'data-url': "/tournaments/sort_players/#{@tournament.id}"}
                - @tournament.players.includes(:user).order('registrations.position', 'registrations.created_at').each_with_index do |player, i|
                  - mail_string = mail_string + player.user.email + '; '
                  %tr{'data-id': player.id, 'data-component'=>'player', id: dom_id(player)}
                    %td{style: 'text-align: center;'}= i+1 #player.registrations.find_by(tournament_id: @tournament.id).position
                    %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
                    %td.d-sm-none.d-md-none.d-lg-table-cell.d-xl-none
                      - if player.main_characters.any?
                        - player.main_characters[0...1].each do |char|
                          - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                            = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                      - else
                        .div{style: 'display: inline;'}
                          %span.material-icons{style: 'vertical-align: middle; height: 25px; width: 25px;'}= 'help'
                      = player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
                    %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                      - if player.canton.present?
                        = image_tag "cantons/#{player.canton}.svg", height: '20px', width: '20px'
                    %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                      - if player.main_characters.any?
                        - player.main_characters[0...3].each do |char|
                          - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                            = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                    - if @tournament.is_registration_allowed
                      %td
                        - player_registration = player.registrations.where(tournament_id: @tournament.id).first
                        - gs = player_registration.game_stations
                        - if current_user.present? and current_user.admin? and !@tournament.started
                          = form_for player_registration, role: 'form', method: :patch do |f|
                            .admin-actions__link__icon
                              = f.number_field :game_stations, class: 'game-stations-number-field', style: 'width: 82px;', value: player_registration.game_stations, min: 0
                              = f.submit 'Submit', class:'btn btn-primary btn-xs game-stations-button', style:'background-color: #007bff;'
                        - else
                          - if !gs.nil? and gs > 0
                            = "#{!@tournament.finished ? t('tournaments.brings') : t('tournaments.brought')} #{gs} #{gs > 1 ? 'setups' : 'setup'}"
                    - if @tournament.is_registration_allowed and !@tournament.registration_fee.nil? and @tournament.registration_fee > 0
                      %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                        - if current_user.present? and current_user.admin? and !@tournament.started and @tournament.registration_fee.to_i > 0
                          .inline-div{style:'display:inline-block'}
                            = form_for player_registration, role: 'form', method: :patch do |f|
                              .admin-actions__link__icon
                                = f.check_box :paid_fee, {class: 'paid-fee-checkbox'}, @tournament.registration_fee
                                = f.submit 'Submit', class:'btn btn-primary btn-xs paid-fee-button', style:'background-color: #007bff;'
                        - elsif player_registration.paid_fee.present?
                          .material-icons= 'done'

          .tournament__players.hidden
            .row
              .col{style: 'text-align: center;'}
                %h2 Hidden seeded player list
                %p
                  - @seeded_participants_array.each do |gt, i|
                    = gt
                    %br

          - if current_user.present? and @tournament.players.include?(current_user.player) and @currently_needed_game_stations.to_i > 0 and !@tournament.setup and !@tournament.started and !@tournament.finished
            .tournament__players
              .row.game-stations-text
                .col
                  %h2= t('tournaments.bring_a_setup.title')
                  %p= t('tournaments.bring_a_setup.body')
                  .row.add-game-stations
                    .col{style: 'text-align: left;'}
                      %ul
                        %li= t('tournaments.bring_a_setup.li1')
                        %li= t('tournaments.bring_a_setup.li2')
                        %li= t('tournaments.bring_a_setup.li3')
                        %li= t('tournaments.bring_a_setup.li4')
                    .col
                      = form_for @registration, as: :registration, url: registration_path(id: @registration.id, anchor: 'players'), role: 'form', method: :patch do |f|
                        = f.number_field :game_stations, value: 1, style: 'width:35px', min: 0, max: @currently_needed_game_stations
                        = f.submit t('tournaments.bring_a_setup.i_will_bring'), class:'btn btn-ghost', id:'bring-game-stations-button', style: 'display:inline'
                        %br
                        = (@currently_needed_game_stations > 1) ? t('tournaments.bring_a_setup.max_more_needed_setups', setups: @currently_needed_game_stations) : t('tournaments.bring_a_setup.max_one_more_needed_setup')

          - if current_user.present? and current_user.admin?
            .tournament__players
              - if !@tournament.setup and !@tournament.started and !@tournament.finished
                .row{style: 'margin-bottom: 2rem;'}
                  .col
                    = button_to t('tournaments.seed_players'), "/tournaments/seed_players/#{@tournament.id}", method: 'patch', class:'btn btn-ghost', id:'seed_players-tournament-button', :data => {:confirm => t('tournaments.seed_players_tournament_confirm')}
                  .col
                    = button_to t('tournaments.seed_players_randomly'), "/tournaments/seed_players/#{@tournament.id}", method: 'patch', class:'btn btn-ghost', id:'seed_players-tournament-button', params: {randomly: true}, :data => {:confirm => t('tournaments.seed_players_tournament_confirm')}
              .row
                .col
                  = mail_to "", t('tournaments.mail_all_players'), bcc: mail_string, subject: "#{t('tournaments.mail_all_players_subject')} #{@tournament.name}", class: 'btn btn-ghost'

        - if current_user.present? and current_user.admin? and !@tournament.setup and !@tournament.started and !@tournament.finished
          .tournament__players
            .row
              .col
                = form_tag "/tournaments/add_player/#{@tournament.id}#players", method:'post', class: 'form-group' do
                  = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
                  = submit_tag t('tournaments.add_player'), name:nil, class: 'btn btn-ghost', style: 'margin-top: 0.4rem;'
              .col
                = form_tag "/tournaments/remove_player/#{@tournament.id}#players", method:'post', class: 'form-group' do
                  = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
                  = submit_tag t('tournaments.remove_player'), name:nil, class: 'btn btn-ghost', style: 'margin-top: 0.4rem;'

    - if @tournament.waiting_list.length > 0
      .tab-pane.fade#waiting{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__players
          %table.table.table-hover.table-borderless
            %thead
              %tr
                %th
                  %h3= t('tournaments.name')
                %th{style: 'text-align: center;'}
                  %h3= t('players.mains')
                %th{style: 'text-align: center;'}
                  %h3= t('tournaments.waiting_position')

            %tbody.table-content.with-show
              - @tournament.waiting_list.each_with_index do |gt, i|
                - player = Player.find_by(gamer_tag: gt)
                %tr{'data-id': player.id, 'data-component'=>'player'}
                  %td= player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
                  %td{style: 'text-align: center;'}
                    - if player.main_characters.any?
                      - player.main_characters[0...3].each do |char|
                        - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                          = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                  %td{style: 'text-align: center;'}= "##{i+1}"
    - if @tournament.started and @tournament.finished
      .tab-pane.fade#ranking{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__players
          %table.table.table-hover.table-borderless
            %thead
              %tr
                %th{style: 'text-align: center;'}
                  %h3= t('tournaments.ranking')
                %th
                  %h3= t('tournaments.name')
                %th{style: 'text-align: center;'}
                  %h3= t('players.points')
                %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                  %h3= t('tournaments.matches')
                %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                  %h3= t('w_l')
            %tbody.table-contentt.with-show
              - @tournament.results.sort_by{|r| r.rank || 9999}.each do |r|
                - player = @tournament.players.find(r.player_id)
                %tr{'data-id': player.id, 'data-component'=>'player'}
                  %td{style: 'text-align: center;'}
                    %strong= r.rank.nil? ? "-" : r.rank.ordinalize
                  %td
                    - if player.main_characters.any?
                      - player.main_characters[0...1].each do |char|
                        - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                          = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                    - else
                      .div{style: 'display: inline;'}
                        %span.material-icons{style: 'vertical-align: middle; height: 25px; width: 25px;'}= 'help'
                    = player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
                  %td{style: 'text-align: center;'}= r.points
                  %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                    = player.matches.where(tournament_id: @tournament.id).count
                  %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell{style: 'text-align: center;'}
                    - if r.wins == 0 and r.losses == 0
                      = '-'
                    - else
                      = "#{(r.wins.to_f/(r.wins+r.losses)*100).round(2)} %"

  - if !@tournament.finished and current_user.present? and current_user.admin?
    .row
      .col{style: 'text-align: left;'}
        - if @tournament.is_registration_allowed and !@tournament.setup and !@tournament.started
          = button_to t('tournaments.set_up_tournament'), "/tournaments/setup/#{@tournament.id}", class:'btn btn-ghost', id:'setup-tournament-button', :data => {:confirm => t('tournaments.set_up_tournament_confirm')}
        - elsif @tournament.is_registration_allowed and @tournament.setup and !@tournament.started
          = button_to t('tournaments.start_tournament'), "/tournaments/start/#{@tournament.id}", class:'btn btn-sstm', id:'start-tournament-button', :data => {:confirm => t('tournaments.start_tournament_confirm')}
      .col{style: 'text-align: right;'}
        - if @tournament.is_registration_allowed and @tournament.started
          = button_to t('tournaments.finish_tournament'), "/tournaments/finish/#{@tournament.id}", class:'btn btn-sstm', id:'finish-tournament-button', :data => {:confirm => t('confirm')}
        - else
          -# cancel tournament form
          = form_for @tournament, role: 'form', as: :tournament, url: "/tournaments/cancel/#{@tournament.id}", method: :post do |f|
            = f.text_field :name, value: "(cancelled) #{@tournament.name}", style: 'display: none;'
            = f.check_box :finished, checked: true, style: 'display: none;'
            = f.submit t('tournaments.cancel_tournament'), class:'btn btn-sstm', id:'cancel-tournament-button', data: { confirm: t('confirm') }

  - if current_user.present? and current_user.admin?
    .admin-actions
      .admin-actions__link
        = link_to edit_tournament_path(@tournament), class:'btn btn-ghost btn-square' do
          %span.material-icons.admin-actions__link__icon= 'edit'

      .admin-actions__link
        = link_to @tournament, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sstm btn-square' do
          %span.material-icons.admin-actions__link__icon= 'delete'
