.row
  .col
    %h1.page__title= @tournament.name
  

.tournament
  %ul#tournament-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
    %li.nav-item
      %a#details-tab.nav-link.active{'data-toggle'=>'tab', href: '#details', role: 'tab', 'aria-controls'=>'all'}
        = 'Details'
    -if @tournament.description.present?
      %li.nav-item
        %a#description-tab.nav-link{'data-toggle'=>'tab', href: '#description', role: 'tab', 'aria-controls'=>'all'}
          = 'Description'
    - if @tournament.location.present?
      %li.nav-item
        %a#location-tab.nav-link{'data-toggle'=>'tab', href: '#location', role: 'tab', 'aria-controls'=>'all'}
          = 'Location'
    - if @tournament.players.any?
      %li.nav-item
        %a#players-tab.nav-link{'data-toggle'=>'tab', href: '#players', role: 'tab', 'aria-controls'=>'all'}
          = 'Players'
    - if @tournament.waiting_list.length > 0
      %li.nav-item
        %a#waiting-tab.nav-link{'data-toggle'=>'tab', href: '#waiting', role: 'tab', 'aria-controls'=>'all'}
          = 'Waiting List'
    - if @tournament.started and @tournament.finished
      %li.nav-item
        %a#ranking-tab.nav-link{'data-toggle'=>'tab', href: '#ranking', role: 'tab', 'aria-controls'=>'all'}
          = 'Ranking'
    

  .tab-content#tourmanets-tabs-content
    .tab-pane.fade.show.active#details{role: 'tabpanel', 'aria-labelledby'=>'details-tab'}
      .tournament__details
        .row
          .col
            .tournament__details__single
              %strong
                = @tournament.date.to_s(:custom_datetime_with_weekday)
              %span
                Start
          .col
            .tournament__details__single.tournament__details__single--last
              %strong
                - if @tournament.registration_deadline.nil?
                  = '-'
                - else
                  = @tournament.registration_deadline.to_s(:custom_datetime_with_weekday)
              %span
                Registration deadline
      .tournament__details
        .row
          .col
            .tournament__details__single.tournament__details__single--last
              %strong
                - if @tournament.location.present?
                  = @tournament.location
                - else
                  = @tournament.city
              %span
                Location
      .tournament__details
        .row
          .col
            .tournament__details__single.tournament__details__single--last
              %strong
                - if @tournament.registration_fee.to_i%1 != 0  # check if it's a float
                  = @tournament.registration_fee
                - else
                  = @tournament.registration_fee.to_i
                = 'CHF'
              %span
                Registration Fee
          .col
            .tournament__details__single.tournament__details__single--last
              %strong
                - if @tournament.total_seats.present?
                  = "#{@tournament.players.count} / #{@tournament.total_seats}"
                - else
                  = @tournament.players.count
              %span
                Seats

          - if @tournament.min_needed_registrations.present?
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = @tournament.min_needed_registrations.to_i
                %span
                  Required players

          - if @tournament.total_needed_game_stations.present?
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  - if @tournament.total_needed_game_stations.to_i > 0
                    = "#{@min_needed_game_stations}..#{@tournament.total_needed_game_stations}"
                  - else
                    = @tournament.total_needed_game_stations.to_i
                %span
                  Game stations
      - if @tournament.host_username.present?
        .tournament__details
          .row
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  - if @host_player.present?
                    = link_to @host_player.gamer_tag, @host_player
                  - else
                    = @tournament.host_username
                %span
                  Host
      - if @tournament.setup
        .tournament__details
          .row
            .col
              .tournament__details__single.tournament__details__single--last
                %strong
                  = link_to 'Challonge', "https://challonge.com/de/#{valid_challonge_url(@tournament.name)}", target: '_blank', class:'btn btn-sstm'
                %span
                  Brackets

    - if @tournament.description.present?
      .tab-pane.fade#description{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__description
          = @tournament.description.html_safe
    - if @tournament.location.present?
      .tab-pane.fade#location{role: 'tabpanel', 'aria-labelledby'=>'location-tab'}
        .tournament__location
          - address_array = @tournament.location.split(',')
          - address = (address_array[1].to_s.strip + ',' + address_array[2].to_s).gsub(' ', '+')
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed/v1/search?q=#{address}&key=#{ENV['GOOGLE_MAPS_API_KEY']}", :style => "border:0", :width => "100%"}
        
    - if @tournament.players.any?
      .tab-pane.fade#players{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__players
          %table.table.table-hover.table-borderless
            %thead
              %tr
                %th{colspan:'3'} 
                  %h3 Name
            %tbody.table-content.with-show
              - @tournament.players.includes(:registrations).order('registrations.created_at').each do |player, i|
                %tr{'data-id': player.id, 'data-component'=>'player'}
                  %td
                    = link_to "#{player.gamer_tag}", player
                  %td
                    - if player.main_characters.any?
                      - player.main_characters[0...1].each do |char|
                        - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                          = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                  %td
                    - player_registration = player.registrations.where(tournament_id: @tournament.id).first
                    - gs = player_registration.game_stations
                    - if !gs.nil? and gs > 0
                      = "( #{!@tournament.finished ? 'Brings' : 'Brought'} #{gs} game #{gs > 1 ? 'stations' : 'station'} )"

    - if @tournament.waiting_list.length > 0
      .tab-pane.fade#waiting{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__players
          %table.table.table-hover.table-borderless
            %thead
              %tr
                %th{colspan:'2'} 
                  %h3 Name
                %th 
                  = '#'
            %tbody.table-content.with-show
              - @tournament.waiting_list.each_with_index do |player, i|
                %tr{'data-id': player.id, 'data-component'=>'player'}
                  %td
                    = link_to "#{player.gamer_tag}", player
                  %td
                    - if player.main_characters.any?
                      - player.main_characters[0...1].each do |char|
                        - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                          = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                  %td
                    = "##{i+1}"
    - if @tournament.started and @tournament.finished
      .tab-pane.fade#ranking{role: 'tabpanel', 'aria-labelledby'=>'description-tab'}
        .tournament__players
          %table.table.table-hover.table-borderless
            %thead
              %tr
                %th{colspan:'1'} 
                  %h3 Ranking
                %th 
                  Name
                %th 
                  Points
            %tbody.table-content
              - @tournament.ranking_string.split(';').sort_by{|a| a.split(',')[0].to_i}.each do |r|
                - ranking = r.split(',')
                %tr
                  %td
                    %strong
                      = "#{ranking[0]}"
                  %td
                    = "#{ranking[1]}"
                  %td
                    = "#{points_repartition_table(ranking[0].to_i)}"

  - if current_user.present? and current_user.admin?
    .admin-actions
      .admin-actions__link
        = link_to edit_tournament_path(@tournament), class:'btn btn-ghost btn-square' do
          %span.material-icons.admin-actions__link__icon
            edit

      .admin-actions__link
        = link_to @tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
          %span.material-icons.admin-actions__link__icon
            delete