%h1.page__title
  = t('welcome.title')
%p
  .row{style: 'text-align: center;'}
    .col
      = link_to 'https://discord.gg/wA89CyA', target: '_blank' do
        %p{style: 'margin-bottom: 0;'}
          %strong= "Join us"
        = image_tag "Discord-Logo-Black.svg", class: 'welcome_image'
    .col
      = link_to 'https://twitter.com/swiss_smash', target: '_blank' do
        %p{style: 'margin-bottom: 0;'}
          %strong= "Follow us"
        = image_tag "Twitter_Logo.svg", class: 'welcome_image'
    .col
      = link_to calendar_path do
        %p{style: 'margin-bottom: 0;'}
          %strong= "Find us"
        = image_tag "Calendar_Logo.svg", class: 'welcome_image'
%p
  = t('welcome.body1',
    discord_link: link_to('Discord', 'https://discord.gg/wA89CyA', target: '_blank', style: 'font-weight: 600;'),
    twitter_link: link_to('Twitter', 'https://twitter.com/swiss_smash', target: '_blank', style: 'font-weight: 600;')).html_safe

%p
  = t('welcome.body2',
    tournaments_link: link_to(t('welcome.tournament_list'), tournaments_path, style: 'font-weight: 600;'),
    calendar_link: link_to(t('welcome.calendar'), calendar_path, style: 'font-weight: 600;')).html_safe

%p
  = t('welcome.body3',
    log_in_link: link_to(t('welcome.log_in'), new_user_session_path, style: 'font-weight: 600;'),
    sign_up_link: link_to(t('welcome.sign_up'), new_user_registration_path, style: 'font-weight: 600;')).html_safe
