- set_meta_tags description: 'Italy Super Smash Brothers E-Sports Community'

%h1.page__title
  = t('welcome.it.title')
%p
  .row{style: 'text-align: center;'}
    - if current_user.present?
      .col
        = link_to statistics_path do
          %p{style: 'margin-bottom: 0;'}
            %strong= t('players.title')
          %span.welcome_image.material-icons.admin-actions__link__icon= 'person'
    - else
      .col
        = link_to new_user_registration_path do
          %p{style: 'margin-bottom: 0;'}
            %strong= t('sign_up')
          %span.welcome_image.material-icons.admin-actions__link__icon= 'person_add'
    .col
      = link_to calendar_path do
        %p{style: 'margin-bottom: 0;'}
          %strong= t('tournaments.calendar')
        = image_tag "Calendar_Logo.svg", alt: 'Calendar logo welcome image', class: 'welcome_image'
    .col
      = link_to communities_path do
        %p{style: 'margin-bottom: 0;'}
          %strong= t('communities.title')
        = image_tag "italy_map.svg", alt: 'Italy map welcome image', class: 'welcome_image'
%p
  = t('welcome.it.body0')

%p
  = t('welcome.it.body1',
    tournaments_link: link_to(t('welcome.tournament_list'), tournaments_path, style: 'font-weight: 600;'),
    calendar_link: link_to(t('welcome.calendar'), calendar_path, style: 'font-weight: 600;')).html_safe

%p
  = t('welcome.it.body2',
    communities: link_to(t('welcome.communities'), communities_path, style: 'font-weight: 600;')).html_safe

%p
  = t('welcome.it.body3',
    log_in_link: link_to(t('welcome.log_in'), new_user_session_path, style: 'font-weight: 600;'),
    sign_up_link: link_to(t('welcome.sign_up'), new_user_registration_path, style: 'font-weight: 600;')).html_safe

%p
  = t('welcome.it.body4',
    rankings_link: link_to(t('rankings.title'), rankings_path, style: 'font-weight: 600;')).html_safe

%p
  = t('welcome.it.body5',
    players_link: link_to(t('players.title'), players_path, style: 'font-weight: 600;'),
    videos_link: link_to(t('players.videos'), videos_path, style: 'font-weight: 600;')).html_safe


%p
  = t('welcome.it.body6',
    informations_link: link_to(t('information.it.title_short'), informations_path, style: 'font-weight: 600;')).html_safe
