- set_meta_tags description: meta_tag_description('News')
.row
  .col
    %h1.page__title= t('news.title')

- if @news.any?
  .news
    - @news.each_with_index do |news, i|
      = link_to news, class: "thumbnail #{i == 0 ? 'highlighted' : ''}" do
        .row
          .col-2.text-center{style: "padding-top: 10px; font-size: 10px; border-right: 1px lightgray solid;"}
            = news.created_at.to_fs(:custom_datetime_date)
          .col-10{style: "padding-left: 10px;"}
            %strong= news.title
            %br
            = news.teaser

    .news__pagination
      = render 'paginator'
- else
  .text-center
    = t('news.no_news_found')


- if current_user.present?
  .admin-actions
    - if current_user.admin? || current_user.has_role?('news_editor')
      .admin-actions__link
        = link_to new_news_path, class:'btn btn-default btn-square' do
          %span.material-icons.admin-actions__link__icon= 'add'
    - else
      .admin-actions__link
        = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
          %span.material-icons.admin-actions__link__icon= 'info'
      = render '/partials/info', info_body: t('news.info_body') #infoModal
