.row
  .col
    %h1.page__title= t('information.title')

%ul#information-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a#general-tab.nav-link.active{'data-toggle'=>'tab', href: '#general', role: 'tab', 'aria-controls'=>'all'}
      = t('information.general.title')
  %li.nav-item
    %a#tournament-manager-tab.nav-link{'data-toggle'=>'tab', href: '#tournament-manager', role: 'tab', 'aria-controls'=>'all'}
      = t('information.tournament_manager.title')

.tab-content#information-tabs-content
  .tab-pane.fade.show.active#general{role: 'tabpanel', 'aria-labelledby'=>'general-tab'}
    .row
      .col
        %p
          = t('information.general.intro', link: link_to('swisssmash.ch', '/')).html_safe

    .row
      .col
        %h2 Swisssmash.ch
        %p
          = t('information.general.swisssmash').html_safe

    .row
      .col
        %h2= t('tournaments.title')
        %p
          = t('information.general.tournaments_body', link: link_to('web crawler', 'https://wikipedia.org/wiki/Web_crawler', target: '_blank')).html_safe
        %ul
          %li= link_to 'smash.gg', 'https://smash.gg/tournaments?per_page=100&filter={%22upcoming%22%3Atrue%2C%22videogameIds%22%3A0%2C%22countryCode%22%3A%22CH%22}', target: '_blank'
          %li= link_to 'braacket.com', 'https://braacket.com/tournament/search?rows=100&country=ch&game=ssbu&status=1', target: '_blank'
          %li= link_to 'toornament.com', 'https://www.toornament.com/tournaments/?q[discipline]=supersmashbros_ultimate&q[platform]=nintendo_switch&q[type]=upcoming', target: '_blank'

    .row
      .col
        %h2= t('calendar.title')
        %p
          = t('information.general.calendar_body')
        %ul
          %span.circle{style: "background: #61bf9b;"}
          %span= t('information.general.calendar_weekly')
          %br
          %span.circle{style: "background: orchid;"}
          %span= t('information.general.calendar_internal')
          %br
          %span.circle{style: "background: cornflowerblue;"}
          %span= t('information.general.calendar_external')


    .row
      .col
        %h2= t('information.general.power_ranking')
        %p= t('information.general.power_ranking_body')
        %ul
          %li= t('information.general.power_ranking_li_1')
          %li= t('information.general.power_ranking_li_2')
          %li= t('information.general.power_ranking_li_3')
          %li= t('information.general.power_ranking_li_4')
          %li= t('information.general.power_ranking_li_5')
          %li= t('information.general.power_ranking_li_6')

    .row
      .col
        %h2= t('information.general.results')
        %p
          = t('information.general.results_body', link: link_to('Swiss Ultimate Tournaments', 'https://braacket.com/league/ALLOFTHEM/tournament?rows=200', target: '_blank')).html_safe

    .row
      .col
        %h2= t('information.general.personal_data')
        %p= t('information.general.personal_data_body').html_safe

    .row.mt-3
      .col
        .img-responsive
          = link_to image_tag('Discord-Logo_Wordmark-Black.svg', height: '30%', width: '30%'), 'https://discord.gg/wA89CyA', target: '_blank'
        = t('information.general.discord', link: link_to('Discord', 'https://discord.gg/wA89CyA', target: '_blank')).html_safe

  .tab-pane.fade.show#tournament-manager{role: 'tabpanel', 'aria-labelledby'=>'tournament-manager-tab'}
    .row
      .col
        %p= t('information.tournament_manager.intro')


    .row
      .col
        %h2= t('information.tournament_manager.bracket_tool')
        %p
          = t('information.tournament_manager.bracket_tool_body', link: link_to('Challonge', 'https://challonge.com/', target: '_blank')).html_safe

    .row
      .col
        %h2= t('information.tournament_manager.ranking_system')
        %p= t('information.tournament_manager.ranking_system_body')

    .row
      .col
        %table.table.table-hover.table-borderless
          %thead.ranking-system-header
            %tr
              %th.text-center= t('information.tournament_manager.ranking_system_rank')
              %th.text-center= t('information.tournament_manager.ranking_system_points')
          %tbody.ranking-system-body
            %tr
              %td.text-center= 1.ordinalize
              %td.text-center 300
            %tr
              %td.text-center= 2.ordinalize
              %td.text-center 250
            %tr
              %td.text-center= 3.ordinalize
              %td.text-center 200
            %tr
              %td.text-center= 4.ordinalize
              %td.text-center 150
            %tr
              %td.text-center= 5.ordinalize+'-'+6.ordinalize
              %td.text-center 100
            %tr
              %td.text-center= 7.ordinalize+'-'+8.ordinalize
              %td.text-center 75
            %tr
              %td.text-center= 9.ordinalize+'-'+12.ordinalize
              %td.text-center 50
            %tr
              %td.text-center= 13.ordinalize+'-'+16.ordinalize
              %td.text-center 25
            %tr
              %td.text-center= 17.ordinalize+'-'+24.ordinalize
              %td.text-center 15
            %tr
              %td.text-center= 25.ordinalize+'-'+32.ordinalize
              %td.text-center 10
            %tr
              %td.text-center= '>'+32.ordinalize
              %td.text-center 5

    .row.mt-3
      .col
        %h2= t('information.tournament_manager.seeding')
        %p
          = t('information.tournament_manager.seeding_body1')
          %br
          %div{style: 'margin-left: 20px;'}
            %i player_skill = points/participations + wins/(wins+losses)*100 + participations + self_assessment/5 + tournament_experience/10
          %br
          = t('information.tournament_manager.seeding_body2')

    -# .row.mt-3
    -#   .col
    -#     %h2
    -#       = 'Prizes for the winners'
    -#       %em{style: 'font-size: 15px; color: red;'}
    -#         = '(not final yet)'
    -#     %p
    -#       = 'The top 3 ranks must be unambiguous. That means, if there are two or more players with the same amount of points, they have to play rematches (best of 5 games) until the three winners are clear. Each player will only receive one prize.'
    -# .row
    -#   .col
    -#     %table.table.table-hover.table-borderless
    -#       %thead.prizes-header
    -#         %tr
    -#           %th.text-center Rank or Points (p)
    -#           %th.text-center Prizes
    -#       %tbody.prizes-body
    -#         %tr
    -#           %td.text-center 1
    -#           %td.text-center Not yet decided, Not yet decided, Not yet decided
    -#         %tr
    -#           %td.text-center 2
    -#           %td.text-center Not yet decided, Not yet decided
    -#         %tr
    -#           %td.text-center 3
    -#           %td.text-center Not yet decided
    -#         %tr
    -#           %td.text-center 4-6
    -#           %td.text-center Not yet decided
    -#         %tr
    -#           %td.text-center >1500p
    -#           %td.text-center Not yet decided
    -#         %tr
    -#           %td.text-center >1000p
    -#           %td.text-center Not yet decided
    -#         %tr
    -#           %td.text-center >500p
    -#           %td.text-center Not yet decided

    .row.mt-3
      .col
        %h2= t('information.tournament_manager.tournament_organiser')
        %p= t('information.tournament_manager.tournament_organiser_body', link: mail_to('admin@swisssmash.ch', t('information.tournament_manager.tournament_organiser_mail'), subject: t('information.tournament_manager.tournament_organiser_mail_subject'), body: t('information.tournament_manager.tournament_organiser_mail_body'))).html_safe
