.row
  .col
    %h1.page__title= 'Information'
    %p Here you'll find some general information concerning the SwissSmash Tournament Manager.

.row
  .col
    %h3
      = 'Ranking system'
      %em{style: 'font-size: 15px; color: red;'}
        = '(not final yet)'
    %p
      = 'Regardless of the number of participants per tournament,'
      = 'the players rank at the end of a tournament decides the amount of points he or she receives.'
.row
  .col
    %table.table.table-striped
      %thead.ranking-system-header
        %tr
          %th.text-center Rank
          %th.text-center Points
      %tbody.ranking-system-body
        %tr
          %td.text-center 1
          %td.text-center 300
        %tr
          %td.text-center 2
          %td.text-center 250
        %tr
          %td.text-center 3
          %td.text-center 200
        %tr
          %td.text-center 4
          %td.text-center 150
        %tr
          %td.text-center 5-6
          %td.text-center 100
        %tr
          %td.text-center 7-8
          %td.text-center 75
        %tr
          %td.text-center 9-12
          %td.text-center 50
        %tr
          %td.text-center 13-16
          %td.text-center 25
        %tr
          %td.text-center 17-24
          %td.text-center 15
        %tr
          %td.text-center 25-32
          %td.text-center 10
        %tr
          %td.text-center >32
          %td.text-center 5

.row.mt-3
  .col
    %h2
      = 'Match seeding'
    %p
      = 'The initial seeding is done by providing the Challonge Tournament Manager a player list sorted by skill'
      %i= '(player_skill = points/participations + wins/(wins+losses) + self_assessment/5 + tournament_experience/10).'
      %br
      = 'The final seeding is done manually by a TO or his/her representatives.'
      %br

.row.mt-3
  .col
    %h2
      = 'Prices for the winners'
      %em{style: 'font-size: 15px; color: red;'}
        = '(not final yet)'
    %p
      = 'The top 3 ranks must be unambiguous. That means, if there are two or more players with the same amount of points, they have to play rematches (e.g. best of 5 games) until the three winners are clear. Each player will only receive one price.'
.row
  .col
    %table.table.table-striped
      %thead.prices-header
        %tr
          %th.text-center Rank or Points (p)
          %th.text-center Prices
      %tbody.prices-body
        %tr
          %td.text-center 1
          %td.text-center Not yet decided, Not yet decided, Not yet decided
        %tr
          %td.text-center 2
          %td.text-center Not yet decided, Not yet decided
        %tr
          %td.text-center 3
          %td.text-center Not yet decided
        %tr
          %td.text-center 4-6
          %td.text-center Not yet decided
        %tr
          %td.text-center >1500p
          %td.text-center Not yet decided
        %tr
          %td.text-center >1000p
          %td.text-center Not yet decided
        %tr
          %td.text-center >500p
          %td.text-center Not yet decided

.row.mt-3
  .col
    %h2= 'Tournament organiser'
    %p
      = 'Are you organising tournaments yourself and would like to use the SwissSmash Tournament Manager? Just let me know'
      = mail_to 'admin@swisssmash.ch', 'via email.', subject: 'I would like to be an administrator!', body: "Hi SwissSmash\n\nI'm ??? and I would like to be an administrator because:\n???"

.row.mt-3
  .col
    = 'Join us on'
    %strong= link_to 'Discord', 'https://discord.gg/wA89CyA', target: '_blank'
    = 'if you want to stay up-to-date with the Swiss Smash Community.'
