- set_meta_tags description: meta_tag_description('Privacy Policy')

%h1.page__title
  = t('navigation.footer.privacy_policy').html_safe
%h2 1. la protection des données en un coup d'œil
%h3 Remarques générales
%p Les remarques suivantes donnent un aperçu simple de ce qui se passe avec vos données personnelles lorsque vous visitez ce site web. Les données personnelles sont toutes les données qui permettent de vous identifier personnellement. Pour des informations détaillées sur le thème de la protection des données, veuillez consulter nos informations sur la protection des données figurant sous ce texte.
%h3 Collecte de données sur ce site web
%h4 Qui est responsable de la collecte des données sur ce site web ?
%p Le traitement des données sur ce site web est effectué par l'exploitant du site web. Vous trouverez ses coordonnées dans la section "Informations sur le responsable du traitement" des présentes informations sur la protection des données.
%h4 Comment collectons-nous vos données ?
%p Vos données sont collectées, d'une part, lorsque vous nous les communiquez. Il peut s'agir par exemple de données que vous saisissez dans un formulaire de contact.
%p D'autres données sont collectées automatiquement ou après votre accord par nos systèmes informatiques lorsque vous visitez le site web. Il s'agit principalement de données techniques (par exemple, le navigateur Internet, le système d'exploitation ou l'heure de consultation de la page). La saisie de ces données s'effectue automatiquement dès que vous accédez à ce site web.
%h4 À quoi utilisons-nous vos données ?
%p Une partie des données est collectée afin de garantir une mise à disposition sans erreur du site web. D'autres données peuvent être utilisées pour analyser votre comportement d'utilisateur.
%h4 Quels sont vos droits concernant vos données ?
%p Vous avez à tout moment le droit d'obtenir gratuitement des informations sur l'origine, le destinataire et la finalité de vos données personnelles enregistrées. Vous avez également le droit de demander la rectification ou la suppression de ces données. Si vous avez donné votre consentement au traitement des données, vous pouvez à tout moment révoquer ce consentement pour l'avenir. Vous avez également le droit de demander la limitation du traitement de vos données personnelles dans certaines circonstances. En outre, vous disposez d'un droit de recours auprès de l'autorité de surveillance compétente.
%p Vous pouvez nous contacter à tout moment à ce sujet ou pour toute autre question relative à la protection des données.
%h3 Outils d'analyse et outils de fournisseurs tiers
%p Lorsque vous visitez ce site web, votre comportement de navigation peut faire l'objet d'une évaluation statistique. Cela se fait principalement à l'aide de programmes dits d'analyse.
%p Vous trouverez des informations détaillées sur ces programmes d'analyse dans les informations suivantes sur la protection des données.
%h2 2. hébergement
%h3 Hébergement externe
%p Ce site web est hébergé par un prestataire de services externe (hébergeur). Les données à caractère personnel collectées sur ce site web sont stockées sur les serveurs de l'hébergeur. Il peut s'agir notamment d'adresses IP, de demandes de contact, de métadonnées et de données de communication, de données contractuelles, de données de contact, de noms, de consultations du site web et d'autres données générées par un site web.
%p L'utilisation de l'hébergeur a pour but l'exécution du contrat vis-à-vis de nos clients potentiels et existants (article 6, paragraphe 1, point b du RGPD) et dans l'intérêt d'une mise à disposition sûre, rapide et efficace de notre offre en ligne par un fournisseur professionnel (article 6, paragraphe 1, point f du RGPD). Si un consentement correspondant a été demandé, le traitement est effectué exclusivement sur la base de l'article 6, paragraphe 1, point a), du RGPD et de l'article 25, paragraphe 1, de la loi sur la protection des données (TTDSG), dans la mesure où le consentement inclut le stockage de cookies ou l'accès à des informations dans le terminal de l'utilisateur (par ex. Device-Fingerprinting) au sens de la TTDSG. Le consentement est révocable à tout moment.
%p Notre hébergeur ne traitera vos données que dans la mesure où cela est nécessaire à l'exécution de ses obligations de prestation et suivra nos instructions en ce qui concerne ces données.
%p Nous utilisons l'hébergeur suivant :
%p
  Heroku Inc. (Salesforce Inc.)
  %br/
  Salesforce Tower
  %br/
  415 Mission Street
  %br/
  3rd Floor
  %br/
  San Francisco
  %br/
  CA 94105
  %br/
  United States
%h2 3. informations générales et obligatoires
%h3 Protection des données
%p Les exploitants de ces pages prennent très au sérieux la protection de vos données personnelles. Nous traitons vos données personnelles de manière confidentielle et conformément aux dispositions légales en matière de protection des données ainsi qu'aux présentes informations sur la protection des données.
%p Lorsque vous utilisez ce site web, différentes données personnelles sont collectées. Les données personnelles sont des données qui permettent de vous identifier personnellement. La présente note d'information sur la protection des données explique quelles données nous collectons et à quelles fins nous les utilisons. Elle explique également comment et dans quel but nous le faisons.
%p Nous attirons votre attention sur le fait que la transmission de données sur Internet (par ex. lors de la communication par e-mail) peut présenter des failles de sécurité. Une protection sans faille des données contre l'accès par des tiers n'est pas possible.
%h3 Remarque sur le service responsable
%p Le service responsable du traitement des données sur ce site web est :
%p
  Jascha Haldemann
  %br/
  Bürglenstrasse 69
  %br/
  3006 Bern
  %br/
  Schweiz
%p
  -# Téléphone : +41 (0) 79 247 26 28
  -# %br/
  E-mail : admin@francesmash.fr
%p Le responsable du traitement est la personne physique ou morale qui, seule ou conjointement avec d'autres, détermine les finalités et les moyens du traitement des données à caractère personnel (p. ex. noms, adresses e-mail ou autres).
%h3 Durée de conservation
%p Si aucune durée de stockage spécifique n'est mentionnée dans les présentes informations sur la protection des données, vos données à caractère personnel resteront chez nous jusqu'à ce que la finalité du traitement des données soit supprimée. Si vous faites valoir une demande légitime d'effacement ou si vous révoquez votre consentement au traitement des données, vos données seront effacées, à moins que nous n'ayons d'autres raisons légalement valables de conserver vos données personnelles (par exemple, des délais de conservation en vertu du droit fiscal ou commercial) ; dans ce dernier cas, l'effacement aura lieu après la disparition de ces raisons.
%h3 Informations générales sur les bases juridiques du traitement des données sur ce site web
%p Si vous avez consenti au traitement des données, nous traitons vos données personnelles sur la base de l'article 6, paragraphe 1, point a) du RGPD ou de l'article 9, paragraphe 2, point a) du RGPD, si des catégories particulières de données sont traitées conformément à l'article 9, paragraphe 1 du RGPD. Si vous avez consenti à l'enregistrement de cookies ou à l'accès à des informations dans votre terminal (par ex. via Device-Fingerprinting), le traitement des données s'effectue en outre sur la base de l'art. 25, al. 1 TTDSG. Ce consentement est révocable à tout moment. Si vos données sont nécessaires à l'exécution d'un contrat ou à la mise en œuvre de mesures précontractuelles, nous traitons vos données sur la base de l'article 6, paragraphe 1, point b), du RGPD. En outre, nous traitons vos données si elles sont nécessaires pour remplir une obligation légale sur la base de l'article 6, paragraphe 1, point c) du RGPD. Le traitement des données peut également être effectué sur la base de notre intérêt légitime conformément à l'article 6, paragraphe 1, point f), du RGPD. Les paragraphes suivants des présentes informations sur la protection des données renseignent sur les bases juridiques applicables dans chaque cas.
%h3 Remarque sur la transmission de données aux États-Unis et dans d'autres pays tiers
%p Nous utilisons entre autres des outils d'entreprises dont le siège se trouve aux États-Unis ou dans d'autres pays tiers qui ne sont pas sûrs du point de vue de la protection des données. Lorsque ces outils sont actifs, vos données personnelles peuvent être transférées vers ces pays tiers et y être traitées. Nous attirons votre attention sur le fait qu'aucun niveau de protection des données comparable à celui de l'UE ne peut être garanti dans ces pays. Par exemple, les entreprises américaines sont obligées de transmettre des données personnelles aux autorités de sécurité sans que vous puissiez, en tant que personne concernée, intenter une action en justice. Il ne peut donc pas être exclu que les autorités américaines (par ex. les services secrets) traitent, évaluent et stockent durablement vos données sur les serveurs américains à des fins de surveillance. Nous n'avons aucune influence sur ces activités de traitement.
%h3 Révocation de votre consentement au traitement des données
%p De nombreuses opérations de traitement des données ne sont possibles qu'avec votre consentement explicite. Vous pouvez révoquer à tout moment un consentement déjà donné. La légalité du traitement des données effectué jusqu'à la révocation n'est pas affectée par la révocation.
%h3 Droit d'opposition à la collecte de données dans des cas particuliers et à la publicité directe (art. 21 RGPD)
%p SI LE TRAITEMENT DES DONNEES EST FAIT SUR LA BASE DE L'ART. 6 ABS. 1 LIT. E OU F DU RGPD, VOUS AVEZ LE DROIT DE VOUS OPPOSER À TOUT MOMENT, POUR DES RAISONS TENANT À VOTRE SITUATION PARTICULIÈRE, AU TRAITEMENT DE VOS DONNÉES À CARACTÈRE PERSONNEL ; CELA VAUT ÉGALEMENT POUR LE PROFILAGE FONDÉ SUR CES DISPOSITIONS. VOUS TROUVEREZ DANS LA PRÉSENTE DÉCLARATION DE PROTECTION DES DONNÉES LES BASES JURIDIQUES RESPECTIVES SUR LESQUELLES SE FONDE UN TRAITEMENT. SI VOUS VOUS Y OPPOSEZ, NOUS NE TRAITERONS PLUS VOS DONNÉES PERSONNELLES CONCERNÉES, À MOINS QUE NOUS NE PUISSIONS DÉMONTRER DES MOTIFS IMPÉRIEUX ET LÉGITIMES POUR LE TRAITEMENT QUI PRÉVALENT SUR VOS INTÉRÊTS, VOS DROITS ET VOS LIBERTÉS, OU QUE LE TRAITEMENT SERVE À FAIRE VALOIR, EXERCER OU DÉFENDRE DES DROITS LÉGAUX (OPPOSITION À L'ART. 21 AL. 1 DSGVO).
%p SI VOS DONNÉES PERSONNELLES SONT TRAITÉES POUR FAIRE DE LA PUBLICITÉ DIRECTE, VOUS AVEZ LE DROIT DE VOUS OFFRIR À TOUT MOMENT CONTRE LE TRAITEMENT DES DONNÉES PERSONNELLES VOUS CONCERNANT POUR FAIRE DE LA PUBLICITÉ DE CETTE MANIÈRE ; CECI SERA ÉGALEMENT APPLICABLE AU PROFILING, DANS LA MESURE OÙ CETTE PUBLICITÉ DIRECTE EST EN RELATION. SI VOUS VOUS Y OPPOSEZ, VOS DONNÉES PERSONNELLES NE SERONT PLUS UTILISÉES À DES FINS DE PUBLICITÉ DIRECTE (OPPOSITION SELON L'ART. 21 AL. 2 DSGVO).
%h3 Droit de recours auprès de l'autorité de surveillance compétente
%p En cas de violation du RGPD, les personnes concernées disposent d'un droit de recours auprès d'une autorité de contrôle, notamment dans l'État membre de leur résidence habituelle, de leur lieu de travail ou du lieu de la violation présumée. Ce droit de recours s'exerce sans préjudice des autres voies de recours administratives ou judiciaires.
%h3 Droit à la portabilité des données
%p Vous avez le droit de vous faire remettre ou de faire remettre à un tiers, dans un format courant et lisible par machine, les données que nous traitons de manière automatisée sur la base de votre consentement ou en exécution d'un contrat. Si vous demandez la transmission directe des données à un autre responsable, cela ne se fera que dans la mesure où cela est techniquement possible.
%h3 Cryptage SSL ou TLS
%p Pour des raisons de sécurité et afin de protéger la transmission de contenus confidentiels, comme par exemple les commandes ou les demandes que vous nous envoyez en tant qu'exploitant du site, ce site utilise un cryptage SSL ou TLS. Vous reconnaissez une connexion cryptée au fait que la ligne d'adresse du navigateur passe de "http://" à "https://" et au symbole du cadenas dans la ligne de votre navigateur.
%p Si le cryptage SSL ou TLS est activé, les données que vous nous transmettez ne peuvent pas être lues par des tiers.
%h3 Information, suppression et rectification
%p Dans le cadre des dispositions légales en vigueur, vous avez à tout moment le droit d'obtenir gratuitement des informations sur vos données personnelles enregistrées, leur origine et leur destinataire ainsi que sur la finalité du traitement des données et, le cas échéant, un droit de rectification ou de suppression de ces données. Pour cela, ainsi que pour toute autre question relative aux données personnelles, vous pouvez nous contacter à tout moment.
%h3 Droit à la limitation du traitement
%p Vous avez le droit de demander la limitation du traitement de vos données à caractère personnel. Pour ce faire, vous pouvez nous contacter à tout moment. Le droit à la limitation du traitement s'applique dans les cas suivants :
%ul
  %li Si vous contestez l'exactitude de vos données à caractère personnel enregistrées chez nous, nous avons généralement besoin de temps pour le vérifier. Pendant la durée de la vérification, vous avez le droit de demander la limitation du traitement de vos données à caractère personnel.
  %li Si le traitement de vos données à caractère personnel s'est produit/se produit de manière illicite, vous pouvez demander la limitation du traitement des données au lieu de leur suppression.
  %li Si nous n'avons plus besoin de vos données à caractère personnel, mais que vous en avez besoin pour exercer, défendre ou faire valoir des droits légaux, vous avez le droit de demander la limitation du traitement de vos données à caractère personnel au lieu de l'effacement.
  %li Si vous avez fait opposition conformément à l'article 21, paragraphe 1, du RGPD, un équilibre doit être trouvé entre vos intérêts et les nôtres. Tant qu'il n'a pas été déterminé quels intérêts prévalent, vous avez le droit de demander la limitation du traitement de vos données à caractère personnel.
%p Si vous avez limité le traitement de vos données à caractère personnel, ces données - à l'exception de leur stockage - ne peuvent être traitées qu'avec votre consentement ou pour la constatation, l'exercice ou la défense de droits en justice ou pour la protection des droits d'une autre personne physique ou morale, ou encore pour un motif d'intérêt public important de l'Union européenne ou d'un État membre.
%h3 Opposition aux e-mails publicitaires
%p L'utilisation des données de contact publiées dans le cadre des mentions légales obligatoires pour l'envoi de publicité et de matériel d'information non expressément demandés est ici interdite. Les exploitants des pages se réservent expressément le droit d'engager des poursuites judiciaires en cas d'envoi non sollicité d'informations publicitaires, par exemple par le biais de spams.
%h2 4. collecte de données sur ce site web
%h3 Cookies
%p Nos pages Internet utilisent ce que l'on appelle des "cookies". Les cookies sont de petits fichiers texte qui ne causent aucun dommage à votre terminal. Ils sont enregistrés sur votre terminal soit temporairement pour la durée d'une session (cookies de session), soit durablement (cookies permanents). Les cookies de session sont automatiquement supprimés à la fin de votre visite. Les cookies permanents restent enregistrés sur votre terminal jusqu'à ce que vous les supprimiez vous-même ou qu'une suppression automatique soit effectuée par votre navigateur web.
%p Des cookies de sociétés tierces peuvent également être partiellement enregistrés sur votre terminal lorsque vous accédez à notre site (cookies tiers). Ceux-ci nous permettent ou vous permettent d'utiliser certains services de l'entreprise tierce (par exemple, les cookies pour le traitement des services de paiement).
%p Les cookies ont différentes fonctions. De nombreux cookies sont techniquement nécessaires, car certaines fonctions du site web ne fonctionneraient pas sans eux (par exemple la fonction de panier d'achat ou l'affichage de vidéos). D'autres cookies servent à évaluer le comportement des utilisateurs ou à afficher des publicités.
%p Les cookies nécessaires à l'exécution du processus de communication électronique, à la mise à disposition de certaines fonctions que vous souhaitez (par exemple pour la fonction de panier d'achat) ou à l'optimisation du site web (par exemple les cookies de mesure d'audience du web) (cookies nécessaires) sont enregistrés sur la base de l'article 6, paragraphe 1, point f) du RGPD, sauf si une autre base juridique est indiquée. L'exploitant du site web a un intérêt légitime à l'enregistrement des cookies nécessaires pour une mise à disposition de ses services sans erreur technique et optimisée. Si un consentement a été demandé pour le stockage de cookies et de technologies de reconnaissance comparables, le traitement est effectué exclusivement sur la base de ce consentement (article 6, paragraphe 1, point a) du RGPD et article 25, paragraphe 1 de la loi TTDSG) ; le consentement peut être révoqué à tout moment.
%p Vous pouvez configurer votre navigateur de manière à être informé de l'installation de cookies et à n'autoriser les cookies qu'au cas par cas, à exclure l'acceptation des cookies dans certains cas ou de manière générale, et à activer la suppression automatique des cookies à la fermeture du navigateur. En cas de désactivation des cookies, la fonctionnalité de ce site web peut être limitée.
%p Si des cookies sont utilisés par des entreprises tierces ou à des fins d'analyse, nous vous en informerons séparément dans le cadre de ces informations sur la protection des données et vous demanderons éventuellement votre consentement.
%h3 Formulaire de contact
%p Si vous nous envoyez des demandes par le biais du formulaire de contact, vos données du formulaire de demande, y compris les données de contact que vous y avez indiquées, sont enregistrées chez nous à des fins de traitement de la demande et en cas de questions de suivi. Nous ne transmettons pas ces données sans votre consentement.
%p Le traitement de ces données est basé sur l'article 6, paragraphe 1, point b), du RGPD, dans la mesure où votre demande est liée à l'exécution d'un contrat ou est nécessaire à l'exécution de mesures précontractuelles. Dans tous les autres cas, le traitement repose sur notre intérêt légitime à traiter efficacement les demandes qui nous sont adressées (article 6, paragraphe 1, point f) du RGPD) ou sur votre consentement (article 6, paragraphe 1, point a) du RGPD), dans la mesure où celui-ci a été demandé.
%p Les données que vous avez saisies dans le formulaire de contact restent chez nous jusqu'à ce que vous nous demandiez de les supprimer, que vous révoquiez votre consentement à leur enregistrement ou que la finalité de l'enregistrement des données devienne caduque (par ex. après le traitement de votre demande). Les dispositions légales contraignantes - en particulier les délais de conservation - ne sont pas affectées.
%h3 Demande par e-mail, téléphone ou fax
%p Si vous nous contactez par e-mail, téléphone ou fax, votre demande, y compris toutes les données personnelles qui en découlent (nom, demande), sera enregistrée et traitée par nos soins dans le but de traiter votre demande. Nous ne transmettons pas ces données sans votre consentement.
%p Le traitement de ces données est basé sur l'article 6, paragraphe 1, point b), du RGPD, dans la mesure où votre demande est liée à l'exécution d'un contrat ou est nécessaire à l'exécution de mesures précontractuelles. Dans tous les autres cas, le traitement repose sur notre intérêt légitime à traiter efficacement les demandes qui nous sont adressées (article 6, paragraphe 1, point f) du RGPD) ou sur votre consentement (article 6, paragraphe 1, point a) du RGPD), dans la mesure où celui-ci a été demandé.
%p Les données que vous nous avez envoyées par le biais de demandes de contact restent chez nous jusqu'à ce que vous nous demandiez de les effacer, que vous révoquiez votre consentement à leur enregistrement ou que la finalité de l'enregistrement des données devienne caduque (par ex. après le traitement de votre demande). Les dispositions légales contraignantes - en particulier les délais de conservation légaux - ne sont pas affectées.
%h2 5. plugins et outils
%h3 YouTube avec protection des données étendue
%p Ce site web intègre des vidéos de YouTube. L'exploitant des pages est Google Ireland Limited ("Google"), Gordon House, Barrow Street, Dublin 4, Irlande.
%p Nous utilisons YouTube en mode de protection étendue des données. Selon YouTube, ce mode a pour effet que YouTube ne stocke pas d'informations sur les visiteurs de ce site avant qu'ils ne regardent la vidéo. En revanche, le mode de confidentialité étendu n'exclut pas nécessairement la transmission de données aux partenaires de YouTube. Ainsi, YouTube établit - indépendamment du fait que vous regardiez ou non une vidéo - une connexion au réseau Google DoubleClick.
%p Dès que vous lancez une vidéo YouTube sur ce site, une connexion est établie avec les serveurs de YouTube. Le serveur YouTube est alors informé des pages que vous avez visitées. Si vous êtes connecté à votre compte YouTube, vous permettez à YouTube d'associer votre comportement de navigation directement à votre profil personnel. Vous pouvez empêcher cela en vous déconnectant de votre compte YouTube.
%p En outre, après le lancement d'une vidéo, YouTube peut enregistrer différents cookies sur votre terminal ou utiliser des technologies de reconnaissance comparables (par exemple, l'empreinte digitale de l'appareil). De cette manière, YouTube peut obtenir des informations sur les visiteurs de ce site. Ces informations sont utilisées, entre autres, pour collecter des statistiques sur les vidéos, améliorer la convivialité et prévenir les tentatives de fraude.
%p Le cas échéant, d'autres processus de traitement des données peuvent être déclenchés après le lancement d'une vidéo YouTube, sur lesquels nous n'avons aucune influence.
%p L'utilisation de YouTube a lieu dans l'intérêt d'une présentation attrayante de nos offres en ligne. Cela constitue un intérêt légitime au sens de l'article 6, paragraphe 1, point f) du RGPD. Dans la mesure où un consentement correspondant a été demandé, le traitement s'effectue exclusivement sur la base de l'article 6, paragraphe 1, point a), du RGPD et de l'article 25, paragraphe 1, de la TTDSG, dans la mesure où le consentement inclut le stockage de cookies ou l'accès à des informations dans l'équipement terminal de l'utilisateur (par ex. Device-Fingerprinting) au sens de la TTDSG. Le consentement est révocable à tout moment.
%p
  Pour plus d'informations sur la protection des données par YouTube, veuillez consulter leur déclaration de confidentialité à l'adresse suivante :
  = succeed "." do
    %a{:href => "https://policies.google.com/privacy?hl=de", :rel => "noopener noreferrer", :target => "_blank"} https://policies.google.com/privacy?hl=de
%h3 Google Maps
%p Ce site utilise le service de cartographie Google Maps. Le fournisseur est Google Ireland Limited ("Google"), Gordon House, Barrow Street, Dublin 4, Irlande.
%p Pour utiliser les fonctions de Google Maps, il est nécessaire d'enregistrer votre adresse IP. Cette information est généralement transmise à un serveur de Google aux États-Unis et y est stockée. Le fournisseur de ce site n'a aucune influence sur cette transmission de données. Si Google Maps est activé, Google peut utiliser Google Web Fonts à des fins d'affichage uniforme des polices de caractères. Lors de l'appel de Google Maps, votre navigateur charge les polices Web nécessaires dans le cache de votre navigateur afin d'afficher correctement les textes et les polices.
%p L'utilisation de Google Maps a lieu dans l'intérêt d'une présentation attrayante de nos offres en ligne et d'un repérage facile des lieux que nous avons indiqués sur le site web. Cela constitue un intérêt légitime au sens de l'article 6, paragraphe 1, point f) du RGPD. Dans la mesure où un consentement correspondant a été demandé, le traitement s'effectue exclusivement sur la base de l'article 6, paragraphe 1, point a), du RGPD et de l'article 25, paragraphe 1, de la TTDSG, dans la mesure où le consentement inclut le stockage de cookies ou l'accès à des informations dans le terminal de l'utilisateur (par ex. Device-Fingerprinting) au sens de la TTDSG. Le consentement est révocable à tout moment.
%p
  Le transfert de données vers les États-Unis est basé sur les clauses contractuelles standard de la Commission européenne. Vous trouverez les détails ici :
  %a{:href => "https://privacy.google.com/businesses/gdprcontrollerterms/", :rel => "noopener noreferrer", :target => "_blank"} https://privacy.google.com/businesses/gdprcontrollerterms/
  et
  = succeed "." do
    %a{:href => "https://privacy.google.com/businesses/gdprcontrollerterms/sccs/", :rel => "noopener noreferrer", :target => "_blank"} https://privacy.google.com/businesses/gdprcontrollerterms/sccs/
%p
  Vous trouverez plus d'informations sur le traitement des données des utilisateurs dans la déclaration de confidentialité de Google :
  = succeed "." do
    %a{:href => "https://policies.google.com/privacy?hl=de", :rel => "noopener noreferrer", :target => "_blank"} https://policies.google.com/privacy?hl=de
%h3 Google reCAPTCHA
%p Nous utilisons "Google reCAPTCHA" (ci-après "reCAPTCHA") sur ce site web. Le fournisseur est Google Ireland Limited ("Google"), Gordon House, Barrow Street, Dublin 4, Irlande.
%p L'objectif de reCAPTCHA est de vérifier si la saisie de données sur ce site Web (par exemple dans un formulaire de contact) est effectuée par un être humain ou par un programme automatisé. Pour ce faire, reCAPTCHA analyse le comportement du visiteur du site web à l'aide de différentes caractéristiques. Cette analyse commence automatiquement dès que le visiteur du site web entre sur le site. Pour l'analyse, reCAPTCHA évalue différentes informations (par exemple l'adresse IP, le temps passé par le visiteur sur le site web ou les mouvements de souris effectués par l'utilisateur). Les données collectées lors de l'analyse sont transmises à Google.
%p Les analyses reCAPTCHA s'effectuent entièrement en arrière-plan. Les visiteurs du site web ne sont pas informés qu'une analyse est en cours.
%p Le stockage et l'analyse des données sont effectués sur la base de l'article 6, paragraphe 1, point f du RGPD. L'exploitant du site web a un intérêt légitime à protéger ses offres web contre l'espionnage automatisé abusif et le SPAM. Si un consentement correspondant a été demandé, le traitement s'effectue exclusivement sur la base de l'article 6, paragraphe 1, point a), du RGPD et de l'article 25, paragraphe 1, de la loi sur la protection des données (TTDSG), dans la mesure où le consentement inclut le stockage de cookies ou l'accès à des informations dans le terminal de l'utilisateur (par ex. Device-Fingerprinting) au sens de la TTDSG. Le consentement est révocable à tout moment.
%p
  Pour plus d'informations sur Google reCAPTCHA, veuillez consulter les règles de confidentialité de Google et les conditions d'utilisation de Google en cliquant sur les liens suivants :
  %a{:href => "https://policies.google.com/privacy?hl=de", :rel => "noopener noreferrer", :target => "_blank"} https://policies.google.com/privacy?hl=de
  et
  = succeed "." do
    %a{:href => "https://policies.google.com/terms?hl=de", :rel => "noopener noreferrer", :target => "_blank"} https://policies.google.com/terms?hl=de

%h2 Google Analytics
%p Ce site web utilise Google Analytics, un service d'analyse web de Google LL.C., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA ("Google"). Les statistiques obtenues nous permettent d'améliorer notre offre et de la rendre plus intéressante pour vous en tant qu'utilisateur. Ce site web utilise en outre Google Analytics pour une analyse des flux de visiteurs sur tous les appareils, qui est effectuée à l'aide d'un ID utilisateur. Si vous disposez d'un compte d'utilisateur Google, vous pouvez désactiver l'analyse de votre utilisation sur tous les appareils dans les paramètres de ce compte sous "Mes données", "Données personnelles".
%p La base juridique de l'utilisation de Google Analytics est l'art. 6, al. 1, phrase 1, point f du RGPD. L'adresse IP transmise par votre navigateur dans le cadre de Google Analytics n'est pas recoupée avec d'autres données de Google. Nous attirons votre attention sur le fait que sur ce site Internet, Google Analytics a été complété par le code "_anonymizeIp() ;" afin de garantir une saisie anonyme des adresses IP. Les adresses IP sont ainsi traitées sous forme abrégée, ce qui permet d'exclure tout lien avec des personnes. Dans la mesure où les données collectées vous concernant présentent un lien avec une personne, celui-ci est immédiatement exclu et les données personnelles sont ainsi immédiatement supprimées.
%p
  Ce n'est que dans des cas exceptionnels que l'adresse IP complète est transmise à un serveur de Google aux États-Unis et y est raccourcie. Google utilisera ces informations pour le compte de l'exploitant de ce site web afin d'évaluer votre utilisation du site web, de compiler des rapports sur les activités du site web et de fournir à l'exploitant du site web d'autres services liés à l'utilisation du site web et d'Internet. Pour les cas exceptionnels où les données personnelles sont transférées aux États-Unis, Google s'est soumis au Privacy Shield UE-US,
  = succeed "." do
    %a{:href => "https://www.privacyshield.gov/EU-US-Framework", :rel => "noopener", :target => "_blank"} https://www.privacyshield.gov/EU-US-Framework
%p
  Google Analytics utilise des cookies. Les informations générées par le cookie concernant votre utilisation de ce site web sont généralement transmises à un serveur de Google aux États-Unis et y sont stockées. Vous pouvez empêcher l'enregistrement des cookies en paramétrant votre logiciel de navigation en conséquence ; nous attirons toutefois votre attention sur le fait que, dans ce cas, vous ne pourrez peut-être pas utiliser toutes les fonctions de ce site web dans leur intégralité. Vous pouvez en outre empêcher la saisie par Google des données générées par le cookie et relatives à votre utilisation du site web (y compris votre adresse IP) ainsi que le traitement de ces données par Google en téléchargeant et en installant le plug-in de navigateur disponible sous le lien suivant :
  = succeed "." do
    %a{:href => "https://tools.google.com/dlpage/gaoptout", :rel => "noopener", :target => "_blank"} https://tools.google.com/dlpage/gaoptout
%p
  Sources :
  %a{:href => "https://www.swissanwalt.ch", :rel => "noopener", :target => "_blank"} SwissAnwalt
  &
  %a{:href => "https://www.e-recht24.de", :rel => "noopener", :target => "_blank"} www.e-recht24.de

%p
  (Traduit avec deepL de l'allemand au français)

- if cookies[:cookie_eu_consented] == "true"
  %h2 Révoquer le consentement des cookies
  %p
    %button.btn.btn-default{onclick:"delete_cookie('cookie_eu_consented'); location.reload();"}Click me

:javascript
  function get_cookie(name){
    return document.cookie.split(';').some(c => {
      return c.trim().startsWith(name + '=');
    });
  }

  function delete_cookie( name, path, domain ) {
    if( get_cookie( name ) ) {
      document.cookie = name + "=" +
        ((path) ? ";path="+path:"")+
        ((domain)?";domain="+domain:"") +
        ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
    }
  }
