<header class="thredded--topic-header">
  <%= view_hooks.topic_page.title.render self, topic: topic do %>
    <h1 class="thredded--topic-header--title">
      <%= topic.title %>
      <%= link_to '#', form_class: 'thredded--topic-delete-form', class: 'copy-share-link', onclick:"event.preventDefault();" do %>
        <%= inline_svg_tag 'thredded/share.svg', class: 'thredded--topic-header--follow-icon', style: 'height: 17px;' %>
      <% end %>
    </h1>
  <% end %>
  <cite class="thredded--topic-header--started-by">
    <%= t 'thredded.topics.started_by_html',
          time_ago: time_ago(topic.created_at),
          user:     user_link(topic.user) %>
  </cite>
  <% if topic.can_update? %>
    <%= link_to t('thredded.topics.edit'), topic.edit_path,
                class: 'thredded--topic-header--edit-topic',
                rel: 'nofollow' %>
  <% end %>
  <% if thredded_current_user %>
    <% if topic.followed? %>
      <div class="thredded--topic-header--follow-info">
        <span class="thredded--topic-header--follow-info--reason">
          <%= topic_follow_reason_text topic.follow_reason %>
        </span>
        <%= button_to topic.unfollow_path, form: {class: 'thredded--topic-header--follow-info--unfollow'} do %>
          <%= t('thredded.topics.unfollow') %>
          <%= inline_svg_tag 'thredded/follow.svg', class: 'thredded--topic-header--follow-icon' %>
        <% end %>
      </div>
    <% else %>
      <div class="thredded--topic-header--follow-info">
        <%- if current_user.present? %>
          <%= button_to t('thredded.topics.follow'), topic.follow_path,
                      form: {class: 'thredded--topic-header--follow-info--follow'} %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>
</header>

<!-- For the self implemented "copy-share-link" functionalitly -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $('.copy-share-link').on('click', function(e) {
    var dummyTextArea, shareLink;
    event.preventDefault();
    shareLink = window.location.href.replace('thredded/', 'forum?thredded=/');
    dummyTextArea = document.createElement("textarea");
    dummyTextArea.style.position = 'absolute';
    document.body.appendChild(dummyTextArea);
    dummyTextArea.value = shareLink;
    dummyTextArea.select();
    if (document.execCommand("copy")) {
      alert('Copied share link to the clipboard.');
    } else {
      alert('Couldn\'t copy share link! ');
    }
    return document.body.removeChild(dummyTextArea);
  });
</script>
