= form_for @player, role: 'form', class:'form' do |f|

  - if @player.errors.any?
    #error_explanation
      %h2= pluralize(@player.errors.count, "error") + ' ' + t('players.prohibited')
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :gamer_tag, t('players.gamer_tag')
    = f.text_field :gamer_tag, class: 'form-control'
  .field.form-group
    = f.label :prefix, t('players.prefix')
    %em= "(XYZ)"
    = f.text_field :prefix, class: 'form-control'
  .field.form-group
    = f.label :discord_username, t('players.discord_username')
    %em= "(User#1234)"
    = f.text_field :discord_username, class: 'form-control'
  .field.form-group
    = f.label :twitter_username, t('players.twitter_username')
    = f.text_field :twitter_username, class: 'form-control'
  .field.form-group
    = f.label :instagram_username, t('players.instagram_username')
    = f.text_field :instagram_username, class: 'form-control'
  - if current_user.super_admin?
    .field.form-group
      = label_tag :alternative_gamer_tags, t('players.alternative_gamer_tags')
      - alts = ""
      - @player.alternative_gamer_tags.each { |alt| alts += "#{alt.gamer_tag}, " }
      = text_field_tag :alternative_gamer_tags, alts, class: 'form-control'
    .field.form-group
      = f.label :points, t('players.points')
      = f.number_field :points, class: 'form-control'
    .field.form-group
      = f.label :participations, t('players.participations')
      = f.number_field :participations, class: 'form-control'
    .field.form-group
      = f.label :best_rank, t('players.best_rank')
      = f.number_field :best_rank, class: 'form-control'
    .field.form-group
      = f.label :wins, t('players.wins')
      = f.number_field :wins, class: 'form-control'
    .field.form-group
      = f.label :losses, t('players.losses')
      = f.number_field :losses, class: 'form-control'
  .field.form-group
    = f.label :canton, t('players.canton')
    = f.select :canton, options_for_select(cantons_for_select, @player.canton), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :gender, t('players.gender')
    = f.select :gender, options_for_select(genders_for_select, @player.gender), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :birth_year, t('players.birth_year')
    = f.select :birth_year, options_for_select(birth_years, @player.birth_year), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :self_assessment, t('players.self_assessment')
    = f.select :self_assessment, options_for_select(self_assessment_defines.map.with_index{|d, i|[d, i]}, @player.self_assessment), {}, class: 'form-control'
  .field.form-group
    = f.label :tournament_experience, t('players.tournament_experience')
    = f.select :tournament_experience, options_for_select(tournament_experience_defines.map.with_index{|d, i|[d, i]}, @player.tournament_experience), {}, class: 'form-control'
  .field.form-group
    = f.label :main_characters, t('players.main_characters')
    %em= t('players.up_to_three')
    .main_chars{style: 'display: inline-block;'}
      - Dir.entries("#{Rails.root}/app/assets/images/characters").map{|f| f if !f.include?("200x200") and f[0] != '.'}.compact.sort.each_with_index do |file, i|
        - character = file.sub('.png', '')
        .main_char{style: 'float: left;'}
          .tooltip.tooltip_character
            = image_tag "characters/#{file}", height: '25px', width: '25px'
            %span.tooltiptext
              = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
            = radio_button('main_char1', nil, character, style: 'margin-left: -3px;', checked: ((@player.main_characters[0] == character) ? 'checked' : ''))
            = radio_button('main_char2', nil, character, style: 'margin-left: -2px;', checked: ((@player.main_characters[1] == character) ? 'checked' : ''))
            = radio_button('main_char3', nil, character, style: 'margin-left: -2px; margin-right: 8px;', checked: ((@player.main_characters[2] == character) ? 'checked' : ''))

  .field.form-group
    = f.label :comment, t('players.comment')
    %em= t('players.for_what_ever')
    = f.text_area :comment, class: 'form-control', rows: '5'
  %br
  .field.form-group
    = f.label :youtube_video_ids, t('players.youtube_video_ids')
    %em= t('players.youtube_video_ids_examples').html_safe
    = f.text_area :youtube_video_ids, class: 'form-control', rows: '3'

  - if current_user.admin?
    .field.form-group
      = f.label :warnings, t('players.warnings') + ' (TOs only)'
      = f.number_field :warnings, class: 'form-control'

  .actions.form-group
    = f.submit class:'btn btn-block btn-cyan', value: t('players.update_profile')
