
= form_for @player, role: 'form', class:'form' do |f|

  - if @player.errors.any?
    #error_explanation
      %h2= pluralize(@player.errors.count, "error") + " prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :gamer_tag
    = f.text_field :gamer_tag, class: 'form-control'
  .field.form-group
    = f.label :prefix, 'Sponsor prefix'
    = f.text_field :prefix, class: 'form-control'
  .field.form-group
    = f.label :discord_username
    = f.text_field :discord_username, class: 'form-control'
  - if current_user.super_admin?
    .field.form-group
      = f.label :points
      = f.number_field :points, class: 'form-control'
    .field.form-group
      = f.label :participations
      = f.number_field :participations, class: 'form-control'
    .field.form-group
      = f.label :best_rank
      = f.number_field :best_rank, class: 'form-control'
    .field.form-group
      = f.label :wins
      = f.number_field :wins, class: 'form-control'
    .field.form-group
      = f.label :losses
      = f.number_field :losses, class: 'form-control'
  .field.form-group
    = f.label :canton
    = f.select :canton, options_for_select(cantons, @player.canton), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :gender
    = f.select :gender, options_for_select(genders, @player.gender), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :birth_year
    = f.select :birth_year, options_for_select(birth_years, @player.birth_year), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :self_assessment
    = f.select :self_assessment, options_for_select(self_assessment_defines.map.with_index{|d, i|[d, i]}, @player.self_assessment), {}, class: 'form-control'
  .field.form-group
    = f.label :tournament_experience
    = f.select :tournament_experience, options_for_select(tournament_experience_defines.map.with_index{|d, i|[d, i]}, @player.tournament_experience), {}, class: 'form-control'
  .field.form-group
    = f.label :main_characters
    %em
      (you can add up to three by separating them with a comma)
    - main_characters_string = ''
    - @player.main_characters.each_with_index do |char, i|
      - if i == 0
        - main_characters_string = char
      - else
        - main_characters_string = main_characters_string + ', ' + char
    = f.text_field :main_characters, class: 'form-control', value: main_characters_string
  .field.form-group
    = f.label :comment, "Comment"
    %em
      (for what ever you want to tell the world)
    %br
    = f.text_area :comment, class: 'form-control', rows: '10'

  .actions.form-group
    = f.submit class:'btn btn-ghost', value:'Update Profile'
