.row.title-div
  .col-md-12
    %h1= "Player list"

-# player list
.row.player-list
  .col-md-12
    %table.table.table-striped
      %thead.player-list-header
        %tr
          %th.text-center Points
          %th Gamer tag
          - if current_user.admin?
            %th Email
          %th.text-center Participations
          %th.text-center Self assessment
          %th.text-center Tournament experience
          %th Last Log in at
          - if current_user.admin?
            %th Created at
            %th.text-center Log in counter
          %th.text-center Admin
          %th.action

      %tbody.player-list-body
        - @players.each do |player|
          %tr
            %td.text-center= player.points
            %td= player.gamer_tag
            - if current_user.admin?
              %td= player.user.email
            %td.text-center= player.participations
            - if player.self_assessment
              %td.text-center= self_assessment_defines[player.self_assessment]
            - else
              %td.text-center= "Undefined"
            - if player.tournament_experience
              %td.text-center= tournament_experience_defines[player.tournament_experience]
            - else
              %td.text-center= "Undefined"
            %td= player.user.current_sign_in_at.to_s(:custom_datetime)
            - if current_user.admin?
              %td= player.created_at.to_s(:custom_datetime)
              %td.text-center= player.user.sign_in_count
            %td.text-center= player.user.admin?
            %td.text-center{:style => "vertical-align: middle"}
              - if current_user.admin? && player.user != current_user
                = link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
