.row.title-div
  .col-md-12
    %h1= "Players 2019"

-# player list
.row.player-list
  .col-md-12
    %table.table.table-striped
      %thead.player-list-header
        %tr
          %th.text-center Rank
          %th.text-center Points
          %th Gamer tag
          %th.text-center Tournament participations
          %th.text-center.hidden-xs Self assessment
          %th.text-center.hidden-xs Tournament experience
          %th.hidden-xs Last Log in at
          %th.text-center Admin

      %tbody.player-list-body
        - last_player_points = 0
        - @players.each_with_index do |player, i|
          %tr
            %td.hide= player.id # used for some js-magic
            %td.text-center= (last_player_points == player.points) ? '' : "#{i+1}."
            %td.text-center= player.points
            - last_player_points = player.points
            %td= player.gamer_tag
            %td.text-center= player.participations
            %td.text-center.hidden-xs= player.self_assessment ? self_assessment_defines[player.self_assessment] : 'Undefined'
            %td.text-center.hidden-xs= player.tournament_experience ? tournament_experience_defines[player.tournament_experience] : 'Undefined'
            %td.hidden-xs= player.user.current_sign_in_at.to_s(:custom_datetime)
            %td.text-center= player.user.admin? ? 'X' : ''
