.row
  .col
    %h1.page__title= "Players"

%ul#players-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a#stats-tab.nav-link.active{'data-toggle'=>'tab', href: '#stats', role: 'tab', 'aria-controls'=>'all'}
      = 'Stats'
  %li.nav-item
    %a#data-tab.nav-link{'data-toggle'=>'tab', href: '#data', role: 'tab', 'aria-controls'=>'all'}
      = 'Data'

.tab-content#players-tabs-content
  .tab-pane.fade.show.active#stats{role: 'tabpanel', 'aria-labelledby'=>'stats-tab'}
    %table.table.table-hover.table-borderless
      %thead.table-header
        %tr
          %th= link_to 'Gamer tag', players_path(sort: 'gamer_tag', order: 'asc', anchor: 'stats')
          %th.text-center= link_to 'Mains', players_path(sort: 'main_characters', order: 'asc', anchor: 'stats')
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= link_to 'Self assessment', players_path(sort: 'self_assessment', order: 'asc', anchor: 'stats')
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= link_to 'XP', players_path(sort: 'tournament_experience', order: 'asc', anchor: 'stats')
          %th.text-center= link_to 'W/L', players_path(sort: 'win_loss_ratio', order: 'asc', anchor: 'stats')

      %tbody.table-content.with-show.player-list-body
        - if @players.any?
          - last_player_points = nil
          - @players.each_with_index do |player, i|
            %tr{'data-id': player.id, 'data-component'=>'player'}
              %td= player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
              %td.text-center
                - if player.main_characters.any?
                  %div
                    - player.main_characters[0...3].each do |char|
                      - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                        = image_tag "characters/#{char}.png", height: '25px', width: '25px'
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player.self_assessment ? self_assessment_defines[player.self_assessment] : 'Undefined'
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player.tournament_experience ? tournament_experience_defines[player.tournament_experience] : 'Undefined'
              %td.text-center
                - if player.losses == 0 and player.wins == 0
                  = '-'
                - else
                  = "#{player.win_loss_ratio} %"

              - if current_user.present? and current_user.super_admin?
                %td.admin-list-actions
                  .admin-list-actions__link
                    = link_to edit_player_path(player), class:'btn btn-ghost btn-square' do
                      %span.material-icons.admin-actions__link__icon= 'edit'

                  .admin-list-actions__link
                    = link_to player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
                      %span.material-icons.admin-actions__link__icon= 'delete'

    .player-list-footer
      = render 'paginator', players: @players, anchor: 'stats'

  .tab-pane.fade#data{role: 'tabpanel', 'aria-labelledby'=>'data-tab'}
    %table.table.table-hover.table-borderless
      %thead.table-header
        %tr
          %th= link_to 'Gamer tag', players_path(sort: 'gamer_tag', order: 'asc', anchor: 'data')
          %th.text-center= link_to 'Canton', players_path(sort: 'canton', order: 'asc', anchor: 'data')
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= link_to 'Age', players_path(sort: 'birth_year', order: 'asc', anchor: 'data')
          %th.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= link_to 'Gender', players_path(sort: 'gender', order: 'asc', anchor: 'data')
          %th.text-center= link_to 'Comment', players_path(sort: 'comment', order: 'desc', anchor: 'data')

      %tbody.table-content.with-show
        - if @players.any?
          - @players.each_with_index do |player, i|
            %tr{'data-id': player.id, 'data-component'=>'player'}
              %td
                - if player.main_characters.any?
                  - player.main_characters[0...1].each do |char|
                    - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
                      = image_tag "characters/#{char}.png", height: '25px', width: '25px'
                - else
                  .div{style: 'display: inline;'}
                    %span.material-icons{style: 'vertical-align: middle; height: 25px; width: 25px;'}= 'help'
                = player.prefix.present? ? "#{player.prefix} | #{player.gamer_tag}" : player.gamer_tag
              %td.text-center
                - if player.canton.present?
                  = image_tag "cantons/#{player.canton.downcase.gsub('.', '').gsub(' ', '_')}.svg", height: '20px', width: '20px'
                  = player.canton
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player.birth_year.nil? ? '' : (Date.today.year - player.birth_year)
              %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= player.gender
              %td.text-center= truncate(player.comment, length: 60)

              - if current_user.present? and current_user.super_admin?
                %td.admin-list-actions
                  .admin-list-actions__link
                    = link_to edit_player_path(player), class:'btn btn-ghost btn-square' do
                      %span.material-icons.admin-actions__link__icon= 'edit'

                  .admin-list-actions__link
                    = link_to player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
                      %span.material-icons.admin-actions__link__icon= 'delete'

    .player-list-footer
      = render 'paginator', players: @players, anchor: 'data'
