.row.title-div
  .col-md-12
    %h1= "\"#{@player.gamer_tag}\""

.row.show-player
  .col-md-4
    %p
      %strong Best rank:
      = @player.best_rank

    %p
      %strong Points:
      = @player.points

    %p
      %strong Participations:
      = "#{@player.participations} / #{@started_and_finished_tournaments_count_2019}"

    %p
      %strong Self assessment:
      = self_assessment_defines[@player.self_assessment]

    %p
      %strong Tournament experience:
      = tournament_experience_defines[@player.tournament_experience]

  .col-md-4

    %p
      %strong Wins:
      = @player.wins

    %p
      %strong Losses:
      = @player.losses

    %p
      %strong Win/Loss ratio:
      - if @player.losses == 0 and @player.wins == 0
        = '-'
      - else
        = "#{(@player.wins.to_f/(@player.wins+@player.losses)*100).round(2)} %"

    %p
      %strong Updated at:
      = @player.updated_at.to_s(:custom_datetime)

    %p
      %strong Created at:
      = @player.created_at.to_s(:custom_datetime)

  .col-md-4
    - if current_user.admin? or current_user == @player.user
      %p= link_to 'Edit player', edit_player_path(@player)
      - if current_user == @player.user
        %p= link_to 'Edit user', edit_user_registration_path
    %p= link_to 'Back', :back

.row.player-comment
  .col-md-12
    %p
      %strong Comment:
      = @player.comment || '-'

- if @player.tournaments.any?
  .row.title-joined-tournaments-div
    .col-md-12
      %h2 Joined tournaments

  .row.show-joined-tournaments
    .col-md-12
      - @player.tournaments.each do |t|
        %p
          - player_rank = '?'
          - if t.ranking_string.to_s.include?(@player.gamer_tag)
            - t.ranking_string.split(';').sort.each do |r|
              - if r.split(',')[1] == @player.gamer_tag
                - player_rank = r.split(',')[0]
          %strong= "#{player_rank}"
          %i.glyphicon.glyphicon-star
          %strong= link_to "#{t.name}", t
          -# = "-> #{t.date.to_s(:custom_datetime_with_weekday)}"
