.row
  .col
    %h1.page__title
      = @player.gamer_tag

.player
  .player__characters
    - if @player.main_characters.any?
      - @player.main_characters[0...3].each do |char|
        - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
          .player__characters__single
            = image_tag "characters/#{char}.png", class: 'player__characters__image'

  .player__stats
    .row
      .col
        .player__stats__single
          %strong
            = @player.best_rank
          %span
            Best Rank
      .col
        .player__stats__single
          %strong
            = @player.wins
          %span
            Wins
      .col
        .player__stats__single
          %strong
            = @player.losses
          %span
            Losses
      .col
        .player__stats__single.player__stats__single--last
          %strong
            = @player.points
          %span
            Points
    .player__stats
      .row
        .col
          .player__stats__single.player__stats__single--last
            %strong
              = self_assessment_defines[@player.self_assessment]
            %span
              Assessement
        .col
          .player__stats__single
            %strong
              - if @player.losses == 0 and @player.wins == 0
                = '-'
              - else
                = "#{(@player.wins.to_f/(@player.wins+@player.losses)*100).round(2)} %"
            %span
              Win/Loss
        .col
          .player__stats__single
            %strong
              = tournament_experience_defines[@player.tournament_experience]
            %span
              Experience
  - if not @player.comment.empty?
    .player__comment
      %h3 Description
      = @player.comment || '-'

  - if @player.tournaments.any?
    -if @player.tournaments.where('active = ? AND date >= ?', true, Time.now).any?
      .player__tournaments
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th{colspan: '2'}
                %h3 Joined Tournaments
              %th At
          %tbody.table-content.with-show
            - @player.tournaments.where('active = ? AND date >= ?', true, Time.now).each_with_index do |tournament, i|
              %tr{'data-id': tournament.id, 'data-component'=>'tournament'}
                %td= tournament.name
                %td
                  - if tournament.location.present?
                    = tournament.location.split(',')[0]
                  - else
                    = tournament.city || '-'
                %td
                  %strong 
                    = tournament.date.to_s(:custom_datetime_date_and_no_time)
                
    - if @player.tournaments.where('active = ? AND date < ?', true, Time.now).any?
      .player__tournaments
        %table.table.table-hover.table-borderless
          %thead.table-header
            %tr
              %th{colspan: '2'}
                %h3 Past Tournaments
              %th.text-right #
          %tbody.table-content.with-show
            - @player.tournaments.where('active = ? AND date < ?', true, Time.now).order(date: :desc).each do |tournament|
              %tr{'data-id': tournament.id, 'data-component'=>'tournament'}
                %td= tournament.name
                %td
                  - if tournament.location.present?
                    = tournament.location.split(',')[0]
                  - else
                    = tournament.city || '-'
                %td.text-right
                  - player_rank = '?'
                  - if tournament.ranking_string.to_s.include?(@player.gamer_tag)
                    - tournament.ranking_string.split(';').sort.each do |r|
                      - if r.split(',')[1] == @player.gamer_tag
                        - player_rank = r.split(',')[0]
                  - if player_rank == '1'
                    - player_rank = player_rank +'st'
                  - elsif player_rank == '3'
                    - player_rank = player_rank +'rd'
                  - elsif player_rank == '?'
                  - else 
                    - player_rank = player_rank +'th'
                  %strong= "#{player_rank}"
  - if current_user.present? and current_user.admin?
    .admin-actions
      .admin-actions__link
        = link_to edit_player_path(@player), class:'btn btn-ghost btn-square' do
          %span.material-icons.admin-actions__link__icon
            edit

      .admin-actions__link
        = link_to @player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sstm btn-square' do
          %span.material-icons.admin-actions__link__icon
            delete