- youtube_video_ids = []
- if @player.youtube_video_ids.present?
  - youtube_video_ids = @player.sanitized_youtube_video_ids.split(',')
.player
  .row
    .col
      - if @player.region.present? && File.file?("#{Rails.root}/app/assets/images/regions/#{@player.country_code}/#{@player.region}.svg")
        .tooltip
          = image_tag "regions/#{@player.country_code}/#{@player.region}.svg", height: '25px', width: '25px', style: 'position: absolute; top: 10px;'
          %span.tooltiptext
            = t("defines.regions.#{@player.region}")
      .page__title
        %h1
          = @player.prefix.present? ? "#{@player.prefix} | #{@player.gamer_tag}" : @player.gamer_tag
        - alts = @player.alternative_gamer_tags.where.not(hidden: true)
        - if alts.any?
          %p{style: 'margin-top: -15px;'}
            = '('
            - firstAlt = true
            - alts.each do |alt|
              - if firstAlt
                = "#{alt.gamer_tag}"
                - firstAlt = false
              - else
                = ", #{alt.gamer_tag}"
            = ')'
        - logos_shown = 0;
        - if @player.discord_username.present?
          .tooltip{style: "position: absolute; top: 0px; right: #{logos_shown*35}px; z-index: 1;"}
            = link_to image_tag('Discord-Logo-Black.svg', id: 'copy_discord_name', height: '35px', width: '35px'), '#', 'data-value': @player.discord_username, class: 'tooltip', style: 'position: absolute; top: 5px; right: 0px;'
            %span.tooltiptext.d-none.d-md-block{style: 'margin-left: -78px;'}
              = @player.discord_username
          - logos_shown = logos_shown + 1;
        - if @player.twitter_username.present?
          = link_to image_tag('Twitter_Logo.svg', height: '35px', width: '35px'), @player.twitter_username.include?('http') ? @player.twitter_username : "https://twitter.com/#{@player.twitter_username}", target: '_blank', style: "position: absolute; top: 5px; right: #{logos_shown*35}px;"
          - logos_shown = logos_shown + 1;
        .row.d-none.d-sm-block
          - if @player.twitch_username.present?
            = link_to image_tag('TwitchGlitchPurple.svg', height: '35px', width: '35px'), @player.twitch_username.include?('http') ? @player.twitch_username : "https://www.twitch.tv/#{@player.twitch_username}", target: '_blank', style: "position: absolute; top: 5px; right: #{logos_shown*35}px; padding: 3px 0px;"
            - logos_shown = logos_shown + 1;
          - if @player.instagram_username.present?
            = link_to image_tag('Instagram_Logo.png', height: '35px', width: '35px'), @player.instagram_username.include?('http') ? @player.instagram_username : "https://www.instagram.com/#{@player.instagram_username}", target: '_blank', style: "position: absolute; top: 5px; right: #{logos_shown*35}px;"
            - logos_shown = logos_shown + 1;

    -# admin actions -------------------------------------------------------------
    - if current_user.present?
      .admin-actions
        -if current_user.admin? or @player.user == current_user
          .admin-actions__link
            = link_to edit_player_path(@player), class:'btn btn-ghost btn-square' do
              %span.material-icons.admin-actions__link__icon= 'edit'

        - if @player.user != current_user
          .admin-actions__link
            - if @player.user.admin? or current_user.admin?
              = mail_to @player.user.email, body: "#{t('hi')} #{@player.user.username}\n\n...", class:'btn btn-ghost btn-square' do
                %span.material-icons.admin-actions__link__icon= 'email'
          - if current_user.admin? and @player.user.mobile_number.present?
            .mobile_number.d-none.d-sm-block= " (#{@player.user.mobile_number})"

  - if @player.tournaments.any? or youtube_video_ids.any?
    %ul#player-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
      %li.nav-item
        %a#data-tab.nav-link.active{'data-toggle'=>'tab', href: '#data', role: 'tab', 'aria-controls'=>'all'}
          = t('players.data')
      - if @player.tournaments.any?
        %li.nav-item
          %a#tournaments-tab.nav-link{'data-toggle'=>'tab', href: '#tournaments', role: 'tab', 'aria-controls'=>'all'}
            = t('players.tournaments')
      - if youtube_video_ids.any?
        %li.nav-item
          %a#videos-tab.nav-link{'data-toggle'=>'tab', href: '#videos', role: 'tab', 'aria-controls'=>'all'}
            = t('players.videos')
      - if @player.teams.any?
        %li.nav-item
          %a#teams-tab.nav-link{'data-toggle'=>'tab', href: '#teams', role: 'tab', 'aria-controls'=>'all'}
            = t('players.teams')
  - else
    %ul{style: "margin-bottom: 2rem;"}

  .tab-content#information-tabs-content
    -# data ----------------------------------------------------------------------
    .tab-pane.fade.show.active#data{role: 'tabpanel', 'aria-labelledby'=>'data-tab'}

      .row.d-block.d-sm-none{style: "position: relative;"}
        - if current_user.present? && @player.user != current_user && current_user.admin? && @player.user.mobile_number.present?
          .mobile_number{style: "position: absolute; top: -2rem; margin-top: 10px;"}= " (#{@player.user.mobile_number})"
        - logos_shown = 0;
        - if @player.twitch_username.present?
          = link_to image_tag('TwitchGlitchPurple.svg', height: '35px', width: '35px'), @player.twitch_username.include?('http') ? @player.twitch_username : "https://www.twitch.tv/#{@player.twitch_username}", target: '_blank', style: "position: absolute; top: -2rem; right: #{logos_shown*35}px; margin-top: 5px; padding: 3px 0px;"
          - logos_shown = logos_shown + 1;
        - if @player.instagram_username.present?
          = link_to image_tag('Instagram_Logo.png', height: '35px', width: '35px'), @player.instagram_username.include?('http') ? @player.instagram_username : "https://www.instagram.com/#{@player.instagram_username}", target: '_blank', style: "position: absolute; top: -2rem; right: #{logos_shown*35}px; margin-top: 5px;"
          - logos_shown = logos_shown + 1;

      .player__characters
        - if @player.main_characters.any?
          - @player.main_characters[0...3].each_with_index do |char, i|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}_200x200.png")
              .player__characters__single{style: 'position: relative;'}
                = image_tag "characters/#{char}_200x200.png", class: 'player__characters__image'
                - skin_nr = @player.main_character_skins[i] if @player.main_character_skins.any?
                - if skin_nr.present? && skin_nr > 0
                  = image_tag "/character_skins/#{char}_#{skin_nr.to_s.rjust(2, '0')}.png", height: '25px', width: '25px', style: "position: absolute; bottom: 0; right: 0;"

      - if @player.birth_year.present? || @player.gender.present?
        .player__stats
          .row
            - if @player.birth_year.present?
              .col
                .player__stats__single{class: (@player.gender.nil?) ? 'player__stats__single--last' : ''}
                  %strong
                    = @player.birth_year
                  %span
                    = t('players.birth_year')
            - if @player.gender.present?
              .col
                .player__stats__single.player__stats__single--last
                  %strong
                    = t("defines.genders.#{@player.gender}")
                  %span
                    = t('players.gender')

      .player__stats
        .row
          .col
            .player__stats__single
              %strong
                = @player.best_rank
              %span
                = t('players.best_rank')
          .col
            .player__stats__single
              %strong
                = @player.wins
              %span
                = t('players.wins')
          .col
            .player__stats__single
              %strong
                = @player.losses
              %span
                = t('players.losses_shy').html_safe
          .col
            .player__stats__single.player__stats__single--last
              %strong
                = @player.points
              %span
                = t('players.points')

      .player__stats
        .row
          .col
            .player__stats__single
              %strong
                = self_assessment_defines[@player.self_assessment]
              %span
                = t('players.self_assessment_shy').html_safe
          .col
            .player__stats__single
              %strong
                - if @player.losses == 0 and @player.wins == 0
                  = '-'
                - else
                  = "#{@player.win_loss_ratio} %"
              %span
                = t('players.win_loss')
          .col
            .player__stats__single.player__stats__single--last
              %strong
                = tournament_experience_defines[@player.tournament_experience]
              %span
                = t('players.experience')

      - if @player.role_list.any?
        .player__stats
          .row.text-center
            .col
              - @player.role_list.sort.each do |role|
                %span.badge.badge-pill.badge-primary{style: "background-color: #{role_color(role)}"}= link_to t(role, scope: 'defines.roles'), players_path(filter: 'role', 'filter-data': role, anchor: 'roles'), style: 'color: #FFF;'
              .player__stats__single.player__stats__single--last
                %span
                  = t('players.roles')

      - if current_user.present? and current_user.admin? and not @player.warnings.nil? and @player.warnings > 0
        .player__stats
          .row
            .col
              .player__stats__single.player__stats__single--last
                %strong
                  = @player.warnings
                %span
                  = t('players.warnings') + ' (TOs only)'

      - if @player.nintendo_friend_code.present? || @player.smash_gg_id.present?
        .player__stats
          .row
            - if @player.nintendo_friend_code.present?
              .col
                .player__stats__single{class: (@player.smash_gg_id.nil?) ? 'player__stats__single--last' : ''}
                  %strong
                    %span.material-icons{style: "display: inline; font-size: 30px; color: red;"}= 'videogame_asset'
                    %span{style: "margin-top: -10px;"}= @player.nintendo_friend_code
                  %span
                    = t("players.nintendo_friend_code")
            - if @player.smash_gg_id.present?
              .col
                .player__stats__single.player__stats__single--last
                  - smash_gg_link = @player.smash_gg_id.include?('http') ? @player.smash_gg_id : "https://smash.gg/user/#{@player.smash_gg_id}"
                  %strong
                    = link_to(image_tag("smash_gg_logo_small.png", height: "30px", style: "margin-top: 18px;"), smash_gg_link, target: '_blank')
                  %span
                    = t("players.smash_gg_user")

      - if not @player.comment.nil? and not @player.comment.empty?
        .player__comment
          %h3= t('players.comment')
          = @player.comment || '-'

    -# tournaments ---------------------------------------------------------------
    - if @player.tournaments.any?
      .tab-pane.fade.show#tournaments{role: 'tabpanel', 'aria-labelledby'=>'tournaments-tab'}
        - joined_tournaments = @player.tournaments.where('active = ? AND date >= ?', true, Time.now).order(:date)
        -if joined_tournaments.any?
          .player__tournaments
            %table.table.table-hover.table-borderless
              %thead.table-header
                %tr
                  %th{colspan: '2'}
                    %h3= t('players.joined_tournaments')
                  %th= t('players.joined_tournament_at')
              %tbody.table-content.with-show
                - joined_tournaments.each_with_index do |tournament, i|
                  %tr{'data-id': tournament.id, 'data-component'=>'tournament'}
                    %td= tournament.name
                    %td
                      - if tournament.location.present?
                        = tournament.location.split(',')[0]
                      - else
                        = tournament.city || '-'
                    %td
                      %strong
                        = l(tournament.date, format: :custom_datetime_date_and_no_time)

        - past_tournaments = @player.tournaments.where('active = ? AND date < ?', true, Time.now)
        - if past_tournaments.any?
          - past_tournaments_2022 = past_tournaments.where('date >= ? AND date < ?', Time.local(2022,1,1), Time.local(2023,1,1))
          = render 'past_tournaments', player: @player, past_tournaments: past_tournaments_2022, year: '2022'
          - past_tournaments_2021 = past_tournaments.where('date >= ? AND date < ?', Time.local(2021,1,1), Time.local(2022,1,1))
          = render 'past_tournaments', player: @player, past_tournaments: past_tournaments_2021, year: '2021'
          - past_tournaments_2020 = past_tournaments.where('date >= ? AND date < ?', Time.local(2020,1,1), Time.local(2021,1,1))
          = render 'past_tournaments', player: @player, past_tournaments: past_tournaments_2020, year: '2020'
          - past_tournaments_2019 = past_tournaments.where('date >= ? AND date < ?', Time.local(2019,1,1), Time.local(2020,1,1))
          = render 'past_tournaments', player: @player, past_tournaments: past_tournaments_2019, year: '2019'

    -# videos --------------------------------------------------------------------
    - if youtube_video_ids.any?
      .tab-pane.fade.show#videos{role: 'tabpanel', 'aria-labelledby'=>'videos-tab'}
        .player__videos
          .newest_video
            %iframe.newest-video{allow: "autoplay; encrypted-media; picture-in-picture", allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/#{URI.escape(youtube_video_ids[0])}"}
          .other_videos{style: 'margin-top: 1rem;'}
            - require 'open-uri'
            - require 'json'
            - youtube_video_ids[1.. -1].each do |v_id|
              - begin
                - video_info = JSON.parse(URI.open("https://www.youtube.com/oembed?url=https://youtu.be/#{URI.escape(v_id)}&format=json").read)
                .row{style: 'margin-bottom: 1rem;'}
                  .col-4{style: 'text-align: center;'}
                    = link_to image_tag(video_info["thumbnail_url"], width: '100%', style: 'max-width: 220px; max-height: 160px;'), "https://youtu.be/#{v_id}", target: '_blank'
                  .col-8{style: 'margin-top: auto; margin-bottom: auto;'}
                    = link_to video_info["title"], "https://youtu.be/#{v_id}", target: '_blank'
              - rescue OpenURI::HTTPError => ex
                %p
                  %strong= "#{ex}:"
                  = "https://youtu.be/#{v_id}"

    -# teams ---------------------------------------------------------------
    - if @player.teams.any?
      .tab-pane.fade.show#teams{role: 'tabpanel', 'aria-labelledby'=>'teams-tab'}
        .player__teams
          %table.table.table-hover.table-borderless
            %thead.table-header
              %tr
                %th
                  %h3= t('players.joined_teams')
                %th
            %tbody.table-content.with-show
              - @player.teams.each_with_index do |team, i|
                %tr{'data-id': team.id, 'data-component'=>'team'}
                  %td= team.name_long
                  %td.text-center= team.name_short
