.row.title-div
  .col-md-12
    %h1
      = @player.gamer_tag

.row.show-player
  .col-md-4
    %p
      %strong Best rank ever:
      = @player.best_rank

    %p
      %strong Points:
      = @player.points

    %p
      %strong Participations:
      = @player.participations #"#{@player.participations} / #{@started_and_finished_tournaments_count_2019}"

    %p
      %strong Self assessment:
      = self_assessment_defines[@player.self_assessment]

    %p
      %strong Tournament experience:
      = tournament_experience_defines[@player.tournament_experience]

  .col-md-4

    %p
      %strong Wins:
      = @player.wins

    %p
      %strong Losses:
      = @player.losses

    %p
      %strong Win/Loss ratio:
      - if @player.losses == 0 and @player.wins == 0
        = '-'
      - else
        = "#{(@player.wins.to_f/(@player.wins+@player.losses)*100).round(2)} %"

    %p
      %strong Main characters:
      - if @player.main_characters.any?
        - @player.main_characters[0...3].each do |char|
          - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
            = image_tag "characters/#{char}.png", height: '25px', width: '25px'

    %p
      %strong Created at:
      = @player.created_at.to_s(:custom_datetime)

  .col-md-4
    - if current_user.present? and current_user.admin?
      %p
        %strong= link_to 'Edit player', edit_player_path(@player)
    - if current_user.present? and @player.user != current_user
      - if @player.user.admin?
        %p
          %strong= mail_to @player.user.email, "Contact this administrator", body: "Hi #{@player.user.username}\n\n..."
      - elsif current_user.admin?
        %p
          %strong= mail_to @player.user.email, "Contact user", body: "Hi #{@player.user.username}\n\n..."
          - if @player.user.mobile_number.present?
            = "(#{@player.user.mobile_number})"
    %p
      %strong= link_to 'Back', :back

.row.player-comment
  .col-md-12
    %p
      %strong Comment:
      = @player.comment || '-'

- if @player.tournaments.any?
  .row.title-joined-tournaments-div
    .col-md-12
      %h2 Joined tournaments
  .row.show-joined-tournaments
    .col-md-12
      - @player.tournaments.where('active = ? AND date >= ?', true, Time.now).order(date: :asc).each do |t|
        %p
          %i.glyphicon.glyphicon-time
          %strong= link_to "#{t.date.to_s(:custom_datetime_date)} -> #{t.name}", t

  .row.title-past-joined-tournaments-div
    .col-md-12
      %h2 Past joined tournaments
  .row.show-past-joined-tournaments
    .col-md-12
      - @player.tournaments.where('active = ? AND date < ?', true, Time.now).order(date: :desc).each do |t|
        %p
          - player_rank = '?'
          - if t.ranking_string.to_s.include?(@player.gamer_tag)
            - t.ranking_string.split(';').sort.each do |r|
              - if r.split(',')[1] == @player.gamer_tag
                - player_rank = r.split(',')[0]
          %strong= "#{player_rank}"
          %i.glyphicon.glyphicon-star
          %strong= link_to "#{t.name}", t
