%tr{'data-id': feedback.id, 'data-component': 'feedback'}
  %td{style: 'vertical-align: top;'}
    - if feedback.user.present?
      = feedback.user.username
    - else
      = '?'

  %td
    = feedback.text
    - if !feedback.response.nil? and !feedback.response.blank?
      %br
      %br
      %i= "Administrator \"#{feedback.response_username}\" replied:"
      %br
      .a_tab{style: 'margin-left: 10px;'}
        %i= feedback.response
