%h1= t('feedback.title_edit')

.row.form
  .col-md-8
    = render 'form', feedback: @feedback

  .col-md-4
    %strong
      %p= link_to t('show'), feedback_path(@feedback)
      - if current_user.admin? or current_user == @feedback.user
        %p= link_to t('delete'), @feedback, method: :delete, data: { confirm: t('confirm') }
      %p= link_to t('back'), :back
