.row
  .col
    %h1.page__title= t('feedback_and_questions')

.row.feedbacks-div
  .col-md-12
    %p= t('feedback.let_us_know')

.feedbacks
  %table.table.table-hover.table-borderless
    %thead.table-header
      = render "feedback_list_header"

    %tbody.with-show.feedback-list-body
      = render @feedbacks

  .feedbacks__pagination
    = render 'paginator'

.feedbacks__actions
  - if current_user.present?
    %p= link_to t('feedback.creat_new'), new_feedback_path, class: "btn btn-ghost"
  - else
    %p= button_to t('feedback.log_in_to_create'), nil, class:'btn btn-ghost', disabled:true

%hr
