.row
  .col
    %h1.page__title= t('feedback.title')

.row.feedbacks-div
  .col-md-12
    %p= t('feedback.let_us_know')

.feedbacks
  %table.table.table-hover.table-borderless
    %thead.table-header
      = render "feedback_list_header"

    %tbody.with-show.feedback-list-body
      = render @feedbacks

  .feedbacks__pagination
    = render 'paginator'

.feedbacks__actions
  - if current_user.present?
    %p= link_to t('feedback.creat_new'), new_feedback_path, class: "btn btn-ghost"
  - else
    %p= button_to t('feedback.log_in_to_create'), nil, class:'btn btn-ghost', disabled:true

%hr

.administrators
  %h3= t('feedback.admins')
  .row
    - @admins.each do |admin|
      .col-6
        .administrators__single
          %p
            %strong
              = admin.full_name || '?????? ??????'
          %p
            = link_to admin.player.gamer_tag, admin.player
            %br
            = mail_to admin.email, admin.email, body: "#{t('feedback.mailer.hi')} #{admin.username}\n\n..."
            %br
            - if admin.mobile_number.present?
              = admin.mobile_number
            %br
            - if admin.area_of_responsibility.present?
              = admin.area_of_responsibility
