.row.title-div
  .col-md-12
    %h1= 'Feedbacks & Questions'

.row.feedbacks-div
  .col-md-12
    %p= 'Let us know what you think of our tournaments or homepage and tell us if you\'re missing something, found a problem or have a question.'

.row.form
  .col-md-12
    %table.table.table-striped
      %thead.feedback-list-header
        = render "feedback_list_header"

      %tbody.with-show.feedback-list-body
        = render @feedbacks

    .pull-right
      - if current_user.present?
        %p= link_to "Create a new feedback or question", new_feedback_path, class: "btn btn-primary"
      - else
        %p= button_to "Log in to create a new feedback or question", nil, class:'btn btn-primary', id:'join-tournament-button', disabled:true

%br
.row.title-div
  .col-md-12
    %h1= 'Administrators'

.row.administrators-div
  - @admins.each do |admin|
    .col-md-3
      %p
        %strong
          %u= admin.full_name || '?????? ??????'
          %br
        %strong= 'Gamer tag:'
        = admin.player.gamer_tag
        %br
        %strong= 'E-Mail:'
        = admin.email
        %br
        - if admin.mobile_number.present?
          %strong= 'Mobile:'
          = admin.mobile_number
          %br
        - if admin.area_of_responsibility.present?
          %strong= 'Area of responsibility:'
          = admin.area_of_responsibility
          %br
