.row
  .col
    %h1.page__title
      - if @feedback.user.present?
        = t('feedback.users_feedback', user: @feedback.user.username)
      - else
        = t('feedback.someones_feedback')

.feedback
  %p= @feedback.text
  - if !@feedback.response.nil? and !@feedback.response.blank?
    %br
    %p
      %strong= t('feedback.admin_replied', user: @feedback.response_username).html_safe
      %br
      = @feedback.response.html_safe

.feedback__actions
  %strong
    - if current_user.present? and (current_user.admin? or current_user == @feedback.user)
      %p= link_to t('edit'), edit_feedback_path(@feedback)
      %p= link_to t('delete'), @feedback, method: :delete, data: { confirm: t('confirm') }

.row.show-feedback
  .col-md-12
    %p
      %strong= t('feedback.updated_at')
      = @feedback.updated_at.to_s(:custom_datetime)

    %p
      %strong= t('feedback.created_at')
      = @feedback.created_at.to_s(:custom_datetime)
