.row.title-div
  .col-md-12
    %h1= "#{@feedback.user.present? ? @feedback.user.username : '?'}'s feedback or question:"

.row.show-feedback
  .col-md-8
    %p= @feedback.text
    - if !@feedback.response.nil? and !@feedback.response.blank?
      %br
      %p
        %strong= "Administrator \"#{@feedback.response_username}\" replied:"
        %br
        = @feedback.response

  .col-md-4
    - if current_user.present? and (current_user.admin? or current_user == @feedback.user)
      %p= link_to 'Edit', edit_feedback_path(@feedback)
      %p= link_to 'Delete', @feedback, method: :delete, data: { confirm: 'Are you sure?' }
    %p= link_to 'Back', :back

%br
.row.show-feedback
  .col-md-12
    %p
      %strong Updated at:
      = @feedback.updated_at.to_s(:custom_datetime)

    %p
      %strong Created at:
      = @feedback.created_at.to_s(:custom_datetime)
