.row
  .col
    = link_to asset_url('rankings/fr/pr_s2_23_1.jpg') do
      = image_tag "rankings/fr/pr_s2_23_1.jpg", width: '100%', alt: 'pr s2 23 image 1'

.row.mt-3
  .col
    = link_to asset_url('rankings/fr/pr_s2_23_2.jpg') do
      = image_tag "rankings/fr/pr_s2_23_2.jpg", width: '100%', alt: 'pr s2 23 image 2'

.row.mt-3
  .col
    = link_to asset_url('rankings/fr/pr_s2_23_3.jpg') do
      = image_tag "rankings/fr/pr_s2_23_3.jpg", width: '100%', alt: 'pr s2 23 image 3'

.row.mt-2
  .col
    %p
      %span= "Artist:"
      %span= link_to '@Nixop', 'https://x.com/Nixop', target: '_blank'
