.row
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/de/saarland_s2_22.jpg') do
    = image_tag 'rankings/de/saarland_s2_22.jpg', height: '100%', width: '100%', alt: 'saarland s2 22 image'
.row.center
  = link_to asset_url('rankings/de/hessen_s2_22.jpg') do
    = image_tag 'rankings/de/hessen_s2_22.jpg', height: '100%', width: '100%', alt: 'hessen s2 22 image'

.row.mt-3
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/de/hessen_s2_19.jpg') do
    = image_tag 'rankings/de/hessen_s2_19.jpg', height: '100%', width: '100%', alt: 'hessen s2 19 image'
