.row
  .col
    %h2 2021
.row.center
  = link_to asset_url('rankings/de/norden_s1_21.jpg') do
    = image_tag 'rankings/de/norden_s1_21.jpg', height: '100%', width: '100%'

.row.mt-3
  .col
    %h2 2020
.row.center
  = link_to asset_url('rankings/de/norden_s1_20.jpg') do
    = image_tag 'rankings/de/norden_s1_20.jpg', height: '100%', width: '100%'

.row.mt-3
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/de/norden_s2_19.jpg') do
    = image_tag 'rankings/de/norden_s2_19.jpg', height: '100%', width: '100%'
.row.center
  = link_to asset_url('rankings/de/norden_s1_19.jpg') do
    = image_tag 'rankings/de/norden_s1_19.jpg', height: '100%', width: '100%'
