.row
  .col
    %h2 2024
.row.center
  = link_to asset_url('rankings/de/nds_s1_24.jpg') do
    = image_tag 'rankings/de/nds_s1_24.jpg', height: '100%', width: '100%', alt: 'nds s1 24 image'
%br
.row.center
  -# = link_to asset_url('rankings/de/bremen_s1_24.jpg') do
  -#   = image_tag 'rankings/de/bremen_s1_24.jpg', height: '100%', width: '100%', alt: 'bremen s1 24 image'

.row.mt-3
  .col
    %h2 2023
.row.center
  = link_to asset_url('rankings/de/nds_s2_23.jpg') do
    = image_tag 'rankings/de/nds_s2_23.jpg', height: '100%', width: '100%', alt: 'nds s2 23 image'
%br
.row.center
  = link_to asset_url('rankings/de/nds_s1_23.jpg') do
    = image_tag 'rankings/de/nds_s1_23.jpg', height: '100%', width: '100%', alt: 'nds s1 23 image'
%br
.row.center
  = link_to asset_url('rankings/de/bremen_s2_23.jpg') do
    = image_tag 'rankings/de/bremen_s2_23.jpg', height: '100%', width: '100%', alt: 'bremen s2 23 image'

.row.mt-3
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/de/nds_s2_22.jpg') do
    = image_tag 'rankings/de/nds_s2_22.jpg', height: '100%', width: '100%', alt: 'nds s2 22 image'
%br
.row.center
  = link_to asset_url('rankings/de/bremen_s2_22.jpg') do
    = image_tag 'rankings/de/bremen_s2_22.jpg', height: '100%', width: '100%', alt: 'bremen s2 22 image'

.row.mt-3
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/de/nds_s2_19.jpg') do
    = image_tag 'rankings/de/nds_s2_19.jpg', height: '100%', width: '100%', alt: 'nds s2 19 image'
