.row
  .col
    %h2 2021
  = link_to asset_url('rankings/bawu_s2_21.jpg') do
    = image_tag 'rankings/bawu_s2_21.jpg', height: '100%', width: '100%'

.row.mt-3
  .col
    %h2 2019
  = link_to asset_url('rankings/bawu_s2_19.jpg') do
    = image_tag 'rankings/bawu_s2_19.jpg', height: '100%', width: '100%'
  = link_to asset_url('rankings/sueden_s2_19.jpg') do
    = image_tag 'rankings/sueden_s2_19.jpg', height: '100%', width: '100%'
