.row
  .col
    %h2 2023
.row.center
  = link_to asset_url('rankings/de/norden_s1_23.jpg') do
    = image_tag 'rankings/de/norden_s1_23.jpg', height: '100%', width: '100%', alt: 'norden s1 23 image'
%br
.row.center
  = link_to asset_url('rankings/de/norden_s1_23_2.jpg') do
    = image_tag 'rankings/de/norden_s1_23_2.jpg', height: '100%', width: '100%', alt: 'norden s1 23 image 2'

.row.mt-3
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/de/norden_s2_22.jpg') do
    = image_tag 'rankings/de/norden_s2_22.jpg', height: '100%', width: '100%', alt: 'norden s2 22 image'

.row.mt-3
  .col
    %h2 2021
.row.center
  = link_to asset_url('rankings/de/norden_s1_21.jpg') do
    = image_tag 'rankings/de/norden_s1_21.jpg', height: '100%', width: '100%', alt: 'norden s1 21 image'

.row.mt-3
  .col
    %h2 2020
.row.center
  = link_to asset_url('rankings/de/norden_s1_20.jpg') do
    = image_tag 'rankings/de/norden_s1_20.jpg', height: '100%', width: '100%', alt: 'norden s1 20 image'

.row.mt-3
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/de/norden_s2_19.jpg') do
    = image_tag 'rankings/de/norden_s2_19.jpg', height: '100%', width: '100%', alt: 'norden s2 19 image'
.row.center
  = link_to asset_url('rankings/de/norden_s1_19.jpg') do
    = image_tag 'rankings/de/norden_s1_19.jpg', height: '100%', width: '100%', alt: 'norden s1 19 image'
