<p><%= t('devise.mailer.hello', locale: @resource.country_code)%> <%= @resource.username %></p>

<p><%= t('devise.mailer.change_pw_request', locale: @resource.country_code)%></p>

<p><%= link_to t('devise.mailer.change_my_pw', locale: @resource.country_code), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.change_pw_ignore', locale: @resource.country_code)%></p>
<p><%= t('devise.mailer.pw_wont_change', locale: @resource.country_code)%></p>
