<p><%= t('devise.mailer.hello')%> <%= @resource.username %></p>

<p><%= t('devise.mailer.change_pw_request')%></p>

<p><%= link_to t('devise.mailer.change_my_pw'), edit_password_url(@resource, reset_password_token: @token).gsub('swisssmash.ch', Domain.domain_from(@resource.country_code)) %></p>

<p><%= t('devise.mailer.change_pw_ignore')%></p>
<p><%= t('devise.mailer.pw_wont_change')%></p>
