= link_to asset_url('rankings/ch/pr_s1_19.jpg') do
  = image_tag "rankings/ch/pr_s1_19.jpg", width: '100%', alt: "pr s1 2019 image"
%br
%br
%h2= t('rankings.s1_19.top10')
%table.table.table-hover.table-borderless
  %thead.table-header
    %tr
      %th.text-center #
      %th= t('players.gamer_tag')
      %th.text-center= t('players.mains')
      %th.text-center.d-sm-table-cell.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell= t('players.participations')
      %th.text-center.d-sm-table-cell.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell= t('w_l')

  %tbody.table-content.with-show
    %tr{'data-id': 240, 'data-component'=>'player'}
      %td.text-center= 1.ordinalize
      %td= 'mYi | Destany'
      %td.text-center
        %div
          - ['meta_knight', 'wolf', 'little_mac'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 11
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 83.17 %
    %tr{'data-id': 253, 'data-component'=>'player'}
      %td.text-center= 2.ordinalize
      %td= 'EQX | DeepFreeze'
      %td.text-center
        %div
          - ['falco'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 11
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 80 %
    %tr{'data-id': 973, 'data-component'=>'player'}
      %td.text-center= 3.ordinalize
      %td= 'ELV | Smuff'
      %td.text-center
        %div
          - ['greninja', 'captain_falcon'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 8
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 84.85 %
    %tr{'data-id': Player.find_by(gamer_tag: 'Severe Calamari').try(:id), 'data-component'=>'player'}
      %td.text-center= 4.ordinalize
      %td= 'ELV | Severe Calamari'
      %td.text-center
        %div
          - ['wolf'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 3
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 82.14 %
    %tr{'data-id': 254, 'data-component'=>'player'}
      %td.text-center= 5.ordinalize
      %td= 'AG | Benji'
      %td.text-center
        %div
          - ['wario'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 12
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 73.56 %
    %tr{'data-id': 267, 'data-component'=>'player'}
      %td.text-center= 6.ordinalize
      %td= 'BG | Crash'
      %td.text-center
        %div
          - ['wii_fit_trainer', 'bowser'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 8
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 74.55 %
    %tr{'data-id': 262, 'data-component'=>'player'}
      %td.text-center= 7.ordinalize
      %td= 'SILENT | Kepler'
      %td.text-center
        %div
          - ['snake'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 5
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 77.14 %
    %tr{'data-id': 48, 'data-component'=>'player'}
      %td.text-center= 8.ordinalize
      %td= 'SoS | CrzyShroom'
      %td.text-center
        %div
          - ['wolf'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 11
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 71.76 %
    %tr{'data-id': 483, 'data-component'=>'player'}
      %td.text-center= 9.ordinalize
      %td= 'QMG | Sylph'
      %td.text-center
        %div
          - ['yoshi', 'ganondorf', 'link'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 3
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 76 %
    %tr{'data-id': 233, 'data-component'=>'player'}
      %td.text-center= 10.ordinalize
      %td= 'Olivia'
      %td.text-center
        %div
          - ['wii_fit_trainer', 'duck_hunt'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px', alt: "#{char} icon"
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 12
      %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell 74.47 %

%h2= t('rankings.s1_19.counted_tournaments')
%ul
  %li Ultimon Stadion
  %li University of Smash IV
  %li Swissgeek Smash Ultimate Lausanne
  %li Japan Impact 2019 - Saturday
  %li Ultimon Stadion 2: Into the Reset
  %li Colosseum Basel XI
  %li Smile & Wave(s)
  %li Tournoi Mix-Imax/jeuxvideo.ch du 23 mars 2019
  %li Carrefour Sud Monthly
  %li Ultimon Stadion 3
  %li Smash the Cake
  %li Colosseim Basel XII
  %li Tournoi «Smash Ultimate> Swissgeek (Lausanne)
  %li Smash Temple 2 day 1
  %li Smash Temple 2 day 2
  %li Smash at PolyLan
  %li Polymanga Satuday
  %li PK Bern #1
  %li Blick Esports Masters 1
  %li Ultimelt #15
  %li Fantasy Basel day 1
  %li Fantasy Basel day 2
  %li Blick Esports Masters 2
  %li Ultimelt #16
  %li Ultimon 4
  %li University of Smash V
  %li TheReset #6

%h2= t('rankings.s1_19.considered_tournaments')
%ul
  %li Japan Impact 2019 - Sunday (Not announced in time)
  %li Polymanga Sunday  (Lack of proper setups)
  %li Casino - Let’s Play #1  (Not announced in time)
  %li Super Smash Saga - Calm before the storm (Seeding)
