= link_to asset_url('rankings/ch/pr_s1_22.jpg') do
  = image_tag "rankings/ch/pr_s1_22.jpg", width: '100%'
%br
%br

%h2= t('rankings.s1_22.top15')
%table.table.table-hover.table-borderless
  %thead.table-header
    %tr
      %th.text-center #
      %th= t('players.gamer_tag')
      %th.text-center= t('players.mains')
      -# %th.text-center.d-sm-table-cell.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell= t('players.participations')
      -# %th.text-center.d-sm-table-cell.d-none.d-md-table-cell.d-lg-none.d-xl-table-cell= t('w_l')

  %tbody.table-content.with-show
    %tr{'data-id': 240, 'data-component'=>'player'}
      %td.text-center= 1.ordinalize
      %td= 'mYi | Destany'
      %td.text-center
        %div
          - ['terry'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 88, 'data-component'=>'player'}
      %td.text-center= 2.ordinalize
      %td= 'SKED | Jaka'
      %td.text-center
        %div
          - ['isabelle'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %


    %tr{'data-id': 29, 'data-component'=>'player'}
      %td.text-center= 3.ordinalize
      %td= 'eLS | Karpador64'
      %td.text-center
        %div
          - ['luigi', 'wario'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    -# %tr{'data-id': ???, 'data-component'=>'player'}
    %tr
      %td.text-center= 4.ordinalize
      %td= 'NTC | Deox6'
      %td.text-center
        %div
          - ['byleth', 'joker'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 267, 'data-component'=>'player'}
      %td.text-center= 5.ordinalize
      %td= 'BAB0 | Crash'
      %td.text-center
        %div
          - ['wii_fit_trainer', 'bowser'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %


    %tr{'data-id': 143, 'data-component'=>'player'}
      %td.text-center= 6.ordinalize
      %td= 'eLS | Rohan Doge'
      %td.text-center
        %div
          - ['sora', 'meta_knight'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %


    %tr{'data-id': 152, 'data-component'=>'player'}
      %td.text-center= 7.ordinalize
      %td= 'BDS | Kimbo'
      %td.text-center
        %div
          - ['palutena', 'wolf'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 262, 'data-component'=>'player'}
      %td.text-center= 8.ordinalize
      %td= 'mYi | Kepler'
      %td.text-center
        %div
          - ['chrom', 'snake'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 85, 'data-component'=>'player'}
      %td.text-center= 9.ordinalize
      %td= 'eLS | Phonky'
      %td.text-center
        %div
          - ['pac_man'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 48, 'data-component'=>'player'}
      %td.text-center= 10.ordinalize
      %td= 'mistic'
      %td.text-center
        %div
          - ['wolf', 'cloud'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 129, 'data-component'=>'player'}
      %td.text-center= 11.ordinalize
      %td= 'SFG | Byron'
      %td.text-center
        %div
          - ['fox'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 149, 'data-component'=>'player'}
      %td.text-center= 12.ordinalize
      %td= 'LK | SickBoy'
      %td.text-center
        %div
          - ['rob', 'pikachu'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 639, 'data-component'=>'player'}
      %td.text-center= 13.ordinalize
      %td= 'Jodel'
      %td.text-center
        %div
          - ['toon_link'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 6, 'data-component'=>'player'}
      %td.text-center= 14.ordinalize
      %td= 'SBZ | gaya'
      %td.text-center
        %div
          - ['steve', 'greninja'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

    %tr{'data-id': 467, 'data-component'=>'player'}
      %td.text-center= 15.ordinalize
      %td= 'AG | Fr0zen'
      %td.text-center
        %div
          - ['pokemon_trainer'].each do |char|
            - if File.file?("#{Rails.root}/app/assets/images/characters/#{char}.png")
              = image_tag "characters/#{char}.png", height: '25px', width: '25px'
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell
      -# %td.text-center.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell  %

%h2= t('rankings.s1_22.details.title')
%p
  = t('rankings.s1_22.details.text1', link: link_to(t('flash.alert.here'), '/news/21')).html_safe
  = t('rankings.s1_22.details.text2', link: link_to(t('flash.alert.here'), '/news/20')).html_safe
