= link_to asset_url('rankings/ch/pr_s1_25.jpg') do
  = image_tag "rankings/ch/pr_s1_25.jpg", width: '100%', alt: "pr s1 2025 image"
%br
%br

.row
  .col
    %h2= "Algorithm & Data:"
    %p
      = link_to '@TehLyan', 'https://twitter.com/TehLyan', target: '_blank'

  .col
    %h2= "PR Graphic:"
    %p
      = link_to '@felix_anselmi', 'https://twitter.com/felix_anselmi', target: '_blank'
