.row
  .col
    %h1.page__title= t('rules.title')

.row
  .col
    %h2= t('rules.general_rules.title')
.row
  .col
    %p= t('rules.general_rules.body')
    %ul
      %li= t('rules.general_rules.li1')
      %li= t('rules.general_rules.li2')
      %li= t('rules.general_rules.li3')
      %li= t('rules.general_rules.li4')
      %li= t('rules.general_rules.li5')
      %li= t('rules.general_rules.li6')

.row.mt-3
  .col
    %h2= t('rules.tournament_rules.title')
.row
  .col
    %ul
      %li= t('rules.tournament_rules.li1')
      %li= t('rules.tournament_rules.li2')
      %li= t('rules.tournament_rules.li3')
      %li= t('rules.tournament_rules.li4')
      %li= t('rules.tournament_rules.li5')

.row.mt-3
  .col
    %h2= t('rules.match_rules.title')
.row
  .col
    %p
      = t('rules.match_rules.body')
      %strong= link_to t('rules.match_rules.here'), 'https://drive.google.com/file/d/1-B6jUl0o8EDrASswJ1ReYK-3vT_7Kb54/view', target: 'blank'
      = '.'
    %p
      = t('rules.match_rules.overview')
    %ul
      %li= t('rules.match_rules.li1')
      %li= t('rules.match_rules.li2')
      %li= t('rules.match_rules.li3')
      %li= t('rules.match_rules.li4')
      %li= t('rules.match_rules.li5')
      %li= t('rules.match_rules.li6')
      %li= t('rules.match_rules.li7')
      %li= t('rules.match_rules.li8')

.row.mt-3
  .col
    = image_tag 'mirakuru_stages.png', height: '100%', width: '100%'
