.row
  .col
    %h1.page__title= 'Rules'

.row
  .col
    %h2= 'General rules'
.row
  .col
    %p= 'So that we can continue playing tournaments in the found locations, we all have to follow some common sense rules. If any of these rules are broken the host has the right to throw out and ban any player without further explanation.'
    %ul
      %li= 'Smoking indoors is prohibited'
      %li= 'Take care of all used hard- and software, the furnishings and other inventory. If you break something, report it to the host'
      %li= 'Be friendly and helpful to all participants'
      %li= 'Follow the instructions of the host. His or her word is law'
      %li= 'Physical fights will not be tolerated. Disputes must be dealt with by playing 1 vs. 1 matches'
      %li= 'Thieving will not be tolerated'

.row.mt-3
  .col
    %h2= 'SSBU tournament rules'
.row
  .col
    %ul
      %li= 'The registrations fee must be payed on site before the tournament games begin'
      %li= 'If you come too late (>15min) to a tournament or a match, you will be disqualified'
      %li= 'Bring your own controller (and it\'s extras) if you don\'t want to play with Joy-Cons'
      %li= 'If not otherwise defined, Double Elimination Matches will be played (if you lose two matches you\'re out of the tournament)'
      %li= 'Unused tournament game stations (setups) can be used for friendly matches as soon as a host allowed it'

.row.mt-3
  .col
    %h2= 'SSBU match rules (Ruleset)'
.row
  .col
    %p
      = 'For now (early 2019) the Mirakuru ruleset is used in most of the official swiss tournaments. The complete ruleset can be found'
      %strong= link_to 'here', 'https://drive.google.com/file/d/1-B6jUl0o8EDrASswJ1ReYK-3vT_7Kb54/view', target: 'blank'
      = '.'
    %p
      = 'Short overview:'
    %ul
      %li= '1 vs. 1'
      %li= 'Best of 3 (Final matches: Best of 5)'
      %li= '3 stocks per game'
      %li= '8 min per game'
      %li= 'No items'
      %li= 'Pause: Off'
      %li= 'Stage hazards: Off'
      %li= 'The winner of a match is obligated to report the results to an administrator'

.row.mt-3
  .col
    = image_tag 'mirakuru_stages.png', height: '100%', width: '100%'
