.row.title-div
  .col-md-12
    %h1= 'Rules and other important informations'

.row.general-rules-title
  .col-md-12
    %h2= 'General rules'
    .row.general-rules
      .col-md-12
        %p= 'If any of the following rules are broken the administrator has the right to throw out and ban any player without further explanation.'
        %ul
          %li= 'Take care of all used hard- and software'
          %li= 'The word of an administrator is law'
          %li= 'Disputes must be dealt with by playing a 1 vs. 1 match. Physical fights will not be tolerated'
          %li= 'Thieving will not be tolerated. If someone is found guilty, he or she will be banned for a lifetime and branded as a thief in all known social media platforms'

.row.tournament-rules-title
  .col-md-12
    %h2= 'SSBU tournament rules'
    .row.tournament-rules
      .col-md-12
        %ul
          %li= 'The registrations fee must be payed on site before the tournament games begin'
          %li= 'If you come too late (>15min) to a tournament or a match, you will be disqualified'
          %li= 'Bring your own controller if you don\'t want to play with Joy-Cons'
          %li= 'Double Elimination Matches (if you lose two matches you\'re out of the tournament)'

.row.match-rules-title
  .col-md-12
    %h2= 'SSBU match rules'
    .row.match-rules
      .col-md-12
        %p
          = 'For now (early 2019), we decided to orient ourselves to the Genesis6 ruleset. The complete ruleset can be found'
          = link_to 'here', 'http://bit.ly/G6Ultimate', target: 'blank'
          = 'and a short image version'
          = link_to 'here', 'https://i.imgur.com/JP4KLIw.png', target: 'blank'
          = '.'
        %p
          = 'Short overview:'
        %ul
          %li= '1 vs. 1'
          %li= 'Best of 3 (Final match: Best of 5)'
          %li= '3 stocks per game'
          %li= '8 min per game'
          %li= 'No items'
          %li= 'The winner of a match is obligated to report the results to an administrator'

.row.tournament-rules-title
  .col-md-12
    %h2= 'Kultur Bistro rules'
    .row.tournament-rules
      .col-md-12
        %p= 'So that we can continue playing tournaments in the Kultur Bistro we all have to follow some common sense rules like:'
        %ul
          %li= 'Do not disturb the other Kultur Bistro visitors'
          %li= 'Always buy at least something to drink'
          %li= 'Do not bring your own drink or food'
          %li= 'Take care of the furnishings and other inventory'
          %li= 'Be friendly to the employee of the Kultur Bistro and follow their instructions'

%br
.row.ranking-system-and-seeding-and-prices
  .col-md-6
    .row.ranking-system-title
      .col-md-12
        %h2= 'Ranking system'
        %p= 'Regardless of the number of participants per tournament, the players rank at the end of a tournament decides the amount of points he or she receives.'
        .row.ranking-system
          .col-md-3
          .col-md-4
            %table.table.table-striped
              %thead.ranking-system-header
                %tr
                  %th.text-center Rank
                  %th.text-center Points
              %tbody.ranking-system-body
                %tr
                  %td.text-center 1
                  %td.text-center 300
                %tr
                  %td.text-center 2
                  %td.text-center 250
                %tr
                  %td.text-center 3
                  %td.text-center 200
                %tr
                  %td.text-center 4
                  %td.text-center 150
                %tr
                  %td.text-center 5-6
                  %td.text-center 100
                %tr
                  %td.text-center 7-8
                  %td.text-center 75
                %tr
                  %td.text-center 9-12
                  %td.text-center 50
                %tr
                  %td.text-center 13-16
                  %td.text-center 25
                %tr
                  %td.text-center 17-24
                  %td.text-center 15
                %tr
                  %td.text-center 25-32
                  %td.text-center 10
                %tr
                  %td.text-center >32
                  %td.text-center 5

  .col-md-6
    .row.seeding-title
      .col-md-12
        %h2= 'Match seeding'
        %p
          = 'The final seeding is done by the Challonge tournament manager.'
          %br
          = 'We only provide a list sorted by the players skill, calculated as follows:'
          %br
          %i= 'points/participations + wins/losses + self_assessment/5 + tournament_experience/10'

    .row.prices-title
      .col-md-12
        %h2= 'Prices for the winner'
        %p= 'The top 3 ranks must be unambiguous. That means, if there are two or more player with the same amount of points, they have to play remachtes (e.g. best of 5 games) until the three winners are clear.'
        .row.prices
          .col-md-12
            %table.table.table-striped
              %thead.prices-header
                %tr
                  %th.text-center Rank or Points (p)
                  %th.text-center Prices
              %tbody.prices-body
                %tr
                  %td.text-center 1
                  %td.text-center Not yet decided, Not yet decided, Not yet decided
                %tr
                  %td.text-center 2
                  %td.text-center Not yet decided, Not yet decided
                %tr
                  %td.text-center 3
                  %td.text-center Not yet decided
                %tr
                  %td.text-center 4-6
                  %td.text-center Not yet decided
                %tr
                  %td.text-center >1000p
                  %td.text-center Not yet decided
                %tr
                  %td.text-center >500p
                  %td.text-center Not yet decided
                %tr
                  %td.text-center >250p
                  %td.text-center Not yet decided
