- set_meta_tags description: "France Smash Community #{@region.gsub('_', ' ')}"

.row
  .col
    %h1.page__title= t("defines.regions.#{@region}")

.row
  .col
    - if @communities.any?
      %table.table.table-hover.table-communities
        %thead.table-header
          = render "community_list_header"

        %tbody.with-show.community-list-body
          = render @communities

    - else
      %p{style: 'margin-top: 1rem; text-align: center;'}= t('communities.no_communities_yet')

  - if current_user.present?
    .admin-actions
      - if current_user.admin? || current_user.has_role?('community_editor')
        .admin-actions__link
          = link_to new_community_path(region: @region), class:'btn btn-default btn-square' do
            %span.material-icons.admin-actions__link__icon= 'add'
      - else
        .admin-actions__link
          = button_tag class:'btn btn-default btn-square', 'data-toggle'=>'modal', 'data-target'=>'#infoModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' do
            %span.material-icons.admin-actions__link__icon= 'info'
        = render '/partials/info', info_body: t('communities.info_body') #infoModal
