.community
  .row
    .col
      - if @community.region.present?
        .tooltip
          = image_tag "regions/#{@community.country_code}/#{@community.region}.svg", height: '25px', width: '25px', alt: "community #{@community.region} image", style: 'position: absolute; top: 10px;'
          %span.tooltiptext
            = t("defines.regions.#{@community.region}")
      .page__title
        %h1
          = @community.name
        - logos_shown = 0
        - if @community.twitter.present?
          = link_to image_tag('Twitter_Logo.svg', height: '35px', width: '35px', alt: 'Twitter logo'), @community.twitter.include?('http') ? @community.twitter : "https://twitter.com/#{@community.twitter}", target: '_blank', style: "position: absolute; top: 5px; right: #{logos_shown*35}px;"
          - logos_shown = logos_shown + 1;
        - if @community.instagram.present?
          = link_to image_tag('Instagram_Logo.png', height: '35px', width: '35px', alt: 'Instagram logo'), @community.instagram.include?('http') ? @community.instagram : "https://www.instagram.com/#{@community.instagram}", target: '_blank', style: "position: absolute; top: 5px; right: #{logos_shown*35}px;"
          - logos_shown = logos_shown + 1;
        - if @community.facebook.present?
          = link_to image_tag('Facebook_Logo.svg', height: '35px', width: '30px', alt: 'Facebook logo'), @community.facebook.include?('http') ? @community.facebook : "https://www.facebook.com/#{@community.facebook}", target: '_blank', style: "position: absolute; top: 5px; right: #{logos_shown*35}px;"
          - logos_shown = logos_shown + 1;

    -# admin actions -------------------------------------------------------------
    - if current_user.present? && (current_user.admin? || @community.user == current_user)
      .admin-actions
        .admin-actions__link
          = link_to edit_community_path(@community), class:'btn btn-default btn-square' do
            %span.material-icons.admin-actions__link__icon= 'edit'
        .admin-actions__link
          = link_to @community, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sstm btn-square' do
            %span.material-icons.admin-actions__link__icon= 'delete'

  .community__stats
    .row
      - if @community.department.present?
        .col
          .community__stats__single{class: (@community.city.nil?) ? 'community__stats__single--last' : ''}
            %strong
              = @community.department
            %span
              = t('communities.department')
      - if @community.city.present?
        .col
          .community__stats__single.community__stats__single--last
            %strong
              = @community.city
            %span
              = t('communities.city')

  - if @discord_invites_json.any?
    .community__stats
      .row
        .col
          .community__stats__single.community__stats__single--last
            .discord_invites{style: 'justify-content: center; display: grid;'}
              - @discord_invites_json.each do |discord_invite|
                .row{style: 'margin-bottom: 1rem;'}
                  .col
                    = render '/partials/discord_invite', discord_invite: discord_invite
            %span{style: 'margin-top: -10px;'}
              = (@discord_invites_json.count > 1 ? "Discords" : "Discord")

  - if @community.twitch.present? || @community.youtube.present?
    .community__media_channels
      .row
        - if @community.twitch.present?
          .col{style: 'text-align: center;'}
            = link_to image_tag('TwitchExtrudedWordmarkPurple.svg', height: '60px', alt: 'Twitch logo purple'), @community.twitch.include?('http') ? @community.twitch : "https://www.twitch.tv/#{@community.twitch}", target: '_blank', class: 'nav-link', style: 'margin-top: 5px; margin-right: 5px;'
        - if @community.youtube.present?
          .col{style: 'text-align: center;'}
            - if cookies[:color_theme] == 'dark'
              = link_to image_tag('Youtube_Logo_Light.png', height: '60px', alt: 'Youtube logo light'), @community.youtube.include?('http') ? @community.youtube : "https://www.youtube.tv/#{@community.youtube}", target: '_blank', class: 'nav-link', style: 'margin-top: 5px; margin-right: 5px;'
            - else
              = link_to image_tag('Youtube_Logo_Dark.png', height: '60px', alt: 'Youtube logo dark'), @community.youtube.include?('http') ? @community.youtube : "https://www.youtube.tv/#{@community.youtube}", target: '_blank', class: 'nav-link', style: 'margin-top: 5px; margin-right: 5px;'

  -if current_user.present? && current_user.admin?
    .community__stats
      .row
        .col
          %h3 Admins only:
      .row
        .col
          .community__stats__single
            %strong= @community.updated_at.to_s(:custom_datetime)
            %span= 'updated_at'
        .col
          .community__stats__single
            %strong= link_to @community.user.player.gamer_tag, @community.user.player
            %span= 'Creator'
        .col
          .community__stats__single.community__stats__single--last
            %strong= @community.created_at.to_s(:custom_datetime)
            %span= 'created_at'
