- if session['country_code'] == 'ch'
  %title= @section.present? ? @section.capitalize : "SwissSmash.ch"
- elsif session['country_code'] == 'de'
  %title= @section.present? ? @section.capitalize : "GermanySmash.de"
- elsif session['country_code'] == 'fr'
  %title= @section.present? ? @section.capitalize : "SmashUltimate.fr"
- elsif session['country_code'] == 'lu'
  %title= @section.present? ? @section.capitalize : "LuxSmash.lu"
- elsif session['country_code'] == 'it'
  %title= @section.present? ? @section.capitalize : "ItalySmash.it"
- elsif session['country_code'] == 'uk'
  %title= @section.present? ? @section.capitalize : "SmashUltimate.uk"
- elsif session['country_code'] == 'pt'
  %title= @section.present? ? @section.capitalize : "SmashBrosPortugal.com"
= display_meta_tags(default_meta_tags)
%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
- if session['country_code'] == 'ch'
  = favicon_link_tag 'ch_favicon.ico'
  = stylesheet_link_tag 'application_ch', media: 'all', 'data-turbolinks-track' => true
- elsif session['country_code'] == 'de'
  = favicon_link_tag 'de_logo.png'
  = stylesheet_link_tag 'application_de', media: 'all', 'data-turbolinks-track' => true
- elsif session['country_code'] == 'fr'
  = favicon_link_tag 'fr_favicon-32x32.png'
  = stylesheet_link_tag 'application_fr', media: 'all', 'data-turbolinks-track' => true
- elsif session['country_code'] == 'lu'
  = favicon_link_tag 'lu_logo.png'
  = stylesheet_link_tag 'application_lu', media: 'all', 'data-turbolinks-track' => true
- elsif session['country_code'] == 'it'
  = favicon_link_tag 'it_logo.jpg'
  = stylesheet_link_tag 'application_it', media: 'all', 'data-turbolinks-track' => true
- elsif session['country_code'] == 'uk'
  = favicon_link_tag 'uk_logo.jpg'
  = stylesheet_link_tag 'application_uk', media: 'all', 'data-turbolinks-track' => true
- elsif session['country_code'] == 'pt'
  = favicon_link_tag 'pt_logo.jpg'
  = stylesheet_link_tag 'application_pt', media: 'all', 'data-turbolinks-track' => true
= render '/layouts/google_analytics'
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
