- if user_signed_in?
  .pull-right.form-inline
    %p
      = "Signed in as:"
      %b{style: 'margin-right: 10px'}
        = current_user.username
        - if current_user.admin?
          = ' (Administrator)'
      = link_to 'Log Out', destroy_user_session_path, method: :delete, confirm:'Are you sure you want to log out?', class: 'btn btn-warning'
      or
      = link_to 'Edit User', edit_user_registration_path, class: 'btn btn-primary'
- else
  -# unless devise_controller?
  = form_tag session_path(:user), class: "form-inline pull-right" do
    .form-group
      = text_field_tag "user[login]", "", class: "form-control", placeholder: "Username or Email"
      = password_field_tag "user[password]", "", class: "form-control", placeholder: "Password"
      = submit_tag "Log in", class: "form-control btn btn-success"
      = "or"
      = link_to "Sign up", new_user_registration_path,  class: "form-control btn btn-primary"
