!!!
%html
  %head
    = render '/layouts/head'

  %body
    = render '/layouts/flashes'
    = render '/partials/login' #loginModal
    %main
      .header.navbar.navbar-expand-lg.navbar-sstm.d-none.d-lg-block
        = render "/layouts/navigation_#{session['country_code']}"
      .header.navbar.navbar-sstm.d-block.d-lg-none
        = render "/layouts/navigation_mobile_#{session['country_code']}"
      .banner
        .banner__overlay
        = image_tag 'banner.jpg', class: 'banner__image'
        - if session['country_code'] == 'it'
          .wip
            = "This site is a \"Work In Progress\""
      .container
        .row
          - if request.original_fullpath.start_with?('/calendar')
            .col-12
              .content
                = yield
          - else
            .d-none.d-lg-block.col-lg-3
              .sidebar
                - if session['country_code'] == 'ch'
                  = render '/partials/players'
                - elsif ['de', 'fr', 'lu', 'it', 'uk'].include?(session['country_code'])
                  %h2.sidebar__title
                    = t('partials.streamers.title')
                  = render '/partials/streamers'
            .col-12.col-lg-6
              .content
                = yield
              - if request.path == '/' || request.path == '/welcome'
                .content{style: 'margin-top: 10px;'}
                  = render '/partials/top_donators'
            .d-none.d-lg-block.col-lg-3
              .sidebar
                = render '/partials/events', next_tournaments: @nextTournaments
              - if session['country_code'] == 'de'
                .sidebar{style: 'margin-top: 10px; padding: 0;'}
                  = link_to('https://smash.gg/tournament/smash-contest-dokomi-2022/', target: '_blank') do
                    = image_tag 'smash_contest_banner.jpg', height: '100%', width: '100%', style: 'border-radius: 0.365rem;'
              - else
                .sidebar{style: 'margin-top: 10px; height: 200px; display: flex; text-align: center; align-items: center;'}
                  %p
                    %em= t('sidebar.your_tournament_promotion', link: link_to(t('navigation.footer.contact'), informations_path(anchor: 'contact'))).html_safe
    .footer
      .container
        = render "/partials/footer_#{session['country_code']}"

  - if ['de', 'fr', 'lu', 'it', 'uk'].include?(session['country_code'])
    = render 'cookies_eu/consent_banner'

:javascript
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";
