!!!
%html
  %head
    - if @section.present?
      %title= "SwissSmash.ch | #{@section.capitalize}"
    - else
      %title= "SwissSmash.ch"
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag 'logo.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = render '/layouts/google_analytics'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render '/layouts/flashes'
    = render '/partials/login'
    %main
      .header.navbar.navbar-expand-lg.navbar-sstm
        = render '/layouts/navigation'
      .banner
        .banner__overlay
        = image_tag 'banner.jpg', class: 'banner__image'
      .container
        .row
          - if request.original_fullpath == '/calendar'
            .col-12
              .content
                = yield
          - else
            .d-none.d-lg-block.col-lg-3
              .sidebar
                = render '/partials/players'
            .col-12.col-lg-6
              .content
                = yield
            .d-none.d-lg-block.col-lg-3
              .sidebar
                = render '/partials/events'
    .footer
      = button_tag '', title: 'Go to top', style: 'background-color: #222; border: none;', class: 'scroll-top' do
        = image_tag('logo.png', height: '50px', width: '50px')
      %p.small
        = link_to t('feedback_and_questions'), :feedbacks
      %p.small
        = mail_to 'admin@swisssmash.ch', t('navigation.footer.contact'), subject: t('navigation.footer.mail_subject'), body: t('navigation.footer.mail_body')

:javascript
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";
