!!!
%html
  %head
    %title SSB Tournaments Bern
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag 'logo.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render '/layouts/flashes'
    .header.navbar.navbar-expand-lg.navbar-sstm
      = render '/layouts/navigation'
    .banner
      .banner-overlay   
      = image_tag 'banner.jpg', height: '200px', width: '100%', style: 'object-fit: cover;'
    .container.content
      .row
        .col-3
          .box
            = render '/partials/players'
        .col-6
          .box
            = yield
        .col-3
          .box
            = render '/partials/events'
    .footer
      = button_tag '', onclick: 'topFunction()', title: 'Go to top', style: 'background-color: #222; border: none;' do
        = image_tag('logo.png', height: '50px', width: '50px')
      %p.small
        = 'If you face any problems or have a question, please contact me'
        = mail_to 'admin@swisssmash.ch', 'via email.', subject: 'I faced a problem or have a question!', body: "Hi SwissSmash\n\nI'm ??? and I would like to ???"
