!!!
%html
  %head
    %title SSB Tournaments Bern
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag 'logo.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .wrapper.fixed-width
      .banner
        .fixed-width
          = image_tag 'banner.jpg', height: '200px', width: '100%', style: 'object-fit: cover;'
          .inside-banner
            = link_to image_tag('logistik.png', height: '150px', width: '150px'), root_path

      .header
        .fixed-width
          .navigation-header
            = render '/layouts/navigation'

        -# -# login header
        -# .col-md-6
        -#   .row.login-header
        -#     = render '/layouts/login'

      -# flash notifications and alerts
      .flashes
        .fixed-width
          = render '/layouts/flashes'

      -# main content (index.html)
      .container.content-wrapper
        .content
          = yield

    .footer
      = button_tag '', onclick: 'topFunction()', title: 'Go to top', style: 'background-color: #222; border: none;' do
        = image_tag('logo.png', height: '50px', width: '50px')
      %p
        = 'If you face any problems or have a question, please contact me'
        = mail_to 'admin@swisssmash.ch', 'via email.', subject: 'I faced a problem or have a question!', body: "Hi SwissSmash\n\nI'm ??? and I would like to ???"

:javascript
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  };
