.row
  .col
    %h1.page__title= t('users.my_account')
.row.mb-3
  .col
    = form_for(resource, class: 'form', as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :username, t('users.login_username')
        = f.text_field :username, autofocus: true, class: 'form-control', maxlength: '50'
      .form-group
        = f.label :email, t('users.email')
        = f.email_field :email, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      - unless session['country_code'] == 'uk'
        .form-group
          = f.label :mobile_number, t('users.mobile_number')
          - if session['country_code'] == 'ch'
            %em= "(079 / 123 45 67)"
          - elsif session['country_code'] == 'de'
            %em= "(01522 1234567)"
          - elsif session['country_code'] == 'fr'
            %em= "(06 12 34 56 78)"
          - elsif session['country_code'] == 'lu'
            %em= "(621 123 456)"
          - elsif session['country_code'] == 'it'
            %em= "(300 1234 567)"
          - elsif session['country_code'] == 'pt'
            %em= "(91 234 5678)"
          -# - elsif session['country_code'] == 'uk'
              %em= "(07123 456 789)"
          - elsif session['country_code'] == 'is'
            %em= "(700 1234)"
          = f.text_field :mobile_number, class: 'form-control', maxlength: '50'
      .form-group
        = f.label :password, t('users.new_password')
        %i= t('users.leave_blank')
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation, t('users.new_password_conf')
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      -# .form-group.mb-0
      -#   .form-check
      -#     = f.check_box :wants_major_email, class:'form-check-input mr-2'
      -#     = f.label :wants_major_email, t('users.wants_major_email'), class:'form-check-label'
      -# .form-group
      -#   .form-check
      -#     = f.check_box :wants_weekly_email, class:'form-check-input mr-2'
      -#     = f.label :wants_weekly_email, t('users.wants_weekly_email'), class:'form-check-label'
      - if session['country_code'] == 'ch'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_swisssmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_swisssmash, t('users.allows_emails_from_swisssmash'), class:'form-check-label'
      - elsif session['country_code'] == 'de'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_germanysmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_germanysmash, t('users.allows_emails_from_germanysmash'), class:'form-check-label'
      - elsif session['country_code'] == 'fr'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_francesmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_francesmash, t('users.allows_emails_from_francesmash'), class:'form-check-label'
      - elsif session['country_code'] == 'lu'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_luxsmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_luxsmash, t('users.allows_emails_from_luxsmash'), class:'form-check-label'
      - elsif session['country_code'] == 'it'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_italysmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_italysmash, t('users.allows_emails_from_italysmash'), class:'form-check-label'
      - elsif session['country_code'] == 'uk'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_uksmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_uksmash, t('users.allows_emails_from_uksmash'), class:'form-check-label'
      - elsif session['country_code'] == 'pt'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_portugalsmash, class:'form-check-input mr-2'
            = f.label :allows_emails_from_portugalsmash, t('users.allows_emails_from_portugalsmash'), class:'form-check-label'
      - elsif session['country_code'] == 'is'
        .form-group
          .form-check
            = f.check_box :allows_emails_from_smashiceland, class:'form-check-input mr-2'
            = f.label :allows_emails_from_smashiceland, t('users.allows_emails_from_smashiceland'), class:'form-check-label'
      .form-group
        .form-check
          = f.check_box :allows_emails_from_partners, class:'form-check-input mr-2'
          = f.label :allows_emails_from_partners, t("users.allows_emails_from_partners_#{session['country_code']}"), class:'form-check-label'
      -# - if current_user.admin?
      -#   %hr
      -#   %p
      -#     %strong Admins only:
      -#   .form-group
      -#     = f.label :full_name, t('users.full_name')
      -#     %i= t('users.first_and_last_name')
      -#     = f.text_field :full_name, class: 'form-control', maxlength: '50'
      -#   .form-group
      -#     = f.label :area_of_responsibility, t('users.area_of_responsibility')
      -#     %i (Bern, Zurich, Geneva, ...?)
      -#     = f.text_field :area_of_responsibility, class: 'form-control', maxlength: '50'
      - if current_user.super_admin? || current_user.has_role?('tournament_organizer')
        %hr
        %p
          %strong TOs only:
        .form-group
          = f.label :challonge_username, t('users.challonge_username')
          = f.text_field :challonge_username, class: 'form-control'
        .form-group
          = f.label :challonge_api_key, t('users.challonge_api_key', link: link_to('https://challonge.com/en/settings/developer', 'https://challonge.com/en/settings/developer', target: '_blank')).html_safe
          = f.text_field :challonge_api_key, class: 'form-control'
      - if current_user.super_admin? || current_user.has_role?('seller')
        %hr
        %p
          %strong Seller only:
        .form-group
          = f.label :stripe_account_id, t('users.stripe_account_id', link: link_to(t('users.stripe_account_link'), shop_stripe_account_link_path)).html_safe
          = f.text_field :stripe_account_id, class: 'form-control', readonly: true
      .form-group
        .form-check
          = f.check_box :stripe_account_is_ready, {class: 'form-check-input mr-2', disabled: true, value: current_user.stripe_account_is_ready}
          = f.label :stripe_account_is_ready, t('users.stripe_account_linked_correctly'), class:'form-check-label'
        %hr
      .form-group{style: 'margin-top: 2rem;'}
        %strong= f.label :current_password, t('users.current_password')
        %i= t('users.enter_current_password')
        = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      .actions
        = f.submit t('update'), class: 'btn btn-block btn-cyan'
%br
%br
%hr
.row
  .col
    %h2= t('users.delete_my_account')
    %p
      = t('users.unhappy')
      = button_to t('users.delete_account'), user_registration_path, data: { confirm: t('confirm') }, method: :delete, class: 'btn btn-block btn-sstm'
