<h1>Signing up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='row'>

    <div class='col-md-12 col-xs-12'>

      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <p>
        <%= label_tag :self_assessment %><br />
        <%= radio_button_tag :self_assessment, 0, false %>
          <%= self_assessment_defines[0] %>
        <%= radio_button_tag :self_assessment, 1, true %>
          <%= self_assessment_defines[1] %>
        <%= radio_button_tag :self_assessment, 2, false %>
          <%= self_assessment_defines[2] %>
      </p>

      <p>
        <%= label_tag :tournament_experience %><br />
        <%= radio_button_tag :tournament_experience, 0, false %>
          <%= tournament_experience_defines[0] %>
        <%= radio_button_tag :tournament_experience, 1, true %>
          <%= tournament_experience_defines[1] %>
        <%= radio_button_tag :tournament_experience, 2, false %>
          <%= tournament_experience_defines[2] %>
      </p>

      <div class="form-group">
        <%= label_tag :comment, "Comment (for what ever you want to tell the world)" %><br />
        <%= text_area_tag :comment %>
      </div>

    </div>

  </div>

  <div class='row'>

    <div class="col-md-12 col-xs-12 actions">
      <%= f.submit "Register", class:'btn btn-primary' %>
    </div>

  </div>

  <p> </p>
  <p><%= link_to "Back", :back %></p>

<% end %>
