.row
  .col
    %h1.page__title Signing up
.row
  .col
    = form_for(resource, as: resource_name, url: user_registration_path) do |f|
      = devise_error_messages!
      .form-group
        = f.label :username, 'Username *'
        %em= "(= Gamer tag)"
        = f.text_field :username, autofocus: true, class: 'form-control'
      .form-group
        = label_tag :prefix, 'Sponsor prefix'
        = text_field_tag :prefix, nil, class: 'form-control'
      .form-group
        = f.label :email, 'Email *'
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :mobile_number
        %em= "(079 / 123 45 67)"
        = f.text_field :mobile_number, class: 'form-control'
      .form-group
        = f.label :password, 'Password *'
        - if @minimum_password_length
          %em= "(#{@minimum_password_length} characters minimum)"
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation, 'Password confirmation *'
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = label_tag :canton
        = select_tag :canton, options_for_select(cantons), {include_blank: true, class: 'form-control'}
      .form-group
        = label_tag :gender
        = select_tag :gender, options_for_select(genders), {include_blank: true, class: 'form-control'}
      .form-group
        = label_tag :birth_year
        = select_tag :birth_year, options_for_select(birth_years), {include_blank: true, class: 'form-control'}
      .form-group
        = label_tag :self_assessment
        = select_tag :self_assessment, options_for_select(self_assessment_defines.map.with_index{|d, i|[d, i]}), {class: 'form-control'}
      .form-group
        = label_tag :tournament_experience
        = select_tag :tournament_experience, options_for_select(tournament_experience_defines.map.with_index{|d, i|[d, i]}), {class: 'form-control'}
      .form-group
        = label_tag :main_characters
        %em= "(you can add up to three by separating them with a comma)"
        = text_field_tag :main_characters, nil, class: 'form-control'
      .form-group
        = label_tag :comment, "Comment"
        %em= "(for what ever you want to tell the world)"
        = text_area_tag :comment, nil, class: 'form-control'
      .form-group.mb-0
        .form-check
          = f.check_box :wants_major_email, checked: true, class:'form-check-input mr-2'
          = f.label :wants_major_email, 'Inform me when a major tournament was added', class:'form-check-label'
      .form-group
        .form-check
          = f.check_box :wants_weekly_email, checked: true, class:'form-check-input mr-2'
          = f.label :wants_weekly_email, 'Inform me when a weekly tournament was added', class:'form-check-label'
      .form-group
        = f.submit "Register", class:'btn btn-ghost'
