%h1 Signing up
.row
  .col-md-8
    = form_for(resource, as: resource_name, url: user_registration_path) do |f|
      = devise_error_messages!
      .row
        .col-md-12.col-xs-12
          .field.form-group
            = f.label :username, 'Username (Gamer tag)'
            = f.text_field :username, autofocus: true, class: 'form-control'
          .field.form-group
            = f.label :email
            = f.email_field :email, class: 'form-control'
          .field.form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .field.form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          %p
            = label_tag :self_assessment
            - self_assessment_defines.count.times do |i|
              = radio_button_tag :self_assessment, i, false
              = self_assessment_defines[i]
          %p
            = label_tag :tournament_experience
            - tournament_experience_defines.count.times do |i|
              = radio_button_tag :tournament_experience, i, false
              = tournament_experience_defines[i]
          .field.form-group
            = label_tag :comment, "Comment (for what ever you want to tell the world)"
            %br
            = text_area_tag :comment, nil, class: 'form-control'
      .row
        .col-md-12.col-xs-12.actions
          = f.submit "Register", class:'btn btn-primary'

  .col-md-4
    %p= link_to 'Back', :back
