.row
  .col
    %h1.page__title= t('users.signing_up')
.row
  .col
    = form_for(resource, as: resource_name, url: user_registration_path) do |f|
      -# = recaptcha_v3(action: 'registration')
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :username, "#{t('users.login_username')} *"
        = f.text_field :username, autofocus: true, class: 'form-control'
      .form-group
        = label_tag :gamer_tag, "#{t('players.gamer_tag')} *"
        = text_field_tag :gamer_tag, params[:gamer_tag], class: 'form-control'
      .form-group
        = label_tag :prefix, t('players.prefix')
        %em= "(XYZ)"
        = text_field_tag :prefix, params[:prefix], class: 'form-control'
      .form-group
        = label_tag :discord_username, t('players.discord_username')
        %em= "(User#1234)"
        = text_field_tag :discord_username, params[:discord_username], class: 'form-control'
      .form-group
        = label_tag :twitter_username, t('players.twitter_username')
        = text_field_tag :twitter_username, params[:twitter_username], class: 'form-control'
      .form-group
        = label_tag :instagram_username, t('players.instagram_username')
        = text_field_tag :instagram_username, params[:instagram_username], class: 'form-control'
      .form-group
        = f.label :email, "#{t('users.email')} *"
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :mobile_number, t('users.mobile_number')
        %em= "(079 / 123 45 67)"
        = f.text_field :mobile_number, class: 'form-control'
      .form-group
        = f.label :password, "#{t('password')} *"
        - if @minimum_password_length
          %em= t('users.chars_min', pw_length: @minimum_password_length)
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation, "#{t('users.password_confirmation')} *"
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = label_tag :canton, t('players.canton')
        = select_tag :canton, options_for_select(cantons_for_select, params[:canton]), {include_blank: true, class: 'form-control'}
      .form-group
        = label_tag :gender, t('players.gender')
        = select_tag :gender, options_for_select(genders_for_select, params[:gender]), {include_blank: true, class: 'form-control'}
      .form-group
        = label_tag :birth_year, t('players.birth_year')
        = select_tag :birth_year, options_for_select(birth_years, params[:birth_year]), {include_blank: true, class: 'form-control'}
      .form-group
        = label_tag :self_assessment, t('players.self_assessment')
        = select_tag :self_assessment, options_for_select(self_assessment_defines.map.with_index{|d, i|[d, i]}, params[:self_assessment]), {class: 'form-control'}
      .form-group
        = label_tag :tournament_experience, t('players.tournament_experience')
        = select_tag :tournament_experience, options_for_select(tournament_experience_defines.map.with_index{|d, i|[d, i]}, params[:tournament_experience]), {class: 'form-control'}
      .form-group
        = label_tag :main_characters, t('players.main_characters')
        %em= t('players.up_to_three')
        .main_chars{style: 'display: inline-block;'}
          - Dir.entries("#{Rails.root}/app/assets/images/characters").map{|f| f if !f.include?("200x200") and f[0] != '.'}.compact.sort.each_with_index do |file, i|
            - character = file.sub('.png', '')
            .main_char{style: 'float: left;'}
              .tooltip.tooltip_character
                = image_tag "characters/#{file}", height: '25px', width: '25px'
                %span.tooltiptext
                  = character.split('_').map(&:capitalize).join(" ").gsub('And', 'and')
                = radio_button('main_char1', nil, character, style: 'margin-left: -3px;', checked: ((params[:main_char1].present? and params[:main_char1][0] == character) ? 'checked' : ''))
                = radio_button('main_char2', nil, character, style: 'margin-left: -2px;', checked: ((params[:main_char2].present? and params[:main_char2][0] == character) ? 'checked' : ''))
                = radio_button('main_char3', nil, character, style: 'margin-left: -2px; margin-right: 8px;', checked: ((params[:main_char3].present? and params[:main_char3][0] == character) ? 'checked' : ''))
      .form-group
        = label_tag :comment, t('players.comment')
        %em= t('players.for_what_ever')
        = text_area_tag :comment, params[:comment], rows: '5', class: 'form-control'
      .form-group
        = label_tag :youtube_video_ids, t('players.youtube_video_ids')
        %em= t('players.youtube_video_ids_examples').html_safe
        = text_area_tag :youtube_video_ids, params[:youtube_video_ids], rows: '3', class: 'form-control'
      .form-group.mb-0
        .form-check
          = f.check_box :wants_major_email, checked: (params[:user].present? ? (params[:user][:wants_major_email] == "1") : true), class:'form-check-input mr-2'
          = f.label :wants_major_email, t('users.wants_major_email'), class:'form-check-label'
      .form-group
        .form-check
          = params[:wants_weekly_email]
          = f.check_box :wants_weekly_email, checked: (params[:user].present? ? (params[:user][:wants_weekly_email] == "1") : true), class:'form-check-input mr-2'
          = f.label :wants_weekly_email, t('users.wants_weekly_email'), class:'form-check-label'
      .form-group
        = recaptcha_tags
      .form-group
        = f.submit t('users.register'), class:'btn btn-ghost'
